[2016-12-19 11:30] gep13 commented on #350
@pascalberger do you have Chocolatey installed in a custom location?  Or is it installed to default?

[2016-12-19 11:30] pascalberger commented on #350
Default location (installed using the command provided on the Chocolatey website)

[2016-12-19 12:30] RichiCoder1 commented on #350
Apologies. This was due to a flawed checked. Fixing now.

[2016-12-19 12:41] RichiCoder1 commented on #350
Fixed: ec8fe869c5ce722ba6dbfe0f981f5b4e6b35b617

[2016-12-19 12:41] #350 closed

[2016-12-19 12:45] pascalberger opened #351 "Error starting v0.14.0-unstable0144"
After installing `v0.14.0-unstable0144` using `choco install chocolateygui --source https://www.myget.org/F/packages_develop/api/v2 --pre` I get the following error while starting Chocolatey:

![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21313322/6eb451e6-c5f1-11e6-942f-f5a504337825.png)

OS: Microsoft Windows [Version 10.0.10586]

[2016-12-19 12:49] #351 closed

[2016-12-19 13:02] pascalberger opened #352 "NullReferenceException on closing settings"
## Steps to reproduce:
* Start ChocolateyGUI
* Go to settings
* Go to About
* Go back to Options
* Click < Button

## Error message
![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21313716/ae829042-c5f3-11e6-9acc-34fad7db7073.png)

## Version
ChocolateyGUI Version: v0.14.0-unstable0144

[2016-12-19 13:11] pascalberger opened #353 "Errors on console updating package"
I tried updating the NodeJs package using ChocolateyGUI Version v0.14.0-unstable0144. While update was successful cn the console several errors are shown:

[code]

[Full log](https://gist.github.com/pascalberger/5077d9f5258332573fed12024da7d4d0)

[2016-12-19 13:14] RichiCoder1 commented on #353
That's bizarre....the install was indeed fine, but for some reason chocolatey was failing to serialize some odd property. And since you were able to install, it likely wasn't a full on permissions eror. Somehow you have permission to install, but not to write `C:\ProgramData\chocolatey\config\chocolatey.config.update`. /cc @ferventcoder any ideas?

[2016-12-19 13:18] pascalberger commented on #353
Just starting ChocolateyGUI also leads to some errors:

[code]

Might it be an issue using the professional version (Chocolatey v0.10.3 Professional)?

[2016-12-19 13:43] pascalberger opened #354 "Maintainers not shown in package details"
In the package details dialog the "Maintainers" always seem to be empty:

![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21314842/69d299a0-c5f9-11e6-9cb5-b3062f2a0403.png)

## Versions
Chocolatey: v0.10.3 Professional
ChocolateyGUI: v0.14.0-unstable0145

[2016-12-19 13:46] pascalberger opened #355 "Link not parsed in Release Notes"
ChocolateyGUI doesn't render links in the release notes section as links:

![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21314895/bd3e93f0-c5f9-11e6-85e0-be9239624041.png)

While they are parsed as HTML links on chocolatey.org:

![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21314925/eb2f2504-c5f9-11e6-8f2e-a75550d0d76b.png)

## Versions
Chocolatey: v0.10.3 Profe

[2016-12-19 13:54] pascalberger opened #356 "Rendering of headings in description"
See the [Visual Studio Code Package](), which follows the [Core Team Packages Guidelines for Description](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines#123-informative-description).

While rendering of the description looks nice on chocolatey.org:

![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21315071/b338efbc-c5fa-11e6-8a2d-abb81be17ef1.

[2016-12-19 13:57] pascalberger commented on #352
In which release should this be fixed? I still get the same exception in `v0.14.0-unstable0147`

[2016-12-19 14:00] pascalberger opened #357 "NullReferenceException opening settings while packages are loading"
## Steps to reproduce
* Start ChocolateyGui
* Click on the `settings` link in the title bar while ChocolateyGUI is still loading the packages installed on the local machine

## Exception
![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21315300/ccb30436-c5fb-11e6-83a1-4b4f6fd10eff.png)

## Versions
Chocolatey: v0.10.3 Professional
ChocolateyGUI: v0.14.0-unstable0145

[2016-12-19 14:32] pascalberger commented on #349
@RichiCoder1 Also the [Wiki](https://github.com/chocolatey/ChocolateyGUI/wiki/How-to-add-a-new-custom-source) seems to be outdated and should be updated for the new version.

[2016-12-19 14:43] gep13 commented on #349
I think that the wiki should be ripped out, in favour of some docs that are a bit closer to the code, so that we can at least attempt to update them with a new release of ChocolateyGUI.  I would want to use something like DocFx, or more likely Wyam, to generate a site, based on some markdown files stored directly in the repo.

@RichiCoder1 thoughts?

[2016-12-19 14:50] RichiCoder1 commented on #349
@gep13 I was literally coming here from the the email to say we should do exactly that :). DocFx + Github Pages = Yes.

[2016-12-19 14:50] RichiCoder1 commented on #349
We should think about securing the `gui.chocolatey.org` subdomain from @ferventcoder.

[2016-12-19 14:52] RichiCoder1 commented on #355
Hmm. This is a shortcoming of markdown engine. If the package maintainer doesn't use proper markdown syntax to identify URLs, they don't show up as links. Not sure how trivial it'd be to fix this either.

[2016-12-19 14:54] RichiCoder1 commented on #356
Agreed. Now that we have a proper markdown engine, I'm thinking on how to restyle that whole central section. Any feedback in regards to that is welcome.

[2016-12-19 14:54] RichiCoder1 commented on #353
That's what I'm thinking.

[2016-12-19 14:58] gep13 commented on #355
@RichiCoder1 I don't think the markdown engine being used on Chocolatey.org does anything special here.

[2016-12-19 14:58] RichiCoder1 commented on #352
Weird. I'l continue to look into it.

[2016-12-19 15:01] gep13 commented on #349
We should think about securing the gui.chocolatey.org subdomain from @ferventcoder.

That is a fantastic idea! Rob?

[2016-12-19 15:05] pascalberger opened #358 "Option for hiding disabled package sources"
Currently all sources are listed without any visual indication about their state. In my use case I plan to use ChocolateyGUI as self-service portal in an enterprise environment. While we have a feed for testing packages, I don't wan't users to see it by default. A switch to disable listing of disabled feeds in the settings would be nice, and if they are shown they should be shown differently than

[2016-12-19 15:07] pascalberger opened #359 "Order sources by priority and state"
Sources in the left sidebar should be ordered:

1. Enabled sources first, before disabled sources
2. By priority

[2016-12-19 16:57] RichiCoder1 commented on #358
Testing multiple sources has gotten the *least* testing of anything. I'll work on this next :)

[2016-12-19 18:08] ferventcoder commented on #349
Interesting yes - that would be nice. We could also start integrating CLI / GUI docs together?

[2016-12-19 18:09] ferventcoder commented on #349
But for now, maybe add a subdomain?

[2016-12-19 19:25] RichiCoder1 commented on #349
Yup. Just getting a subdomain going would be step #1

[2016-12-19 20:06] pascalberger opened #360 "Error starting v0.14.0-unstable0147"
I just installed ChocolateyGUI on another machine and receive the following error on startup:

![untitled](https://cloud.githubusercontent.com/assets/2190718/21327344/eac68636-c62e-11e6-8d25-dc2b3bb71ee7.png)

OS: Microsoft Windows [Version 10.0.14965]

[2016-12-20 10:29] RichiCoder1 commented on #263
With the overhaul of the settings page, should no longer be relevent in latest develop.

[2016-12-20 10:29] #263 closed

[2016-12-20 10:31] RichiCoder1 commented on #352
I can't reproduce on the latest develop.

[2016-12-20 10:52] RichiCoder1 commented on #354
Weird. Looks like we're not getting maintainers back from the API.

[2016-12-20 11:06] pascalberger commented on #352
@RichiCoder1 Is there any difference between `v0.14.0-unstable0147` available from `https://www.myget.org/F/packages_develop/api/v2` and develop? Couldn't you also reproduce with `v0.14.0-unstable0147`?

[2016-12-20 15:54] RichiCoder1 commented on #360
I do believe you have managed to run into the infamous config corruption bug. I've got a PR open over here to try and fix it: https://github.com/chocolatey/choco/pull/1084

[2016-12-20 15:55] #359 closed

[2016-12-20 19:26] RichiCoder1 commented on #355
Ahh, I think this might be as simple as flipping a switch indeed.

[2016-12-20 20:56] pascalberger commented on #352
After uninstalling all ChocolateyGUI instances from Program & Features and running `choco install` again this is fixed.

[2016-12-20 20:56] #352 closed

[2016-12-20 21:18] pascalberger commented on #358
I see ChocolateyGUI as a frontend for endusers for installing and updating packages. So in my case they shouldn't bother about sources at all, and therefore are not interested in hidden sources, or if they are should be able to use cmd line.

[2016-12-20 21:27] RichiCoder1 commented on #358
Agreed.

[2016-12-20 21:27] #358 closed

[2016-12-20 21:32] pascalberger commented on #124
@RichiCoder1 Can't this be closed with the recent commits?

[2016-12-20 21:34] RichiCoder1 commented on #124
Ahh yes, thanks for reminding me.

[2016-12-20 21:34] #124 closed

[2016-12-20 21:59] pascalberger opened #366 "Two entries in Programs & Features after choco upgrade"
To reproduce:

* `choco install chocolateygui --source https://www.myget.org/F/packages_develop/api/v2 --version v0.14.0-unstable0160`
* `choco upgrade chocolateygui --source https://www.myget.org/F/packages_develop/api/v2 --version v0.14.0-unstable0165`

After the `choco upgrade` there are two entries for ChocolateyGUI in the control panel.

[2016-12-21 16:32] Happy-User opened #368 "Win7 Powershell5 update"
Using Win7 SP1 with ChocoGUI 0.13.2.

Unwittingly updated Powershell5 to latest available. GUI now crashes with trying to retrieve installed packages on startup, with an unhandled exception - apologies will post a screen shot when back on my win7 machine.
Haven't upgraded on other systems just in case, which continue to function fine, so not sure if this is a powershell/win7 interaction issue.
![i

[2016-12-21 18:26] RichiCoder1 commented on #366
Ahh, I think I figured it out. MSI treats installs with the same version code & Major.Minor.Patch version as seperate installs. Looks like if I set `AllowSameVersionUpgrades` to `yes`, it should treat same version installs as upgrades. I'll get on that 👍

[2016-12-21 20:36] RichiCoder1 commented on #355
Fixed by 0f4d253a7a9a71e00c790d3b46b209392111c4d6

[2016-12-21 20:36] #355 closed

[2016-12-22 11:43] pascalberger opened #370 "Duplicated entries"
I somehow managed to have the entries in the "This PC" list to be duplicated:

![unbenannt](https://cloud.githubusercontent.com/assets/2190718/21424597/2f48e68e-c844-11e6-8888-40a74fd59a30.png)

Not sure how to reproduce though (I did reinstall one app, clicked once on the refresh button, switched between normal and updated view)

[2016-12-22 17:02] RichiCoder1 commented on #370
You're no the first person to see this, but I've never been able to reproduce. If you do manage, please let me know.

[2017-01-08 20:38] gep13 opened #371 "Add check for useBackgroundService"
ChocolateyGUI needs to look in the config file and see if features/useBackgroundService is there and if it is set to true.

Then allow running install/upgrade without trying to seek admin rights.

[2017-01-08 20:39] ferventcoder commented on #371
Thanks!

[2017-01-08 20:40] ferventcoder commented on #371
cc @RichiCoder1 (I believe we chatted about this awhile back so if this is already done... ;))

[2017-01-08 20:47] RichiCoder1 commented on #371
@ferventcoder Saaaadly no. Everything is in place to make this check, but I haven't done the work itself. Sadly my actual job went from 1 to 60 just recently.

[2017-01-09 05:04] wjk commented on #343
@ScottIsAFool Exactly! One of my main complaints about error reporting in general is that the details are usually swept under the rug for the benefit of technophobes who can't handle the nitty-gritty, but those people like me who want or need to see the nitty-gritty (usually to diagnose a nasty problem) are out of luck. I would definitely support a setting (disabled by default) that enables extra

[2017-01-10 16:32] ferventcoder opened #372 "ChocolateyGUI errors on subprocess when attempting to open more than one instance of ChocolateyGUI"
This happens when opening the GUI as a non-admin

![image](https://cloud.githubusercontent.com/assets/63502/21814770/04fb834c-d720-11e6-9765-de7951837a13.png)

[2017-01-10 16:33] gep13 commented on #372
@RichiCoder1 can you do a brain dump here about what the subprocess is, and what problem it is solving?  Thanks!

[2017-01-10 16:56] RichiCoder1 commented on #372
Well that's an odd error.

ChocolateyGUI.Subprocess is an independent child process of ChocolateyGui that acts as an out-of-process shim for the Chocolatey API. It allows for crash isolation and recovery as well as, most importantly, independent elevation of the ChocolateyGui.Suprocess so that admin operations may be requested and performed without requiring a full application restart.

Chocolatey

[2017-01-10 16:56] ferventcoder commented on #372
Found it
It's multiple ChocolateyGUI's open.

[2017-01-10 16:57] ferventcoder commented on #372
Sorry, I wasn't paying attention to which log file.

![image](https://cloud.githubusercontent.com/assets/63502/21815806/8a2fa87e-d723-11e6-953c-2203ec8fd0dd.png)

[2017-01-10 16:58] RichiCoder1 commented on #372
Well nuts. One thing I never implemented was socket-in-use checking, every instance of ChocolateyGUI will try and use the same socket xD. I'll work on fixing that.

[2017-01-10 16:58] ferventcoder commented on #372
Once I shut down the one from the admin user, then boom, it works great!

[2017-01-10 17:11] gep13 commented on #372
@RichiCoder1 @ferventcoder do we think that it would make sense to make ChocolateyGUI a single instance application?

[2017-01-10 17:25] RichiCoder1 commented on #372
Then we'd have to fight w/ process elevation again amongst other things. The OOP actually works really well, I just need to fix the socket picking. @gep13 Any particular reason you'd like to move back?

[2017-01-14 22:04] gep13 opened #373 "Generate Documentation/Blog using Wyam"
Once we have the Cake PR pulled in, this should be simple.

/cc @daveaglick

[2017-01-14 22:13] gep13 commented on #315
@wjk thanks for reporting this!

[2017-01-14 22:13] #315 closed

[2017-01-14 22:28] #314 closed

[2017-01-14 22:29] gep13 commented on #170
@mwallner this is the issue that I think you might want to look at.  Thanks!

[2017-01-14 22:30] gep13 commented on #246
@RichiCoder1 am I right in saying that this is complete?

[2017-01-14 23:35] daveaglick commented on #373
Wyam all the things!

[2017-01-15 00:16] mwallner commented on #170
Jup, thx - working on it :-) - I'm splitting the dev up into two issues - first one moves English strings to resx - second one adds my German translation. (can assign me if you want) - just a busy week and new StyleCop !#@arrrgh

[2017-01-15 01:22] RichiCoder1 commented on #246
Ish. There is a little more work I'd like to do, but it's almost done.

[2017-01-15 07:02] gep13 commented on #373
Wyam all the things!

That's the plan :-)

[2017-01-15 07:34] gep13 commented on #170
@mwallner are there any rules in particular that you are finding jarring? We can discuss turning other rules off.

[2017-01-15 10:12] gep13 commented on #341
This was actually known with commits labelled #349

[2017-01-15 10:12] #341 closed

[2017-01-15 18:19] mwallner opened #375 "German localization"
Strings.de.resx containing German resource strings.
(extends GH-170)

[2017-01-17 23:00] ferventcoder opened #376 "chocolateygui.portable package"
This seems like a great add. Just a package that has the software in it with no dependencies.

[2017-01-18 03:22] RichiCoder1 commented on #376
I don't see why this wouldn't be possible. We might have to tweak how logs are written so we don't write to ProgramData, but otherwise this seems like a fine idea to me.

[2017-01-18 08:33] Razzeee opened #377 "InvalidOperationException on startup"
For some reason chocolatey gui fails to start for me. I think I also get this on multiple PCs.

![image](https://cloud.githubusercontent.com/assets/5943908/22056568/ff80ce8a-dd60-11e6-89f1-fb5ee968b534.png)

![image](https://cloud.githubusercontent.com/assets/5943908/22056632/4776e9a4-dd61-11e6-9061-c66a01385460.png)

[2017-01-20 14:07] laperouse opened #380 "Dates are displayed in US format not in machine locale format"
Dates displayed on a package detail view (last update for instance) are displayed in US format whereas the machine date format is French.
Dates times and numbers, should be displayed using the machine locale format.

(Surprisingly package size is in the machine locale already, probably because it is formatted to string through a windows API.)

Localization can be done using a WPF localized binding

[2017-01-22 23:03] RichiCoder1 commented on #380
Huh. I was 99% sure this was an automatic thing. I'll look into fixing this.
(And you're correct about package sizing).

[2017-01-25 04:26] Daniel15 commented on #295
You can get an inexpensive code signing cert for open-source projects from Certum: https://www.certum.eu/certum/cert,offer_en_open_source_cs.xml. It's 14 Euro per year.

[2017-01-27 02:04] wjhill commented on #377
I'm having the same issues. Per the Submitting Issues section:

- [Log](https://gist.github.com/wjhill/72585cf4185d4ba2b65f6d361e291a07)

- OS Version: Windows 10 Pro 1607 (Build 14393.693)

- Chocolatey Version: 0.10.3 (Professional License)

- PowerShell Version: 5.1.14393.693

Chocolatey has always been run as Admin on this machine, as was the GUI -- I start them from a normal user account and

[2017-02-01 07:54] mwallner opened #384 "move localization/resource strings from Strings.resx to Resources.resx"
seemingly the 'automatic' localization only works for Resources.resx ?

[2017-02-02 21:24] gep13 commented on #82
Now that we are using Cake.Recipe as part of the build process, this is now taken care of for us automagically.

We of course still need to write the tests, however, this part has at least been done.

[2017-02-02 21:24] #82 closed

[2017-02-03 21:20] #373 closed

[2017-02-03 21:24] gep13 opened #387 "Remove unnecessary Wyam variables"

[2017-02-03 21:26] #387 closed

[2017-02-03 21:27] gep13 opened #388 "Change name of appveyor file"

[2017-02-03 21:27] #388 closed

[2017-02-03 21:28] gep13 opened #389 "Remove Gitter Configuration from yml file"

[2017-02-03 21:28] #389 closed

[2017-02-03 21:28] gep13 opened #390 "Make tools folder invalidation dependent on setup.cake"

[2017-02-03 21:29] #390 closed

[2017-02-03 21:29] gep13 opened #391 "Correct AppVeyor Skip Regular Expression"

[2017-02-03 21:29] #391 closed

[2017-02-03 21:30] gep13 opened #392 "Prevent execution of GitLink"
This is not required for this project, and actually results in a failed build.

[2017-02-03 21:31] #392 closed

[2017-02-03 21:33] gep13 opened #393 "Remove hard coded path to ruleset file"
As discussed here:

https://gitter.im/chocolatey/ChocolateyGUI?at=589248c3dcb66e4f76dbf7b6

/cc @mwallner

[2017-02-03 21:51] gep13 commented on #384
@mwallner is this work still to be done?

[2017-02-03 21:53] gep13 commented on #375
@mwallner am I right in saying that this can be closed?

[2017-02-03 22:48] gep13 opened #394 "Added Gitter and GitHub links"
As per conversation here:

https://gitter.im/Wyamio/Wyam?at=5895085b1319d8183eec4eec

[2017-02-03 23:20] mwallner commented on #375
Yup

[2017-02-03 23:20] #375 closed

[2017-02-03 23:21] mwallner commented on #384
Nope, already in GH-386

[2017-02-03 23:21] #384 closed

[2017-02-05 20:53] gep13 commented on #170
Thanks to @mwallner this has been taken care of 😄

[2017-02-05 20:53] #170 closed

[2017-02-05 20:54] gep13 opened #395 "Globalisation - Dutch"

[2017-02-05 20:55] gep13 commented on #395
@chrissie1 following the work that @mwallner has done to get support for the German Language, would you be interested in supporting Dutch?  Thanks!

[2017-02-05 20:56] gep13 opened #396 "Globalisation - Swedish"
@devlead @patriksvenson following the work that @mwallner has done to get support for the German langauge, would you be interested in providing support for Swedish?  Thanks!

[2017-02-06 00:37] magol commented on #396
Jag hjälper gärna till att översätta till svenska 😊

I'm want to help to translate to Swedish

[2017-02-06 07:09] gep13 commented on #396
I'm want to help to translate to Swedish

That is great news!

Perhaps @mwallner could provide a brief overview of how to approach adding another locale into the project?

[2017-02-06 09:28] mwallner commented on #396
nice! - I'm going to write a little 'HOWTO- do translation for ChocolateyGUI' - but It'll take 1-2 days...

[2017-02-06 09:29] mwallner commented on #395
nice! - I'm going to write a little 'HOWTO- do translation for ChocolateyGUI' - but It'll take 1-2 days...

[2017-02-06 11:03] gep13 commented on #395
@mwallner that sounds perfect.  Also sounds like something we should get into the new documentation site that I am creating for ChocolateyGUI:

https://chocolatey.github.io/ChocolateyGUI/about

It is very bare bones at the minute, but the framework is at least there, just need to fill it in 😄

[2017-02-06 18:45] mwallner opened #397 "ChocolateyGUI Globalisation HowTo"
there should be a globalisation-howto.md somewhere in docs

[2017-02-06 18:46] mwallner commented on #397
@gep13 working on it, probably due tomorrow evening

[2017-02-06 19:03] mwallner commented on #397
@gep13 it's going to be this file: https://github.com/mwallner/ChocolateyGUI/blob/localization/howto/docs/input/docs/localization-howto.md

- will put it in some nice language
- if you've any suggestions, let me know!

[2017-02-06 19:06] gep13 commented on #397
Looks good to me! I may end up moving it into another location as I add in the rest of the docs, but that isn't am issue, where you have it now is fine. Thanks for doing this!

[2017-02-07 14:26] magol commented on #397
I have a English version of Windows on my machine. Is it any way to manually select language (in `ChocolateyGui.exe.config` or in code) so that I can test my Swedish translation?

[2017-02-07 15:42] mwallner commented on #397
In theory, yes. (have not tried it yet - will add to the HowTo!)
I've you want to try it _now_ - following should do the trick
[code]
(I'd try adding that App.xaml.cs right before application.Run();)
for CultureInfo-Codes see https://msdn.microsoft.com/en-us/library/ee825488(v=cs.20).aspx

HTH,

[2017-02-07 20:12] magol commented on #397
I have try to use `System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo("se-SE");` in the begining of Main in App.xaml.cs, but the UI is still in English :-(

[2017-02-07 20:17] RichiCoder1 commented on #397
@magol Even after you added translations with the appropriate resource file? I'd also open a package description and see if the package size decimal representation is correct.

[2017-02-07 20:31] magol commented on #397
Yes, I have added a `Properties\Resources.sv.resx` containing the translated strings.

If I open the package description, the decimal formatting is correct.

[2017-02-07 20:42] RichiCoder1 commented on #397
Did you mean `Properties\Resources.se.resx` or `Properties\Resources.se-SE.resx`?

[2017-02-07 20:58] mwallner commented on #397
@magol  : In `ChocolateyGui.App.Main` - try following
[code]

With your copy of Resources.se.resx in Properties. (just tried it - works for me)

[2017-02-07 20:59] mwallner commented on #397
@magol .. whoops - I think I've just spotted it: your file is supposed to be named Resources.se.resx, not Resources.sv.resx I guess

[2017-02-07 21:12] magol commented on #397
Noooo,  way did i not see that 😠
Thanks that you point me in the right direction.

[2017-02-08 00:10] AdmiringWorm commented on #397
Actually it's supposed to be `sv`, `se` is Sami (Northern) From either Finland, Norway or Sweden.

A little more update to date list of culture codes is available here: https://msdn.microsoft.com/en-us/library/cc233982.aspx
Microsoft links to this page from the [CultureInfo](https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo(v=vs.110).aspx#CultureNames) API Documents

[2017-02-08 00:12] RichiCoder1 commented on #397
@AdmiringWorm In that case, the fix would have been changing the UI Culture override to `se` haha. Thanks for finding that list! I was trying to find it earlier.

[2017-02-08 20:11] RichiCoder1 opened #399 "The "title" of the UI is often wrong or non-sensical"
The title displayed in the task bar or other locations is often wrong or non-sensical. Should go through and make page titles consistent.

[2017-02-08 21:24] gep13 commented on #397
@mwallner note the link created above.

[2017-02-09 20:45] #397 closed

[2017-02-13 19:49] fwinkelbauer opened #401 "Absolute reference in .ruleset"
@gep13 I just wanted to let you know that the `ChocolateyGuiRules.ruleset` contains an absolute reference in line 3:

[code]

I guess the intended line should read

[code]

I have tested this on my machine and it doesn't change the output in Visual Studio, so I guess that this is just a very very minor thing.

[2017-02-13 20:06] gep13 commented on #401
@fwinkelbauer thanks for the further information.  This is related to this issue: #393

[2017-02-13 20:06] #401 closed

[2017-02-13 20:09] fwinkelbauer commented on #401
My bad... searching for "rule" and "set" didn't bring up anything. Should have checked "ruleset" as well 😆

[2017-02-13 20:34] gep13 commented on #401
Ha ha, no worries. GitHub search wins again :-)

[2017-02-13 20:56] #394 closed

[2017-02-13 21:09] #393 closed

[2017-02-13 21:25] gep13 opened #402 "ChocolateyGUI, Chocolatey GUI, Chocolatey Gui, or something else"
Seems like we refer to this differently depending on where in the application it is written.

Can you settle on what we want to call the application, and be consistent everywhere?

@ferventcoder @RichiCoder1 @mwallner

TL/DR

* ChocolateyGUI for when spaces are forbiden or not advised (choco pkg, github),
* otherwise use Chocolatey GUI for branding

[2017-02-13 21:51] RichiCoder1 commented on #402
I've always gone with ChocolateyGUI, but mostly for legacy reasons. Don't feel strongly any which way.

[2017-02-13 22:13] mwallner commented on #402
My first thought: 'ChocolateyGUI' as official name .. what's the official status/relation to Chocolatey? part of the organization?
I like how Rob calls biz-edition apps like 'Package Builder UI'

I'd suggest: either stick with

* ChocolateyGUI

or 'completely change it' to

* Chocolatey UI

[2017-02-13 22:26] RichiCoder1 commented on #402
The biggest reason I'd say GUI over UI is just that is a much cleaner play on the word `gooey`, as in gooey chocolatey :3.

[2017-02-13 22:28] mwallner commented on #402
:D ok - I like it either way!
nevertheless I'd like to hear @ferventcoder and @chrissie1 's opinions!

[2017-02-13 22:38] ferventcoder commented on #402
I like "Chocolatey GUI" or "ChocolateyGUI"

[2017-02-13 22:39] ferventcoder commented on #402
Package Builder UI, Package Internalizer UI, Package Pusher UI, Package Installer UI - those are some of the smaller ones.

[2017-02-14 06:03] AdmiringWorm opened #404 "Globalization - Norwegian Bokmål"
Since the swedish translation is on its way, perhaps consider a norwegian translation for the most used written edition of the language (Bokmål).

I'm of course willing to help out in that regard of course.

[2017-02-14 06:20] gep13 commented on #404
@AdmiringWorm this language was next on my list 🙂  Been thinking about what languages I have access to on terms of people I know. Thank you very much for offering to help with this!

[2017-02-14 07:50] AdmiringWorm opened #405 "Text/Header strings not prepared to be translated"
While working on a translation to Norwegian Bokmål I noticed that there was certain parts that haven't yet been prepared to be translated.

*Current findings*
The current parts that I found that haven't been prepared yet.
- Local/Remote package context menu
- Disabled Header in the SettingsView_Source

Places referencing the wrong string
- PackageView pin button is referencing the install button t

[2017-02-14 10:29] mwallner commented on #405
I'd like to see a PR :+1:

[2017-02-14 11:14] AdmiringWorm commented on #405
@mwallner PR submitted: #406

[2017-02-14 21:51] #331 closed

[2017-02-14 22:43] RichiCoder1 commented on #405
Closed by #406

[2017-02-14 22:43] #405 closed

[2017-02-14 23:57] RichiCoder1 commented on #372
Closed by #407

[2017-02-14 23:57] #372 closed

[2017-02-15 07:02] mwallner commented on #402
it's going to be "Chocolatey GUI" then?
* will try to identify 'wrong' and fix them sometime this week

[2017-02-15 08:09] RichiCoder1 commented on #402
My verdicts would be ChocolateyGUI for when spaces are forbiden or not advised (choco pkg, github), but otherwise use Chocolatey GUI for branding. Looks cleaner.

[2017-02-15 17:37] RichiCoder1 commented on #353
Just realized I never cc'd @ferventcoder on this, as I believe this is an issue with premature serialization attempts.

[2017-02-15 18:39] gep13 commented on #405
@AdmiringWorm thank you for submitting this, appreciate you taking the time to look at it!

[2017-02-15 18:43] AdmiringWorm commented on #405
@gep13 no problem, I probably missed some strings somewhere, as well as strings related to exceptions and logging was not added in #406. Mainly because, logging shouldn't be translated IMO, and didn't know which exceptions was displayed to the user so basically ignored those.

[2017-02-15 18:46] RichiCoder1 commented on #380
@laperouse Could you verify this is still an issue with the latest prerelease? I believe some work we're doing with localization might have incidentally fixed this.

[2017-02-17 00:00] RichiCoder1 commented on #119
Pretty sure this works now, and you can now manage sources through GUI itself.

[2017-02-17 00:00] #119 closed

[2017-02-17 00:00] RichiCoder1 commented on #209
Pretty happy with our MSI now.

[2017-02-17 00:00] #209 closed

[2017-02-17 00:01] RichiCoder1 commented on #265
I'm pretty sure I resolved this issue.

[2017-02-17 00:01] #265 closed

[2017-02-20 11:35] mwallner opened #409 "the 'download count' is not incremented after package install"
After installing a package it's download count is not increment right away (need to click 'refresh')
might be misleading concerning if a package install was successful or not

[2017-02-20 11:37] mwallner commented on #409
@RichiCoder1 I'd just say we incremented the displayed value by 1 after the package install is successful - might not be totally correct on the community feed with a lot of concurrent installs - but it definitely would be an improvement

[2017-02-20 18:36] mwallner commented on #409
me neither - drop it / working as intended?
* it just came up because we're using Chocolatey GUI in a small environment with just 100+ Packages (a change in download-count is noticeable if a lot of packages have only 30+ downloads 🤣 )

[2017-02-20 18:38] RichiCoder1 commented on #409
I'm going to say it's an interesting idea, but veto for now.  Puts things in an inconsistent state, and our package state management in GUI is already a bit weird :P

[2017-02-20 18:38] #409 closed

[2017-02-20 21:42] gep13 commented on #409
For what it is worth, I agree with this decision.  I prefer the concept of a single source of truth.  ChocolateyGUI is not the source of truth in this instance, so I think we should leave it as is.

[2017-02-20 23:17] magol opened #411 "Pressing setting multiple times make it impossible to go back"
If I press settings multiple times, I can not go back to the main view.

[2017-02-22 22:08] mwallner opened #413 "Add/Update missing German translation"
follow-up to GH-406

[2017-02-24 07:03] mwallner opened #414 "update to chocolatey 0.10.4"
I've had the impression choco 0.10.4 is just around the corner - maybe we can add the new version to Chocolatey GUI 0.15 ?

[2017-02-24 17:15] RichiCoder1 commented on #414
If it's hitting in the next two weeks, makes perfect sense to me.

[2017-02-24 17:16] #396 closed

[2017-02-26 02:50] insanity54 opened #415 "Crashes when updating available packages from an internal Nuget feed"
## Observed Error Message

[code]

## Steps to reproduce:

* open ChocolateyGUI
* click settings
* add source 'http://nuget.xxxxxx.net/' with name 'company name'
* close settings
* click 'company name' on source selection (left column)
* crash

## Software Info

Windows 7 x64 SP1
Powershell v 3.0
.NET v4.5.1
Chocolatey v0.10.3
ChocolateyGUI v0.13.2.0

Nuget Server (Docker) sunside/simple-nuget-ser

[2017-02-26 03:23] RichiCoder1 commented on #415
Huh, that's bizzare. Buuut, it should also be fixed in prerelease.

[2017-02-26 08:32] mwallner opened #416 "Add tooling for localization (automatic 'missing string' detection)"
it'd be great to have some tooling to determine which strings need to be
* added
* removed
* changed

(among the different Resources.*.resx)

[2017-02-26 08:33] mwallner commented on #416
CC @gep13 @RichiCoder1

[2017-02-26 17:22] insanity54 commented on #415
I just tried doing the same in prerelease v0.15.0-unstable0241, and there was no crash. Thanks.

[2017-02-26 17:22] #415 closed

[2017-02-26 18:32] mwallner commented on #416
I'll give https://github.com/HakanL/resxtranslator a shot
* if it works as I expect, I'll add it to the howto

[2017-02-26 18:47] gep13 commented on #416
@mwallner that looks really useful!

[2017-02-26 18:48] mwallner commented on #416
![image](https://cloud.githubusercontent.com/assets/5354972/23342526/8e4bea2c-fc5c-11e6-8ffc-1152533f7d22.png)
 it even runs on linux ❤️

[2017-02-26 18:59] mwallner commented on #416
aaand the encoding exploded + all EOL and EOF are dead to 🤣 - will try tomorrow on Windows OS!

[2017-02-26 19:00] gep13 commented on #416
Ah, perhaps we need some additional entries in the .gitattributes file.

[2017-02-26 20:44] RichiCoder1 commented on #416
Haha, oh my. Do let me know how it goes though, I'd love to see some tooling to make this easier for contributors

[2017-03-02 11:38] mwallner commented on #416
Works great on Windows! :-)
![image](https://cloud.githubusercontent.com/assets/5354972/23505697/0c53b6e4-ff45-11e6-9378-3af3fd72d921.png)

[2017-03-02 11:38] mwallner commented on #416
(keeps encoding and works just as expceted!)

[2017-03-02 14:36] cniweb commented on #413
+1

[2017-03-04 04:35] CollinChaffin opened #420 "Crashes upon open - cannot launch Win7x64-WMF5.1"
Running Win7x64 and Powershell 5.1.  Get the following unhandled dotnet exception at open followed by the crash and forced close - resulting in not ever being able to successfully launch the app:

https://1drv.ms/i/s!AhSqjTYUuHPKgb4PsVQOZOUnqQk-OQ

https://1drv.ms/i/s!AhSqjTYUuHPKgb4R5COhADZ8q0B5MA

Would really love to use this app, so hopefully this is something that can be fixed quickly.  It is

[2017-03-04 08:45] gep13 commented on #420
@CollinChaffin can you confirm what version of ChocolateyGUI you are using?

[2017-03-04 08:47] gep13 commented on #420
Never mind, I see what version you are on...

Can you please try the pre release of the next version, instructions on how to install are on the readme of this repo, and let us know if you still face issues?

[2017-03-04 17:33] CollinChaffin commented on #420
Confirmed that the prerelease installed via Github eliminates this exception and crash!  Thanks for the quick reply and solution!

[2017-03-04 17:33] #420 closed

[2017-03-04 19:24] CollinChaffin opened #421 "After selecting single package to update upon update completion the UI list of packages remains blank does not refresh"
This is on the current prerelease.  To reproduce:  list all local packages with available updates.  Select any single package and perform update, expand console output to watch progress.  Upon successful completion, the UI appears to refresh based on status/progress bar, but will always return to an (inaccurate) empty UI list still with the checkbox checked for "show only packages with updates" as

[2017-03-04 19:30] CollinChaffin opened #422 "Current prerelease does not display any versioning information in the ABOUT screen"
The current prerelease despite scrolling all info in all three panes in the ABOUT window shows no version numbering information as shown here:

https://1drv.ms/i/s!AhSqjTYUuHPKgb94W2haovK4WkNtEA

Opening as an issue/enhancement request as it makes it difficult as an end-user to identify the actual version number for support purposes to consider displaying the major/minor/build number in the ABOUT

[2017-03-04 19:41] CollinChaffin opened #423 "Add option to sort available repository packages by release date to match the existing Chocolatey http interface options"
Propose a feature request to match the online web portal for the main Chocolatey package repository (and other chocopackages web repos) and add a 3rd option to the following UI sort list:

https://1drv.ms/i/s!AhSqjTYUuHPKgb95yiPGE6gbVFJaLg

In addition to A-Z alphabetical, and by "popularity" # of installs, also supply "Newest" as an option.  This would add incredibly invaluable usability to this

[2017-03-04 20:01] CollinChaffin opened #424 "Selecting multiple packages with CTRL key to update results in only the first package being updated"
Sorry to open another issue just started using this prerelease but also did not see this as an open issue which surprises me.  Since the non-prerelease crashes for me I have no idea if this is a new bug or not.

I would think that allowing the user to hold down CTRL and taking a bunch of time to then select/highlight/tag multiple packages just to right click with the tagged list highlighted and se

[2017-03-06 21:37] maphew commented on #266
I got the same problem with new Win7 x64 install, nothing but Chcoloatey, Powershell and Ch-GUI installed. Rebooting did not help.

[code]

What did work was upgrading to pre-release v0.14.0 with (from project readme.md):

    choco upgrade chocolateygui --source https://www.myget.org/F/chocolateygui/ --pre

[2017-03-10 21:56] gep13 opened #425 "Add additional properties to Sources Tab in Settings screen"
Specifically:

* By Pass Proxy
* Self Service

/cc @ferventcoder

[2017-03-10 21:58] gep13 commented on #425
This is how the screen has been made to look:

![image](https://cloud.githubusercontent.com/assets/1271146/23814750/9ab4a6e4-05dc-11e7-8798-5b7faaf7391d.png)

Thoughts?

[2017-03-11 01:38] ferventcoder commented on #425
I think that looks great! A small change though to the checkbox labels - I'm not sure they need "Is *State*". I would prefer either "*State*" or "*State*?"

* Disabled?
* Bypass Proxy?
* Self-Service Allowed? Note: Business Edition Required

[2017-03-11 17:06] gep13 commented on #425
@ferventcoder yip, I can fix that up.

That is a lot of text to put in.  Would you be ok with the latter part going into a tooltip?  And for it to be disabled if not in business edition?

[2017-03-11 18:25] ferventcoder commented on #425
Tooltip. They can still set it, but let's put in a tool tip over both the text and the checkbox itself.

[2017-03-11 18:29] Razzeee commented on #377
My problem is gone, not sure why. Might have been a serverside fix.

[2017-03-11 21:01] RichiCoder1 commented on #425
@gep13 @ferventcoder It might not be a terrible idea to figure out a tooltip or (?) helper, if only to provide either an explainer or link to docs for some of these properties. Currently you have to have some knowledge of sources to understand these properties. Or to run `choco source --help`, which defeats the purpose of the GUI :P

[2017-03-11 21:49] ferventcoder commented on #425
Even better - having a help menu that pulls up, running `choco source --help` and converting the markdown in the same way we do when converting the output for the docs part of the wiki/website.

And yes, tooltips are awesome as well. Thinking out loud,  link up the name to the option on CLI and parse the description out of the CLI return.

[2017-03-12 03:38] RichiCoder1 commented on #425
We don't technically have access to CLI output after the rewrite ;). But I do believe that we can pull the description info though lib. Will have to look...

[2017-03-12 03:53] ferventcoder commented on #425
The info is available in each command. :)

[2017-03-12 20:20] gep13 commented on #377
@Razzeee thanks for following up.

I will go ahead and close this issue.  @wjhill let us know if you are still experiencing problems.

[2017-03-12 20:20] #377 closed

[2017-03-13 16:33] AdmiringWorm commented on #416
Another option could be to setup a project on [transifex](https://www.transifex.com/) (free for OSS).
I've used it a few times in the past, and IMO is great.
It could be set up to monitor a remote url for changes, synchronizing it whenever it is changed (not quite sure how often it is checked though).

With that it could also be integrated into the build script to download all translated strings (

[2017-03-15 20:29] AdmiringWorm commented on #416
It's been quite some time since I last setup a project on transifex, so the procedure may have changed a little.
.resx files is supported by transifex without doing any modifications though, so that should be easy enough.

Adding new languages can be added by the members that have the required privileges, those who do not have them can request/suggest a new language to be added (New translators wo

[2017-03-16 04:59] RichiCoder1 commented on #416
@AdmiringWorm Let me know if you need any help on that. Rather curious myself. Heard good things about Transifex in the past.

[2017-03-16 07:03] magol commented on #416
I have used transifex to translate multiple projects, and I like the interface.
I vote that we use transifex.

[2017-03-16 09:39] AdmiringWorm commented on #416
I've set up a basic hello world demo here: https://github.com/AdmiringWorm/Hello-Transifex

I still have left to provide some documentation on how the transifex client is initialized, and how the project is set up on transifex.

[2017-03-16 09:44] gep13 commented on #416
@AdmiringWorm is this something that would be done as part of the CI build, or would this be done manually and added as part of a PR to the repo?

[2017-03-16 09:55] AdmiringWorm commented on #416
@gep13 it can be done both manually, and through a CI build (requires a small hack for that though).
The demo project I linked to is set up to ignore the Resource.<lang>.resx files (only including the default Resource file) and download the translations when it is run on appveyor.

[2017-03-16 09:56] gep13 commented on #416
@AdmiringWorm cool, will take a look when I have a minute, sounds very interesting!

[2017-03-16 10:29] AdmiringWorm commented on #416
Some basic documentation have also been provided now on [the wiki](https://github.com/AdmiringWorm/Hello-Transifex/wiki) for how to set up the project on transifex, and configure the respository using the transifex client.

[2017-03-17 14:29] DrYSG opened #426 "Proxy"
For some reason, unlike the powershell version, the proxy credentials are not being picked up.

I have CNTLM running at http://localhost:3128 is there a way to get it to use that, so that I can use this at work? alternatively can you pick up the proxy info from internet explorer settings?

[2017-03-17 14:29] DrYSG opened #427 "More explicitly call out OS support."
Your help page does not indicate it, but this program does seem to work on windows 10. Maybe add this to the README

[2017-03-17 14:33] DrYSG opened #428 "install folder"
Any chance of adding an option to specify the install folder. Or if one has the pro version of chocolately, to use their features for install folder?

[2017-03-17 15:52] gep13 commented on #427
Your help page

Just to confirm, which page are you referring to?

[2017-03-17 15:54] gep13 commented on #426
Can you please confirm what version of ChocolateyGUI you are using?

[2017-03-17 15:56] DrYSG commented on #427
Ah, not the github page, but I found your program from the packages description that is at:

https://chocolatey.org/packages/ChocolateyGUI

The text below implies that win10 is not supported:

[code]

[2017-03-17 16:03] DrYSG commented on #426
Win10 Enterprise version 1607
Chocolatey 0.10.3
ChocolateyGUI 0.13.2

settings seems to only allow me to specify the source url and name.

Steps to reproduce:

1. Start ChocolateyGUI (starts file and shows local installs)
2. Switch from "This PC" to Chocoately

I get an except window popup (Unhandled exception)
![capture](https://cloud.githubusercontent.com/assets/2865368/24051820/c244d760-0b09-11

[2017-03-17 16:06] DrYSG commented on #426
We have a pretty violent firewall here, but I have been able to easily get everything to get around it by installing a local proxy called CNTLM http://cntlm.sourceforge.net/  which if you point any program that does not grab the internet explorer credentials at, will automatically add the credentials and user-agent to the outgoing HTTP request (I can confirm this with fiddler).

[2017-03-17 17:51] gep13 commented on #426
@DrYSG can I get you to try out the pre-release version?  Installation instructions are here:

https://github.com/chocolatey/ChocolateyGUI#installation

[2017-03-17 17:53] gep13 commented on #427
Hmmm, it does say `and above.` but I agree, perhaps this could be worded better.

[2017-03-17 18:04] gep13 commented on #428
@ferventcoder I have just tried the following:

![image](https://cloud.githubusercontent.com/assets/1271146/24056391/5b379ef4-0b3b-11e7-8a36-7fcebf0e89ac.png)

And the installation directory wasn't affected, it still went to the default location.  Is this:

https://github.com/chocolatey/ChocolateyGUI/blob/develop/Source/ChocolateyGui.Install/Product.wxs#L52

the problem?

If I run this:

![image](

[2017-03-17 18:05] gep13 commented on #428
@ferventcoder i.e. is out WiX project just not particularly well written?  That is entirely possible as I did the first version of it 😄

[2017-03-17 18:07] DrYSG commented on #428
actually, I was not asking about chocolateyGUI installing a different folder, but allowing  rather that when I use the chocolateyGUI to do an install of some other package, that I have the option to change the install folder.

[2017-03-17 18:10] DrYSG commented on #426
@gep13

I tried the pre-release version (0.14.0-unstable0244) and the problem no longer occurs. I don't see it going through my local CNTLM, so I assume you are picking up the proxy credentials from Internet Explorer.

[2017-03-17 18:14] gep13 commented on #428
@DrYSG oh, I see....

Sorry, yes, that is likely something that we will be adding in at some point.

[2017-03-17 18:15] gep13 commented on #426
ChocolateyGUI, the pre-release, does exactly what Chocolatey does.

Going to go ahead and close this out.

[2017-03-17 18:15] #426 closed

[2017-03-17 18:39] ferventcoder commented on #428
@gep13 The licensed edition should pick up other MSI properties and switch to them over TARGETDIR if they are available. Let's ensure INSTALLFOLDER is one of them.

[2017-03-17 18:43] ferventcoder commented on #428
Looks like it is looking for INSTALLDIR - I will ensure the next version also looks for INSTALLFOLDER.

[2017-03-17 18:47] gep13 commented on #428
Nice one! Not sure where I got that variable name from initially. Must have copied it from somewhere.

[2017-03-22 21:31] AdmiringWorm commented on #416
hmm, I just recently came across [lingohub](https://lingohub.com/).
I think this looks pretty good (and is also free for FOSS), and looks like it can be easier integrated with github (supports automatic pull from repo, (automatic?) push either directly or as a PR).
Still testing it out, but I'll update when I've messed around with it some more.

[2017-03-25 15:33] gep13 commented on #416
It also has the downside that it can be integrated into the build process to download translation files.

`can` or `can't`

[2017-03-25 19:16] AdmiringWorm commented on #416
Ops, I meant can't

[2017-04-03 20:40] Thilas commented on #74
I didn't find anything about this feature in chocolatey. Do you know if it's still planned?
If relevant, I propose to work on this in ChocolateyGui.

[2017-04-04 21:18] Thilas commented on #107
Hey @lythix, @RichiCoder1,

I was also interested in this feature so I've started to work on such a systray to:
- keep ChocolateyGUI running in background when minimized
- send notifications (e.g. about available updates)
If you want to have a look, it's available on my [fork](https://github.com/Thilas/ChocolateyGUI/tree/feature/systray) for now.

I plan next to work on an automatic check for upda

[2017-04-12 09:04] andi3 opened #429 "Error not shown correctly"
Version: 0.14.0-unstable0245
Putty was already uninstalled but is still in the list with two entries:
- PuTTY
- PuTTY (Portable)

After clicking on uninstall again (even after restart) an error message is shown.
The error message contains placeholders but not the right values.

![chocolatey](https://cloud.githubusercontent.com/assets/7604043/24949967/aa5bd00c-1f6f-11e7-8197-fb755af8e15a.jpg)

[2017-04-23 09:35] welwood08 opened #430 "0.14 package details view missing 'Gallery' link"
Firstly, I've been using the pre-release version 0.14.0-unstable0245 for a few weeks now and have found it to be a significant improvement over the previous stable version (0.13.2). This is the most noticeable quibble I have with what's changed so far.

When viewing a package's details, occasionally I found it useful to be able to directly open the package's gallery page in my browser. Usually it'

[2017-04-26 17:02] silverqx opened #431 "Add different background for outdated packages"
Would be nice to  have different background for packages, which are outdated.

Something like this:

![2017-04-26- 1](https://cloud.githubusercontent.com/assets/86900/25446738/ccab0b48-2ab2-11e7-8d71-5d6cdb30e7ab.png)

[2017-04-26 17:55] lukemgriffith opened #432 "Limit non-admin list to self service only."
Currently with feature useBackgroundServiceWithSelfServiceSourcesOnly enabled, a user without admin permissions can do choco list and return items from all configured sources by default, including packages from sources that are not configured for self service.

Would it be possible for non elevated users to only have self service packages returned, as its the only items they can actually install.

[2017-05-05 08:46] RichiCoder1 commented on #424
This is because the context menu is always scoped to the right clicked package. That being said, we could add an [Update Selected] button

[2017-05-05 08:51] #411 closed

[2017-05-05 08:55] #414 closed

[2017-05-05 09:08] #413 closed

[2017-05-05 12:40] ferventcoder commented on #432
If the background service is on and the user is a non-admin that is.

[2017-05-05 12:41] ferventcoder opened #433 "Hazel source crashes GUI on startup every time"
A customer noted this is happening, so I don't yet have any kind of logs. Just wanted to report this is happening.

[2017-05-05 19:41] RichiCoder1 commented on #433
Hazel source?

[2017-05-05 19:42] RichiCoder1 commented on #432
I can look into this after we do #382. Would chocolatey gui do anything? Or would choco.lib be smart enough to only pass back relevant sources & packages?

[2017-05-05 20:30] ferventcoder commented on #433
Knew you'd ask - I was on my phone at the time I logged - see https://chocolatey.org/docs/how-to-host-feed.

[2017-05-05 20:33] RichiCoder1 commented on #433
Huh. Uhh, I'm going to admit that it may be a while before I get to this. Do you know if the customer is using 14.x bits? If it's 13.x, then it might actually be fixed as 14.x+ we use Chocolatey.Lib for talking to sources rather than the previous (very janky) method.

[2017-05-05 20:51] ferventcoder commented on #433
I'm not sure. I asked and suggested they look at some other repo as those were more known as good.

[2017-05-08 22:11] ferventcoder opened #434 "Remove AlphaFS dependency"
AlphaFS should no longer be added as dependency - it is internalized with chocolatey.dll as of 0.10.4 - https://github.com/chocolatey/choco/issues/1148

[2017-05-08 22:13] ferventcoder opened #435 "Need a way to set to Debug level at runtime"

[2017-05-13 00:09] ferventcoder opened #436 "Remove the Hacks where you access Chocolatey's SimpleInjector.Container"
Is there a chance we can remove this?
https://github.com/chocolatey/ChocolateyGUI/blob/13d0d0f08d5b0eabc108a21f42337b8a7f05a76e/Source/ChocolateyGui.Subprocess/Hacks.cs#L47-L87

Took me awhile to discover this one - accessing internals from something else can lead to really hard to find bugs. Here's a hint on the bug - https://github.com/chocolatey/choco/commit/61cd0847d4198828965626f32c4a3461bb4e

[2017-05-13 00:12] ferventcoder commented on #436
Related to https://github.com/chocolatey/ChocolateyGUI/pull/382 / https://github.com/chocolatey/ChocolateyGUI/issues/371

[2017-05-13 00:33] ferventcoder commented on #436
Realized some of my comments were a bit out of line and fixed them. Apologies - a bit hangry and harried after fighting this over this week.

[2017-05-13 04:42] RichiCoder1 commented on #436
@ferventcoder I literally just changed it so that GetSources now uses the background process instead haha.  So that's not longer quite the case. And the reason for that Hack is historical, but largely because there was no way do something I need to do though Chocolatey.Lib and it seemed like a pain at the time to bend the API to do it, so I just decided I'd grab the underlying service I needed dir

[2017-05-13 04:47] RichiCoder1 commented on #436
Yup, I'm about 90% sure the reason for that hack is so I could get the `IPackageInformationService`, as there was no easy way to get pinned files and my work into creating a PR for the API became painful quickly. And then I build on that hack to get Features, Settings, and Sources as the PRs for all those became equally painful.

[2017-05-13 08:48] ferventcoder commented on #436
More to the question here of what stops you fron setting up directly to IPackageInformationService and its implementation?

[2017-05-13 08:51] ferventcoder commented on #436
GetSources is the one I found. :)

[2017-05-13 18:35] RichiCoder1 commented on #436
@ferventcoder What do you mean?

If I'm understanding correctly, the biggest reason I didn't just instantiate PackageInfoService directly is either it, or some important part of creating it (like an injected dependency) was internalized. And honestly, it really is a hack. I'd very much like to replace it with an "official" way.

[2017-05-13 19:15] ferventcoder commented on #436
None of the injected dependencies are "internalized" that I am aware of, but it could be that there is a state in something that you'd want to come from Chocolatey.

[2017-05-13 19:20] RichiCoder1 commented on #436
That might have been it. Hence me just asking Chocolatey to create it for me.

[2017-05-14 04:05] Hexexpeck opened #437 "System.IO.FileFormatException: File Contains Corrupted Data - Crashes ChocolateyGUI instantly upon launch"
I recently installed ChocolateyGUI using the .msi from the releases page [here](https://github.com/chocolatey/chocolateygui/releases/latest) and the install seemed to successfully complete (no errors encountered at all)

However, when I launch ChocolateyGUI upon installation, I get the error shown in the screenshot attached.
![screencap](https://cloud.githubusercontent.com/assets/20467576/26031202

[2017-05-14 17:24] ferventcoder commented on #436
Going to add a way for you to query the container directly to the api.

[2017-05-14 19:35] RichiCoder1 commented on #434
This should be partially knocked out as of latest master and fully knocked out with #438

[2017-05-14 19:35] RichiCoder1 commented on #436
That works too :)

[2017-05-14 19:52] ferventcoder commented on #436
https://github.com/chocolatey/choco/issues/1294
and
https://github.com/chocolatey/choco/issues/1267

Should remove most of the hacks code.

[2017-05-14 19:53] RichiCoder1 commented on #436
Awesome!

[2017-06-01 15:33] billw2012 opened #439 "Package refresh should be automatic and hidden."
Why do I have to click "refresh packages". When would I not want them refreshed? Especially annoying if you are updating individual packages, using the Show Only Packages with Updates checkbox. It appears as if the update failed because the item stays in there.

[2017-06-03 17:25] chucker opened #440 "NullRefEx on launch"
[code]

(Note that I OCR'd the above stacktrace, so some characters are off.)

I get this immediately after launch. I've already tried deleting `%localappdata%\ChocolateyGUI` to no avail. No logs are created during this launch in either `\programdata\chocolatey\logs` or `%appdata%\ChocolateyGUI\Logs`.

[2017-06-05 23:39] Hexexpeck commented on #437
Gonna close this as I have gotten it to successfully work

[2017-06-05 23:39] #437 closed

[2017-06-05 23:43] RichiCoder1 commented on #437
Ohh? Sorry, I didn't get to this sooner. What ended up being the issue?

[2017-06-05 23:45] Hexexpeck commented on #437
Initially, ChocolateyGUI loaded up and said that a file(?) seemed to be corrupted. All it took was me deleting the ChocolateyGUI folder from C:\Chocolatey\lib-bad and reinstalling ChocolateyGUI and it worked again

[2017-06-06 00:10] RichiCoder1 commented on #437
That's really weird. Package must have somehow gotten corrupted during the pull. Glad you resolved it :)

[2017-06-06 00:10] RichiCoder1 commented on #434
Already done

[2017-06-06 00:10] #434 closed

[2017-06-06 00:35] RichiCoder1 commented on #439
Package refresh is currently a somewhat expensive two part process, so we've tried to avoid doing it unnecessarily. Plus thanks to some code debt (sorry), the refresh isn't 100% clean. That being said, it has gotten less expensive recently, so I could look into do a semi-regular background refresh.

The second half, though sounds like a bug. *Anytime* you do a package operation, it should refresh

[2017-06-06 21:04] #436 closed

[2017-06-07 18:07] mwallner opened #443 "Fix inconsistencies in German translation"
discovered several inconsistencies between the English and German version, also in some cases a 'hard translation' is not the way to go!
example: "pin/unpin" should not translate to "anheften/..?" - but rather to "Version fixieren/ Updates zulassen"
- will post decisions as comments on this issue

[2017-06-07 20:31] chucker commented on #440
Not sure why I didn't think before to check `%programdata%\ChocolateyGUI`. The subprocess log just says this:

[code]

The other log apparently fails to create a named pipe:

[code]

Machine runs Windows Server 2012 R2 and is a terminal server.

[2017-06-08 02:38] RichiCoder1 commented on #440
Could you try the lastest? I just ran into a similair issue myself and switched how we handle IPC

[2017-06-08 11:53] mwallner commented on #443
* pin / unpin
"pin" translates to "fix the version of a package" / "forbid updates for a package" - "unpin" the opposite (allowing updates again)
I've picked the translation "Updates sperren" (forbid udpates) for pin and "Updates zulassen" (allow updates) for unpin

* author
"author" translated to "Autor", but "Urheber" fits better (orignator)

[2017-06-08 15:11] RichiCoder1 commented on #443
I'm all for translations that make intuitive sense over literally translations

[2017-06-08 17:58] #404 closed

[2017-06-08 18:24] #443 closed

[2017-06-08 18:50] mwallner opened #445 "ChocolateyGUI doesn't display VersionInfo from internal feeds"
(LocalSourceView)
The column 'latest version' is empty for every package that doesn't exist on the public feed - even if is on an internal (ProGet) feed.
- if the public feed is disabled, no package has a 'latest version', hence no updates may be done via the UI

version is current develop (d1d57022c0dc6e0fa822edebae4a0715fe7b8a9e)

[2017-06-09 04:51] chucker opened #447 "FileLoadException on launch"
From Windows Event Log:

[code]

Occurs in 0.14.0-unstable0269 und 0280. 0261 was not affected.

[2017-06-09 04:53] chucker commented on #440
Unfortunately, I now get a crash even earlier, see #447.

[2017-06-09 05:22] RichiCoder1 commented on #447
Hmm. Maybe I'm not shipping a DLL I should be? Or a wrong one? Will look into it.

[2017-06-09 06:37] mwallner commented on #440
can confirm this still happens with current develop. (eb464a1381ce19a5d9d2b3904876fb06045f14ec)
![07dc77c6d06bb550a6395882d92de069f2814b65ad312e47b7 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/5354972/26963813-c42ed374-4cee-11e7-8365-b8aba3f965be.png)

[2017-06-09 08:04] chucker commented on #447
Problem appears to be Autofac. From Fusion Log Viewer:

[code]

[2017-06-09 10:03] mwallner opened #448 "Random Chocolatey GUI crash"
![image](https://user-images.githubusercontent.com/5354972/26970966-9a86d2de-4d0b-11e7-8d9c-b1956beb1627.png)

only happened once so far (cannot reproduce)
version is current develop (eb464a1381ce19a5d9d2b3904876fb06045f14ec)

[2017-06-09 10:05] mwallner opened #449 "Chocolatey GUI crashes when closed while still loading packages"
![image](https://user-images.githubusercontent.com/5354972/26971000-c9b21956-4d0b-11e7-9f19-3716bfad04c1.png)

Steps to reproduce:
* open ChocolateyGUI
* close the GUI (x) while still fetching package-lists

version is current develop (eb464a1)

[2017-06-09 10:08] mwallner opened #450 "Chocolatey GUI crashes when started from another working-directory"
![image](https://user-images.githubusercontent.com/5354972/26971075-129e42c0-4d0c-11e7-96cf-da24a6e40f81.png)

ChocolateyGUI instantly crashes when opened from another directory - i.e. cwd is `C:\` - then the call to `C:\Program Files (x86)\ChocolateyGUI\ChocolateyGui.exe` results in the exception above.

When ChocolatyGUI is started from another process, and the `StartupInfo.WorkingDirectory` (in

[2017-06-09 10:10] #445 closed

[2017-06-09 10:10] mwallner commented on #445
fixed with GH-446

[2017-06-09 15:58] RichiCoder1 commented on #450
Hmmm. Cef automagically looks for it's parts relative to CWD I guess. I think there's a way to code that to point to the correct directory though.

[2017-06-09 15:59] RichiCoder1 commented on #449
I probably just need to shutdown the log pipe when I get the kill signal.

[2017-06-16 13:07] cSharpRookie commented on #353
I'm having this problem with a trial version of chocolatey. Just wondering has this been fixed
![image](https://user-images.githubusercontent.com/11905573/27227854-27af83b8-529d-11e7-80a1-50570a21eb6f.png)

[2017-06-16 15:28] RichiCoder1 commented on #353
Hmm. I'm not honestly sure. /cc @ferventcoder

[2017-06-16 17:47] EntranceJew commented on #248
I'm not sure why this is still marked as "not planned", with the "export" button so prominent on the UI as of `0.13.2.0` -- seems weird that everyone savvy enough to import would even need an export button. If there's no plan for implementing this then I don't understand the point of having the export still.

[2017-06-16 20:31] ferventcoder commented on #353
Hi @cSharpRookie @RichiCoder1 !

With Boxstarter, it needs to just get the latest version of the chocolatey.lib and those issues should dissolve. When you mention it to @mwrock, just ask if it is using chocolatey.lib 0.10.7 yet.

[2017-06-16 20:32] ferventcoder commented on #353
@RichiCoder1 For this to work properly, we need to get #371 done.

[2017-06-16 20:32] ferventcoder commented on #353
In a way, this sort of duplicates #371. The work being done there makes chocolatey.lib work correctly.

[2017-06-16 20:51] ferventcoder commented on #353
@cSharpRookie it's a problem with Boxstarter.

[2017-06-17 15:44] mwallner commented on #248
Thanks for bringing this up again @EntranceJew - don't know if it makes it into the next release that I'm trying to "push" - but it's definitely a feature worth having!

[2017-06-17 19:05] RichiCoder1 commented on #248
I actually though I stripped out the export button in 0.14+. Apparently I forgot too.

[2017-06-18 22:05] mkorthof opened #452 "Support displaying multiple versions of locally installed packages"
Seems I had 2 chocolatey packages installed, one was old version 0.9.10.3 which caused the problem and ```choco uninstall chocolatey --version=0.9.10.3``` fixed the issue.

[2017-06-18 23:05] AdmiringWorm commented on #380
@RichiCoder1 I can verify that this no longer happens (with the latest build from the develop branch).

![image](https://user-images.githubusercontent.com/1474648/27264935-3fcad390-548b-11e7-80d4-ce06e8ede32b.png)

Everything is correctly formatting according to my locale.

[2017-06-18 23:38] RichiCoder1 commented on #380
Glad to hear!

[2017-06-18 23:38] #380 closed

[2017-06-29 21:07] #371 closed

[2017-07-02 23:28] daggmano commented on #439
I can confirm this issue. When updating a package, ChocoGUI returns with the full list of packages even though Show Only Packages with Updates is ticked. When the checkbox is unticked and reticked, the recently updated package still shows with the old version. Clicking Refresh Packages does refresh the version, but again shows all packages even though Show Only Packages with Updates is ticked, req

[2017-07-02 23:32] daggmano opened #453 "Please run processes on another thread"
Not sure if this has been covered, but it appears any processes (refreshing versions, updates, installs, etc) occur on the UI thread, locking the window.  It would be nice to be able to at least reposition the window (or minimise it) while it is working away at something.

[2017-07-03 00:00] RichiCoder1 commented on #453
They do, actually. A whole other process actually. I'm assuming you're referring to the progress modals however? I agree that the currently implementation can be frustrating (especially since it covers the window grab bar).

[2017-07-03 00:52] daggmano commented on #453
Proves you can never make assumptions of implementation based on behaviour!  But yes, to be able to minimise / move the window while the modal dialog is showing would be an improvement.

[2017-07-03 08:41] mwallner commented on #246
We can say this is done can't we @RichiCoder1

[2017-07-03 16:23] RichiCoder1 commented on #246
It's not quite done, but it's something I'm going to be reviewing today.

[2017-07-12 20:53] ferventcoder commented on #432
@RichiCoder1 Chocolatey.lib would be smart enough only to pass back relevant sources.

[2017-07-12 20:58] ferventcoder opened #454 "Chocolatey Extension v1.12.0 breaks using Chocolatey GUI - non-serialized configuration attribute"
Putting this here for reference. This should be fixed in 1.12.1.

https://github.com/chocolatey/chocolatey-licensed-issues/issues/19

[2017-07-12 23:14] ferventcoder opened #455 "Source Configuration - Seeing and Setting Bypass Proxy and Allow Self-Service on a Source doesn't work"
This is not pulling the data properly, nor is it setting it. Something is not getting set correctly in the binding to make this setting take. I am somewhat limited on WPF to see what it may be.

[2017-07-12 23:16] ferventcoder commented on #455
I did add this to the mapper configuration (AutoMapper) as the names are different:

[code]

I'm not sure if the mapper configuration setup pulls things back correctly though.

[2017-07-13 21:13] RichiCoder1 commented on #455
Derp. Proper solution would like be to simply change the `ChocolateySource` properties.

[2017-07-13 21:30] ferventcoder commented on #455
To match the ConfigSettings? Yeah, likely to work best.

[2017-07-14 17:23] ferventcoder commented on #454
This is fixed in Chocolatey Extension v1.12.1.

[2017-07-14 17:23] #454 closed

[2017-07-15 03:14] another-guy opened #456 "Is extensibility available?"
This project is not very well documented, therefore I only searched for the answer to my question in GitHub issues.

I wonder where to start if I want to create an extension for ChocolateGui? Is there an API or some other "hooks" I can consume? Any examples of trivial extensions?

Thanks!

[2017-07-17 16:21] superbonaci opened #457 "Add export/import list of installed items"
Please add an option to import/export the list of installed apps. This makes much easier to migrate to a new computer.

[2017-07-18 23:19] drfrpjr commented on #183
I have been using Choco and ChocoGUI -- the latest versions -- with Windows 10 on a Surface. Works fine. Powershell version=5.0.10240.17443

However, I just got a new desktop PC and while Choco is fine, ChocoGUI viciously crashes with the error below. This is running as administrator, etc. I think I have tried everything else above as well. Powershell version=5.1.14393.953

Any advice?

Thanks.

!

[2017-07-18 23:27] drfrpjr opened #458 "ChocoGUI Crash on Startup -- Windows 10"
I have been using Choco and ChocoGUI -- the latest versions -- with Windows 10 on a Surface. Works fine. Powershell version=5.0.10240.17443

However, I just got a new desktop PC and while Choco is fine, ChocoGUI viciously crashes with the error below. This is running as administrator, etc. I think I have tried everything else above as well. Powershell version=5.1.14393.953

I included the Powershe

[2017-07-19 01:27] drfrpjr commented on #450
I tried starting ChocoGUI right from C:\Program Files (x86)\ChocolateyGUI and it crashes as above.

Where do you set the variable StartupInfo.WorkingDirectory?

Thanks.

[2017-07-19 05:33] mwallner commented on #450
can you provide a screenshot of the exception message your're getting? / there are a couple of other crashes as well (i.e. when you've already got a GUI running) - this one should really only when the GUI is called from another directory.

[2017-07-19 05:37] mwallner commented on #183
crash of @drfrpjr already documented in #458 - this issue was closed a while ago and won't be reopened.

[2017-07-19 17:26] drfrpjr commented on #450
Hi,

Below is the screenshot directly starting the app from Powershell in the directory "C:\Program Files (x86)\ChocolateyGUI". Thanks.

![image](https://user-images.githubusercontent.com/14821996/28380526-a0adcf84-6c85-11e7-9d6e-99688444542b.png)

[2017-07-20 18:31] RichiCoder1 commented on #450
Are you using a company machine? Looks like you have the .Net FIPS Algorithm Check enabled.

[2017-07-20 18:33] RichiCoder1 commented on #456
There's currently no extensibility API, or any plans to provide one. What did you have in mind?

[2017-07-20 18:49] another-guy commented on #456
@RichiCoder1 just wanted to write an extension which would allow users to do scheduled setup/update and other fancy things. The GUI is supposed to make users more comfortable with chocolatey, since there's no need to deal with the command line. But the UX is still in the same spot where I saw the tool many months ago.

I would like to contribute, but not directly to ChocolateyGUI, because it's und

[2017-07-20 18:59] drfrpjr commented on #450
Yes, this is a company machine. Is turning on the .Net FIPS Algorithm Check a problem? If so, is there a workaround?

----Fred

From: Richard Simpson [mailto:notifications@github.com]
Sent: Thursday, July 20, 2017 2:31 PM
To: chocolatey/ChocolateyGUI <ChocolateyGUI@noreply.github.com>
Cc: Phelan Jr., Frederick R. Dr. (Fed) <frederick.phelan@nist.gov>; Comment <comment@noreply.github.com>
Subject:

[2017-08-05 12:20] TheVakman commented on #458
I'll add that this also occurs over here too.
It seems to only crash when selecting an internal source. My source is running Chocolatey Server.
Issue does not occur in the pre-release version from MyGet.

[2017-08-14 16:16] wjk commented on #458
@drfrpjr @TheVakman This actually isn't what you think it is. The problem (as evidenced in that TLDR error dialog) is that the Choco GUI client is trying to use the MD5 crypto algorithm on a system with Windows' FIPS mode feature enabled. When FIPS mode is enabled, the .NET Framework will refuse to load certain crypto algorithms, instead throwing an exception. This has nothing to do with one's pac

[2017-08-14 22:13] drfrpjr commented on #458
William,

Thanks for the information. I actually did not build ChocolateyGUI, but installed it using Choco. Any chance of making this the default in the ChocolateyGUI build?

That said, what compiler tools are needed to compile from source?

----Fred

From: William Kent [mailto:notifications@github.com]
Sent: Monday, August 14, 2017 12:17 PM
To: chocolatey/ChocolateyGUI <ChocolateyGUI@noreply.gith

[2017-08-15 01:29] wjk commented on #458
@drfrpjr You'll need Visual Studio 2017 (the free Community edition is OK to use here, as this is an open-source project, and the Community edition's license terms specifically allow use for open-source development, but of course a higher edition will do if you have a license).

What you'll want to do is install VS2017 (you'll need to select at least the .NET Desktop Development workflow during th

[2017-08-15 02:26] drfrpjr commented on #458
I have VS2015 … will that work?

-----Fred

From: William Kent [mailto:notifications@github.com]
Sent: Monday, August 14, 2017 9:29 PM
To: chocolatey/ChocolateyGUI <ChocolateyGUI@noreply.github.com>
Cc: Phelan Jr., Frederick R. Dr. (Fed) <frederick.phelan@nist.gov>; Mention <mention@noreply.github.com>
Subject: Re: [chocolatey/ChocolateyGUI] ChocoGUI Crash on Startup -- Windows 10 (#458)

@drfrpjr

[2017-08-15 11:29] wjk commented on #458
It should, but I haven't been able to test it. The main reason I recommended VS2017 was because the solution file had a VS2017 header in it. However, a cursory search reveals no VS2017-specific project features. Try it and let me know how it goes. Thanks!

[2017-08-15 17:17] drfrpjr commented on #458
Thanks, I’ll give it a try on a personal device with VS17 … and let you know what happens!

----Fred

From: William Kent [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 7:30 AM
To: chocolatey/ChocolateyGUI <ChocolateyGUI@noreply.github.com>
Cc: Phelan Jr., Frederick R. Dr. (Fed) <frederick.phelan@nist.gov>; Mention <mention@noreply.github.com>
Subject: Re: [chocolatey/ChocolateyGU

[2017-08-15 19:22] brookst commented on #452
Likewise; I had chocolatey version 0.10.3 installed alongside 0.10.7. I'm not sure why this happened but since choco kept working it seems like ChocolateyGUI ought to at least ignore duplicate packages, if not warn the user about specific conflicts.

[2017-08-29 18:40] ferventcoder commented on #455
The following affects this fix - https://github.com/chocolatey/choco/issues/1394

[2017-08-29 18:44] ferventcoder commented on #432
I'll start adding the details for this feature

[2017-08-31 11:34] TheVakman commented on #458
@wjk Thanks. I'm okay with using the pre-release version as that's the default in that version. I just wanted to note that it didn't happen on the pre-release version and now we know why. I'm very curious when that one will replace the older version.

[2017-08-31 11:54] TheVakman opened #460 "Access Denied on Launch"
On most of my test machines, ChocolateyGUI can be opened by a non-administrator, whether or not they can install packages from the sources.

On one system, it crashes with "Access Denied" (see log below).
If I launch it as an administrator on the same machine, it runs as expected.

This is on a 0.14 release.

[code]

[2017-08-31 11:58] TheVakman opened #461 "Failed to Start Application (LogMessage)"
On one test system (running a 0.14 release), this error started to occur. ChocolateyGUI was previously functional but now it crashes immediately upon startup.

[code]

[2017-08-31 22:10] urmel1960 commented on #299
Using Version 0.13.2.0 I can not add any UNC path as a source. I have no idea why this issue is closed .. ??

[2017-08-31 23:19] nickdodd79 opened #462 "Updating a package doesn't honour "Show Only Packages with Updates" when list is refreshed"
When I select "Show Only Packages with Updates" it displays a list of packages that can be updated. I then select one to update and choco goes off and does it's thing. Once done the installed packages list is refreshed, but the "Show Only Packages with Updates" flag is ignored even though it is still ticked. I need to untick the checkbox, click the "Refresh Packages" button and then retick the che

[2017-09-01 17:23] CollinChaffin commented on #424
Hi guys, any update on this?  As a developer myself I've already helped a few other people struggling with this issue so I am seeing first-hand the confusion this is raising .  With the addition of the windows ability via the OS to hold ctrl and do multi-selection almost three decades ago, I would suggest one of two things - simply tag the controls property (or add the event handler) to simply ove

[2017-09-02 22:06] CollinChaffin opened #463 "List of packages needing updates is truncated randomly"
Just went to update all thinking I only had a page of updates, then realized what was going on.  Have now tested on three more Win7x64 machines all with latest version of Choc and GUI.

Here is one of them demonstrating this issue which is pretty serious since, from what I can tell, is rendering the whole "update" functionality of this GUI unusable right now.

[code]

Now, let's open this GUI and

[2017-09-02 23:05] CollinChaffin commented on #463
I did some more testing and what's really weird in the list above, I manually uninstalled and removed the last two packages on the list, Putty and Python.  Guess what happens?  Now, the last two updates continue through RCLONE, so two were now continued it those two places, almost like it is the NUMBER of them......but when I counted quickly I thought I got 38 which does not seem like a likely # t

[2017-09-03 00:23] CollinChaffin commented on #463
Still testing and noticed another confirmed behavior and now I think I see enough string/list oddities that I have seomthing to go on for me to also begin digging through the source code.

As I've manually updated packages on this particular machine, also of definite note - notice the first picture, where the package "Logstash" for some reason was strangely indented (incorrectly) a single leading

[2017-09-04 06:31] mwallner commented on #299
@urmel1960 - as @RichiCoder1 pointed out this should be fixed with the current prerelease version 0.14.x - 0.13.x won't get a fix for that. If you have the possibility to upgrade, please do - you'll find 0.14/0.15.x much more usable/stable than the old version. :-)

[2017-09-04 06:33] mwallner commented on #461
Hallo @TheVakman , thanks for the report - can you be a bit more specific concerning the version of ChocolateyGUI you're using? (maybe even a commit hash?) - where did you install from?

[2017-09-04 06:50] urmel1960 commented on #299
@mwallner - thanks for your comment - can you please advise where to get 0.14/0.15x ?

[2017-09-04 07:13] mwallner commented on #299
as pointed out in https://github.com/chocolatey/ChocolateyGUI/blob/develop/README.md - you could go with the myget feed:
`choco install chocolateygui --source https://www.myget.org/F/chocolateygui/ --pre`

[2017-09-04 07:45] urmel1960 commented on #299
The package is not listed there - even if it is pointed out ... :-(

[2017-09-06 12:17] ferventcoder commented on #455
Are we sure this is fixed?

[2017-09-06 14:17] gep13 commented on #455
@ferventcoder this ticket was closed automagically as a result of the comment in your PR.

I tried to test it out at lunch time, however, I was running into other issues.  You around tonight for a quick conversation?

[2017-09-06 15:48] ferventcoder commented on #455
Yes sir. Just ping me when you are ready.

[2017-09-06 19:49] gep13 commented on #455
@ferventcoder yeah, just tested this, and no, it still isn't working 😢

[2017-09-06 21:10] gep13 commented on #455
@ferventcoder as discussed, this should now be taken care of, and the latest version on MyGet (`0.14.0-unstable0299`) should include this functionality.

[2017-09-06 21:10] #455 closed

[2017-09-07 17:09] TheVakman commented on #461
I installed from the MyGet repository at the time. I can again update now.
0.14.0-unstable.290+Branch.develop - not sure if that's good enough.

Also, thanks for adding the versions back in!

[2017-09-07 17:09] TheVakman commented on #460
I installed from the MyGet repository at the time. I can again update now.
0.14.0-unstable.290+Branch.develop - not sure if that's good enough.

Also, thanks for adding the versions back in!

[2017-09-07 18:14] RichiCoder1 commented on #461
Is chocolatey itself still performing normally?

[2017-09-07 20:35] gep13 opened #464 "Provide ability to set Admin Only flag for source"
In the same way that you can with `disabled`, `bypass proxy` and `self service`

![image](https://user-images.githubusercontent.com/1271146/30184036-6fbedbfa-9414-11e7-83fd-6da55dc3700c.png)

[2017-09-07 20:46] gep13 commented on #464
End result...

![image](https://user-images.githubusercontent.com/1271146/30184434-f40085ac-9415-11e7-8a4e-c7f48ffd977d.png)

[2017-09-07 20:46] #464 closed

[2017-09-09 02:09] astrom0 commented on #457
This isn't an issue.

Did you check further afield?
[Installing Packages](https://chocolatey.github.io/usage.html#installing-packages)

Get yourself the [gui](https://chocolatey.org/packages/ChocolateyGUI) and it's a quick click to export the package config. Use the details above to import them to another machine. Easy.

[2017-09-15 18:47] ferventcoder opened #465 "Use highestAvailable instead of subprocess"
Move the subprocess code to a tag or branch for historical sake and move to a simpler model that requests admin if you are an admin, otherwise as a non-admin the GUI will just run under them.

[2017-09-15 18:48] ferventcoder commented on #465
This simplifies quite a bit and brings stability as there won't be a secondary process - also means that you can run multiple GUIs at once from different accounts without issue.

[2017-09-18 01:20] TheVakman commented on #461
Sorry, I forgot to reply. Yes, it is - completely functional.

However, I think we can close this. I was able to reproduce consistently but the .300 release doesn't seem to have this issue for me. It's also possible that the uninstall/reinstall fixed the issue.

[2017-09-18 01:20] #461 closed

[2017-09-19 07:24] magol commented on #349
How long does it take before this version is released?

[2017-09-19 18:24] RichiCoder1 commented on #424
At least right now I'm going to go with Option A, aka. only allow single selection. I'd really like to allow multi-select operations but that's further down the line. PR coming to change to single select and I'll create a seperate master issue to enable bulk-operations on local sources.

[2017-09-20 12:50] TheVakman opened #469 "Issue Launching with Chocolatey Licensed"
![chocolateyguierror](https://user-images.githubusercontent.com/18545156/30644391-34e5ba46-9de0-11e7-9783-073a980f1c6b.PNG)

The attached screenshot is the error I get on the first install of 0.14.300. This occurs whether it is launched as an administrator or a non-admin user.
This error does not occur on the 0.14.290 release. Perhaps, this is a problem with the licensed extension?

On subsequent

[2017-09-20 12:57] TheVakman opened #470 "Seemingly Random Chocolatey GUI Crash"
![randomchocoerror](https://user-images.githubusercontent.com/18545156/30644811-a721b370-9de1-11e7-96d5-94f03c196719.PNG)

This one doesn't seem to affect any particular version of 0.14.x as I've had it happen on some older ones, .290 and .300.

It happens when I try to view details for a package in ChocolateyGUI. After it crashes, if I relaunch, the same package details display without any issue.

[2017-09-20 14:54] RichiCoder1 commented on #470
This will be resolved by #466 I believe.

[2017-09-20 14:55] RichiCoder1 commented on #469
I tentatively believe this will be solved by #466.

[2017-09-21 11:13] #465 closed

[2017-09-21 11:16] #402 closed

[2017-09-21 18:50] mwallner commented on #349
We're trying to get this out in the next couple of weeks :-)

[2017-09-22 09:01] #463 closed

[2017-09-22 09:02] gep13 commented on #463
@CollinChaffin this should hopefully now be taken care of.  If you could, can you take a look at the latest version on the MyGet Feed, and let us know if you still have issues.  Thanks.

[2017-09-22 09:02] #462 closed

[2017-09-22 09:03] gep13 commented on #462
@nickdodd79 Thank you for reporting the issue.  This should now be taken care of.  If you could take a look at the latest version of Chocolatey GUI from the MyGet Feed and let us know, we would really appreciate that.  Thanks.

[2017-09-22 09:04] gep13 commented on #421
@CollinChaffin thanks for reporting this issue.  We think that this should now be taken care of.  If you have the time, if you could take a look at the most recent version of Chocolatey GUI from the MyGet feed and let us know, we would really appreciate it.  Thanks.

[2017-09-22 09:04] #421 closed

[2017-09-22 10:45] mwallner opened #471 "Fixes in German translation"
a couple of missing strings & typos

[2017-09-25 03:20] RichiCoder1 commented on #470
This should be resolved in the latest prerelease. Let me know if you still see this issue!

[2017-09-25 03:20] #470 closed

[2017-09-25 03:21] RichiCoder1 commented on #460
We've moved away from the process model that was causing this issue. Let me know if you're still running into this with the latest prerelease!

[2017-09-25 03:21] #460 closed

[2017-09-25 03:57] RichiCoder1 commented on #425
This is good now, right?

[2017-09-25 06:02] mwallner commented on #425
LGTM, altough we've got a little alignment issue with the German (long) texts ...
-> will handle in follow-up issue
![image](https://user-images.githubusercontent.com/5354972/30794330-d1f53f60-a1c7-11e7-96d9-1043e4af3998.png)

[2017-09-25 06:02] #425 closed

[2017-09-25 21:16] TheVakman commented on #469
Is #466 included in 0.14.0-unstable0343?

If so, this is not resolved for me.

[2017-09-25 21:21] TheVakman opened #473 "Self Service within ChocolateyGUI"
I'm aware that using self service by non-admins within ChocolateyGUI is being worked on for licensed users but I didn't see an official bug logged for this.

As such, I just want to log it as it's a feature that I'm very interested in utilizing.

FYI, I can confirm in 0.14.0-unstable0343 that I am unable to test again for this the Self Service portion due to the crash when launching as a non-admin

[2017-09-25 21:58] RichiCoder1 commented on #473
I believe this is being actively worked on. /cc @gep13 @ferventcoder

[2017-09-26 06:28] gep13 commented on #469
@TheVakman to answer your question...

Anything that is merged into the develop branch will produce a build/release on our MyGet feed.  So pulling the latest version from MyGet, which is currently `0.14.0-unstable0343` should include all code on the develop branch.

[2017-09-26 06:34] gep13 commented on #469
@TheVakman I have just tried to run ChocolateyGUI as a non-admin and I am not seeing the error that you are describing.

Can you please provide some more information about your current setup, i.e:

* Operating System
* Chocolatey Version
* Chocolatey Extension Version
* License Level
* etc

Hopefully that will help figure out what the issue is.

[2017-09-26 13:31] TheVakman commented on #469
@gep13 I seem to have a different error upon launching as a non-admin now as well. I'll attach it below.

- OS: Windows 10 v1607
- Chocolatey Version: 0.10.8
- Chocolatey Core Extensions: 1.3.1
- Chocolatey Licensed Extension: 1.12.3
- Chocolatey Agent: 0.7.0

![newissue](https://user-images.githubusercontent.com/18545156/30862890-6ecfc01e-a29d-11e7-9ba8-4d23c9d7ae27.PNG)

[2017-09-26 16:39] RichiCoder1 commented on #458
I took @wjk and simply disabled the check in d365ec335. It doesn't make any sense to respect this policy for ChocolateyGUI and even microsoft recommends against it.

[2017-09-26 16:39] #458 closed

[2017-09-26 16:55] RichiCoder1 commented on #469
@TheVakman Is the being performed in a management or enterprise environment? Is there an AV or policy that's blocking user programs from executing other processes?

[2017-09-26 17:09] TheVakman commented on #469
That's a good point. I have ChocolateyGUI and the chocolatey exe allowed but I'll check as it could be due to the different path that's used now. I'll report back shortly, thanks.

[2017-09-26 17:37] drfrpjr commented on #458
Is that fix reflected in a ChocolateyGUI update with Choco?

----Fred

Sent from my iPad

On Sep 26, 2017, at 12:39 PM, Richard Simpson <notifications@github.com<mailto:notifications@github.com>> wrote:

I took @wjk<https://github.com/wjk> and simply disabled the check in d365ec3<https://github.com/chocolatey/ChocolateyGUI/commit/d365ec335e349b22f5aeb0402856b8f1895cdd36>. It doesn't make any sense

[2017-09-26 18:04] TheVakman commented on #469
I've removed our security software for testing. The issue still persists.

Any other suggestions?

[2017-09-26 18:56] RichiCoder1 commented on #458
It should be in the latest prerelease.

[2017-09-26 19:51] gep13 commented on #469
@TheVakman we know that there is still at least one issue with ChocolateyGUI locating the license file when running as a non-administrator user, and this issue is currently being worked on.  It could be that this is related to this issue that you are seeing.  Let us get to a point where we know that this part is working, and we can circle back around to verify this issue.

[2017-09-26 21:15] gep13 commented on #276
@ADTC I have just added a Pull Request to persist the window size and position.

If you have some time, would you be able to take that PR for a spin to see if it corrects this issue?

Thanks

[2017-09-27 19:07] #275 closed

[2017-09-27 19:10] gep13 commented on #275
@ADTC I have just pushed a new version to the MyGet feed that should address this feature request.  Please give it a try, and let us know how you get on with it.

[2017-09-27 19:11] gep13 commented on #449
@mwallner I am going to go ahead and close this one out, as I think it has been taken care of in the refactoring.  Let us know if this is still an issue.

[2017-09-27 19:11] #449 closed

[2017-09-27 19:14] gep13 commented on #450
@RichiCoder1 Do you have any thoughts on this one?  I have just tried this out after the refactor, and I am still getting Cef Exceptions in the log file.

[2017-09-27 19:16] gep13 commented on #440
@chucker @mwallner I am fairly sure that this has now been addressed as a result of the refactoring away from using the Chocolatey Sub Process.  I am away to close this issue, but please feel free to re-open if you still see issues.

[2017-09-27 19:16] #440 closed

[2017-09-27 19:17] gep13 commented on #353
@pascalberger fairly sure that this has been addressed with the recent round of refactoring.  Can you take the latest package on the MyGet feed for a spin, and report back if you still have issues?

Going to close this for now, please re-open if still a problem.

[2017-09-27 19:21] gep13 commented on #469
@TheVakman can you please install 1.12.4 of the chocolatey.extension (https://chocolatey.org/docs/release-notes-licensed#september-27-2017) and install the latest Chocolatey GUI from the MyGet feed then try this again?

We believe that we have solved the underlying problems.  If you can report back and let us know if you are still having problems.

For now, I am going to go ahead and close this of

[2017-09-27 19:22] gep13 commented on #360
@pascalberger fairly sure that this has now been corrected.  Can you please give the latest version a try, and let me know if you are still running into problems.

Closing issue for now, but feel free to re-open.

[2017-09-27 19:22] #360 closed

[2017-09-27 19:38] ADTC commented on #275
@gep13 ah thank you, this has been on for 2 years though. I'm kinda not using it right now. Sorry.

**But really, thank you so much for addressing the request! I appreciate it.** I might just give it a try for old times' sake.

[2017-09-27 19:40] gep13 commented on #246
@RichiCoder1 this one is now done, right?  Or did you have other ideas about what is still required?

[2017-09-27 19:42] gep13 commented on #399
@RichiCoder1 do you have an example of where this was happening?  I haven't been able to reproduce what is described here.

[2017-09-27 19:43] ADTC commented on #276
@gep13 I'm not sure if remembering user's chosen size and position would help with the size and position on the first run (before the user has ever gotten a chance to choose it).

I will let you know if and when I get to try it. Is there a build? I'll need a binary installer.

[2017-09-27 21:30] RichiCoder1 commented on #246
This is essential done, yes.

[2017-09-27 21:30] #246 closed

[2017-09-27 21:30] RichiCoder1 commented on #399
I may have accidentally fixed this since I made this issue. Will review later.

[2017-09-27 21:31] RichiCoder1 commented on #450
The issue that was affecting @drfrpjr should be resolved. And I think I have a fix for the original issue. Will issue a PR later.

[2017-09-27 21:42] gep13 commented on #399
@RichiCoder1 nice one, thank you!

[2017-09-27 21:43] gep13 commented on #276
@ADTC there are instructions on the readme of this repo that explain how to get the pre-release bits.

[2017-09-28 03:07] TheVakman commented on #469
I am unable to re-open the issue (I assume permissions on this GitHub repo) but it is definitely still there on 0345 and 0351 of ChocolateyGUI.

However, I updated my extension and ChocolateyGUI 0.14.0345 was working with Self Service.
As per your suggestion, I installed the latest. This means an uninstall of 0345 after as upgrading seems to end up with two versions (I'll log a bug for this) but n

[2017-09-28 04:10] RichiCoder1 commented on #469
Any ideas @ferventcoder ?

[2017-09-28 06:23] gep13 commented on #469
@TheVakman would you be able to provide the full log from the `c:\programdata\chocolateygui\logs` folder?

[2017-09-28 06:34] gep13 commented on #469
I am unable to re-open the issue (I assume permissions on this GitHub repo)

That is very strange.  As the author of the issue, I thought you were able to re-open it.  Looks like @RichiCoder1 took care of that for you though.

[2017-09-28 11:30] pascalberger commented on #353
I just tried with 0351 and still get the error if I click on a source in the left pane.

@gep13 I don't seem to have permissions to reopen the issue

[2017-09-28 11:34] ferventcoder commented on #469
I've been able to get this one to work. `choco upgrade chocolateygui -y --pre --version 0.14.0-unstable0345 -s https://www.myget.org/F/chocolateygui/ --allow-downgrade` - but you must uninstall the current GUI first so you don't accidentally open the old one thinking it is the new one.

[2017-09-28 11:45] TheVakman commented on #469
That's what I ran on the machines to reinstall 0345 after I upgraded and it ceased to be working. Although I didn't have "--allow-downgrade" because I had uninstalled the other. I tried it with that now though and I'm still unable to replicate the initial success.

Is it an order of operations perhaps? I already had 0345 installed and then I upgraded the extension when I had it working.

[2017-09-28 11:51] gep13 commented on #353
@pascalberger can you confirm that you first uninstalled any existing installation of ChocolateyGUI before installing the latest?  There is an issue where you can actually end up with two copies of Chocolatey GUI.

[2017-09-28 11:55] pascalberger commented on #353
@gep13 You're right. Uninstalling both versions and reinstalling fixed the issue

[2017-09-28 11:55] #353 closed

[2017-09-28 11:57] gep13 commented on #353
Woot! 😄

[2017-09-28 16:09] TheVakman commented on #275
I appreciate this change! I can confirm it is working for me on 0351.

[2017-09-29 09:44] gep13 commented on #275
@ADTC I completely understand.  This project has been neglected, but it is definitely making a resurgence 😄

@TheVakman great, thank you for confirming!

[2017-10-02 15:45] TheVakman commented on #469
@ferventcoder has confirmed that it was only occurring over RDP. This will be fixed in 1.12.6 of the extension, by the looks of it.

[2017-10-02 15:45] #469 closed

[2017-10-02 15:55] ferventcoder commented on #469
### More information

* When you are using Chocolatey commercial editions over RDP, it will run `change user /install|/execute` for you automatically.
* Chocolatey GUI is 32-bit based and C:\Windows\System32 hit filesystem redirection to C:\Windows\SysWOW64.
* SysWOW64 doesn't contain change.exe.

Fixes for Chocolatey Licensed Extension v1.12.6:
* Search in the c:\windows\SysNative virtual directo

[2017-10-02 19:10] gep13 commented on #469
@TheVakman very glad to hear that you have got to the bottom of this.

[2017-10-02 19:13] #471 closed

[2017-10-02 19:15] gep13 commented on #473
@TheVakman based on closing of the other issue, I am going to go ahead and close out this one as well.

This functionality was demonstrated in this video here: https://youtu.be/k5VLMIeMRYE?t=3904

[2017-10-02 19:15] #473 closed

[2017-10-02 19:15] gep13 commented on #450
@RichiCoder1 were you able to have a look at what was required here? Thanks.

[2017-10-02 20:03] gep13 commented on #357
@pascalberger since the refactoring, I have not been able to get this to happen again.

For now, I am going to close this out.  Let me know if you can get this to happen again.

[2017-10-02 20:03] #357 closed

[2017-10-02 20:07] gep13 commented on #354
Just been looking at this...

Looks like this call:

![image](https://user-images.githubusercontent.com/1271146/31096968-a7872416-a7b5-11e7-8b14-92f132da0598.png)

Is what is not populating the Owners/Maintainers property.  This is going down into Chocolatey.Lib.  Need to debug further.

[2017-10-02 20:31] gep13 commented on #370
@pascalberger since the refactoring, I haven't been able to reproduce this either.

Going to close this just now, feel free to comment back again if you can reproduce the issue.

[2017-10-02 20:31] #370 closed

[2017-10-02 20:48] RichiCoder1 commented on #354
I think I made an issue on the Chococlatey side of the fence back when I commented.

[2017-10-02 20:50] gep13 commented on #329
@RichiCoder1 I have just been looking at this again...

Looks like when the Progress Dialog is being displayed, the UI is blocked, and can't be interacted with.  Other async operations work as expected.

Any ideas on what is going on here?

[2017-10-02 20:52] gep13 commented on #343
@ScottIsAFool @wjk have you guys had a look at the latest version of Chocolatey GUI?  What are your thoughts on the loading dialog contained within it?  /cc @RichiCoder1

[2017-10-02 20:57] gep13 commented on #354
@RichiCoder1 this one? https://github.com/chocolatey/choco/issues/777

[2017-10-02 20:58] RichiCoder1 commented on #329
It's just the nature of the dialog. It's why I'd like to kill and replace it. In theory we could make the background draggable or something.

[2017-10-02 20:58] RichiCoder1 commented on #354
I believe that's it. There was other bits of info I wasn't getting.

[2017-10-02 21:04] gep13 commented on #329
It's why I'd like to kill and replace it.

What would you see this being replaced by?

[2017-10-02 22:26] RichiCoder1 commented on #329
That is the question I haven't answered haha. Hence why I haven't yet replaced it.

[2017-10-04 17:31] RichiCoder1 commented on #432
@ferventcoder Is this feature complete?

[2017-10-04 17:35] RichiCoder1 commented on #453
Looks like we just need to add `ShowDialogsOverTitleBar`. Will do so now.

[2017-10-04 18:42] #450 closed

[2017-10-04 18:42] #453 closed

[2017-10-04 18:43] RichiCoder1 commented on #450
Let me know if you're still getting this issue with the latest pre @mwallner

[2017-10-04 18:47] RichiCoder1 commented on #399
Looks to be resolved

[2017-10-04 18:47] #399 closed

[2017-10-04 18:49] RichiCoder1 commented on #439
This should actually be fixed by 5b758857.

[2017-10-04 18:49] #439 closed

[2017-10-04 18:52] RichiCoder1 commented on #424
CTRL + Click has been disabled. I'm going to open a seperate issue to enable bulk ops.

[2017-10-04 18:52] #424 closed

[2017-10-04 18:52] RichiCoder1 commented on #93
Related https://github.com/chocolatey/choco/issues/1363

[2017-10-04 18:52] RichiCoder1 commented on #95
Related https://github.com/chocolatey/choco/issues/1363

[2017-10-04 18:53] RichiCoder1 commented on #318
Related https://github.com/chocolatey/choco/issues/1363

[2017-10-04 18:54] RichiCoder1 commented on #319
Still need to triage this.

[2017-10-04 18:59] RichiCoder1 commented on #317
Looks like this was completed a while back. Sadly I screwed up our history with the subprocess changes, so I can't find the commit.

[2017-10-04 18:59] #317 closed

[2017-10-04 19:01] RichiCoder1 commented on #329
Dialogs should no longer block window actions. May restrict in the future.

Closed by 9801a36;

[2017-10-04 19:01] #329 closed

[2017-10-04 19:04] RichiCoder1 commented on #448
Fixed since we've moved away from subprocess.

[2017-10-04 19:04] #448 closed

[2017-10-04 19:04] RichiCoder1 commented on #447
Let me know if you're still seeing this issue with the latest pre @chucker

[2017-10-04 19:04] #447 closed

[2017-10-04 19:06] RichiCoder1 commented on #452
If anyone runs into this issue again, can you post logs with the origin of the crash? Not sure where this is failing. Logs can be found in `C:\ProgramData\ChocolateyGUI\Logs`.

[2017-10-04 20:18] #427 closed

[2017-10-04 21:27] chucker commented on #447
Nope. Fixed, thanks!

[2017-10-05 15:58] brookst commented on #452
I dug out this log from `%APPDATA%\ChocolateyGUI\Logs\Chocolatey.gui.debug`. Hope it helps to narrow things down, I'm not really familiar with debugging C#. I'm not sure whether it's unique to having two versions of chocolatey installed, or two versions of any package.
[code]

[2017-10-05 17:48] ferventcoder commented on #432
I started on this, there is still one component missing here.

[2017-10-05 17:49] RichiCoder1 commented on #452
Awesome, that does help! And it'll fail on any doubly installed package. @ferventcoder Is having multiple versions installed something I should support in GUI?

[2017-10-05 17:54] ferventcoder commented on #295
We'll be doing this for 0.15.0 with our Chocolatey Software authenticode cert.

[2017-10-05 17:55] ferventcoder commented on #452
@RichiCoder1 support it, maybe not?

Show it in the local list, yes. Not fail when you have multiple items, definitely yes. There are scenarios where this is the case.

[2017-10-05 19:25] RichiCoder1 commented on #452
Cool beans. I'll see about rewriting that bit of logic. What should happen when there's two different version irt to updates? With the current logic it'll try and update both if they're not pinned.

[2017-10-05 19:45] ferventcoder commented on #452
@RichiCoder1 if they are SideBySide (Package Information will have AllowMultiple set to true), you update neither of them.

[2017-10-05 20:39] RichiCoder1 commented on #452
Cool. Will fix that later this evening.

[2017-10-06 05:22] mwallner commented on #450
working in latest dev :-)

[2017-10-06 05:31] mwallner opened #478 "German texts in settings page are to long"
![image](https://user-images.githubusercontent.com/5354972/31264282-3af93216-aa68-11e7-9433-c536ab80c3c0.png)

[2017-10-06 05:32] mwallner commented on #478
just bumped into this - will fix this weekend.
two possible solutions:
1. make texts shorter
2. right-align checkboxes to get a little more space in this dialog

[2017-10-06 05:32] mwallner commented on #478
bump @RichiCoder1 - what would you prefer?

[2017-10-06 08:12] punker76 commented on #478
@mwallner I prefer playing with `Grid.IsSharedSizeScope` and `SharedSizeGroup` for the columns...

![2017-10-06_10h11_06](https://user-images.githubusercontent.com/658431/31268948-cd23f7c8-aa7e-11e7-93f1-319b0b25c221.png)

So it should now work with all languages.

[2017-10-06 11:18] mwallner commented on #478
thanks! :-) - fixed with GH-478

[2017-10-06 11:18] #478 closed

[2017-10-06 14:41] RichiCoder1 commented on #478
@punker76 I didn't even realize that was a possibility! That's awesome.

[2017-10-10 21:00] gep13 opened #480 "Incorrect option in Package Details view"
When viewing the "This PC" tab, if you right click on a package, you will see the correct available options, i.e:

![image](https://user-images.githubusercontent.com/1271146/31410312-31a23c7a-ae06-11e7-99dc-d3ec5bf48873.png)

However, when you double click on a package, and view the Package Details, you don't get the correct options, i.e:

![image](https://user-images.githubusercontent.com/1271146

[2017-10-10 21:22] gep13 commented on #452
@RichiCoder1 how did you get on with this one?

[2017-10-10 21:23] gep13 commented on #432
@ferventcoder @RichiCoder1 should we bump this to the next release of Chocolatey GUI?

[2017-10-10 21:32] ferventcoder commented on #432
Yes, please.

[2017-10-11 15:12] RichiCoder1 commented on #452
Looks like this issue is already resolved! At some point during the Chocolatey interface rework, the package caching code got ditched. That being said, we don't respect SxS, so I'm going to fix that.

[2017-10-11 20:50] gep13 opened #485 "Investigate new way to persist package state"
Related to this: https://github.com/chocolatey/ChocolateyGUI/pull/481

[2017-10-11 20:50] #480 closed

[2017-10-11 21:01] #452 closed

[2017-10-11 21:09] gep13 opened #486 "Add translations for Tooltips"
Some new tooltips were added in this PR: https://github.com/chocolatey/ChocolateyGUI/pull/482

Which will need to be translated into the different languages that we now support.

[2017-10-11 21:10] gep13 commented on #486
@magol @AdmiringWorm @mwallner

If I could get you to cast your eyes over this issue when you have some time, I would really appreciate it.

Thank you!

[2017-10-11 21:21] gep13 commented on #349
@RichiCoder1 just updated the screenshots again, with the recent changes.

[2017-10-11 21:22] gep13 commented on #319
@RichiCoder1 what are you thinking about this one?  Have you been able to replicate?

[2017-10-11 21:32] AdmiringWorm commented on #486
@gep13 I'll try to have a look at it sometime tomorrow.

[2017-10-11 21:47] RichiCoder1 commented on #486
Nice catch. Completely spaced on making those resources.

[2017-10-12 06:56] gep13 commented on #486
Nice catch. Completely spaced on making those resources.

Not a problem.  Don't think it should hold up the release at this point, we can always do a quick 0.15.1 release to include them once they are ready.

[2017-10-12 14:29] RichiCoder1 commented on #368
Looks like the same issue as #452. Should be fixed now.

[2017-10-12 14:29] #368 closed

[2017-10-12 18:36] AdmiringWorm commented on #486
Seems like I'm unable to translate anything today unfortunately, however I noticed that those tooltips haven't yet been made translatable. Currently they are just hard coded strings without being binded to the resource file (unless I'm missing something).

[2017-10-12 18:47] mwallner commented on #486
I'm on it - will put in PR shortly (en & de)

[2017-10-12 19:42] RichiCoder1 commented on #319
I tweaked this code around this, but I was unable to reproduce.

[2017-10-12 19:42] #319 closed

[2017-10-12 20:02] gep13 commented on #366
@RichiCoder1 re-opening this for now...

[2017-10-12 20:42] #366 closed

[2017-10-13 00:13] TheVakman commented on #473
Thanks @gep13 - meant to close before, it is functional in .345 and up.

[2017-10-13 00:36] TheVakman commented on #366
If this is also fixed in 0.15.0, that will be awesome!

[2017-10-13 18:29] TheVakman opened #488 "Easy Branding of Chocolatey GUI"
We would like to brand ChocolateyGUI using our company logo somewhere in the application that is deployed to our users.

Perhaps, this could be a licensed only feature?

[2017-10-15 20:17] #486 closed

[2017-10-16 07:25] gep13 commented on #488
@TheVakman this is definitely something that we are thinking about. Where exactly were you thinking that your own logo would appear?

[2017-10-16 14:31] TheVakman commented on #488
@gep13 I'm pretty open. Perhaps, in the bottom left?

Unless, you're open to replacing the Chocolatey logo itself for licensed users.

[2017-10-16 16:09] RichiCoder1 commented on #488
Hmm. At least on machines with small source sets, we do have a 250 x something space that's pretty much unused. No reason we couldn't dynamically load a PNG into that space.

[2017-10-16 17:29] TheVakman commented on #488
That would work for me!

[2017-10-16 19:27] RichiCoder1 opened #490 "Drop support for SVG Icons"
Currently we support svg icons very well, but this is done by spinning up a mini browser process in the background, loading the svg in a document, and taking a snapshot of it. This is wasn't too ideal, but I did some work around caching and error handling to make it work fairly well. However with the arrival of Markdig.wpf, the only other major reason we had a dependency on CefSharp (Markdown Rend

[2017-10-16 19:31] RichiCoder1 opened #492 "Switch markdown rendering to Markdig.Wpf"
Currently we use CefSharp to render markdown as there wasn't any good alternatives. However, the excellent https://github.com/Kryptos-FR/markdig.wpf project has popped up which appears to do exactly what we need with high fidelity. It means we won't perfectly match the fidelity of the web package viewer, but it will greatly decrease the size and moderately decrease the load time of Gui.

[2017-10-16 20:06] ferventcoder commented on #490
@RichiCoder1 look at what Chocolatey.org does for this. I think it would work best.

[2017-10-16 20:07] ferventcoder commented on #490
https://github.com/chocolatey/chocolatey.org/blob/bef7bea1ba6f32a60b52e209f4152e2a82e48025/chocolatey/Website/Services/ImageFileService.cs#L202-L215

[2017-10-16 20:11] gep13 commented on #488
@ferventcoder...

What are your thoughts on this?

[2017-10-17 10:12] gep13 commented on #473
@TheVakman thank you for confirming!

[2017-10-17 10:13] gep13 commented on #366
@TheVakman this should be closed going forward.  If you continue to see this issue, then definitely let us know.

[2017-10-17 10:21] #490 closed

[2017-10-17 14:15] TheVakman commented on #295
@ferventcoder How far out are we from the official 0.15 release with the executable signed?

[2017-10-17 17:24] ferventcoder commented on #295
Not that far. Working on this now.

[2017-10-17 19:46] ferventcoder opened #494 "Source credential changes outside of Chocolatey GUI cause issues"
If a source is changed to require credentials and the source configuration is not changed prior to opening Chocolatey GUI, it errors on opening as it is attempting to check for updated packages and the source keeps asking for credentials.

[2017-10-17 19:47] ferventcoder commented on #494
I would hope that Chocolatey GUI recognizes the issue and stops attempting to use that source (and then places a little red background on it in the sources tab). Maybe an alerts section as well to let folks know something is wrong.

[2017-10-17 20:03] ferventcoder commented on #488
Not completely sure what that means.

[2017-10-17 21:01] RichiCoder1 commented on #494
Gui is currently very unreactive to outside changes once started. One of my next things I want to tackle.

[2017-10-17 23:33] ferventcoder commented on #295
This is actually delaying the release now, as the the WixProj wants to rebuild ChocolateyGui.exe after I've signed it.

[2017-10-18 00:53] ferventcoder commented on #494
Sorry for the confusion. If you change the source to require credentials, and ***then*** you open Chocolatey GUI, hoping to go update the source with the credentials, you are SOL and must do it from the command line.

[2017-10-18 01:51] RichiCoder1 commented on #494
Ah. I'll look into that now

[2017-10-18 08:09] gep13 commented on #295
@ferventcoder This should go back to the 0.15.0 milestone, right?

[2017-10-18 08:11] ferventcoder commented on #295
Yes, apologies.

[2017-10-18 08:11] #295 closed

[2017-10-18 08:12] ferventcoder commented on #349
First push had a couple of issues in new requirements for VERIFICATION/LICENSE, fixed that and have pushed again.

[2017-10-18 08:13] #349 closed

[2017-10-18 08:19] ferventcoder opened #495 "Update package for new Chocolatey requirements"
The work was done for 0.15.0, but this is needed to go back into the codebase for 0.16.0

[2017-10-18 08:24] ferventcoder opened #496 "Update build for authenticode signing"

[2017-10-18 11:32] #495 closed

[2017-10-18 11:32] #496 closed

[2017-10-18 11:36] #492 closed

[2017-10-18 11:54] TheVakman commented on #295
Thanks for the updates and I see that it's closed now too!

[2017-10-18 12:05] TheVakman commented on #488
@ferventcoder I was suggesting the top left have an option for company branding (where the Chocolatey logo currently sits). It could have something like "Powered by Chocolatey" underneath the company branding that the ChocolateyGUI user has replaced the main logo with. It might be a good selling point for licensed users.

My initial suggestion was that the bottom left be used for company logos - t

[2017-10-18 14:22] ferventcoder commented on #488
I see. Great idea.

[2017-10-19 05:41] pascalberger opened #499 "Release notes in about dialog empty"
The release notes in the about dialog of the released 0.15 version still reads:

[code]

Seems like the updating of the file during the build process doesn't work

[2017-10-19 06:27] gep13 commented on #499
@pascalberger dang it!

No, that part is working, I specifically checked that with @RichiCoder1 when we tagged the branch.

The problem here is that @ferventcoder then built the project again in order to sign the application, as a result, the release notes were not pulled into the build that shipped with 0.15.0.

We are going to need to figure this out for the next release.

Thanks for raising thi

[2017-10-19 11:36] zero77 opened #500 "Question"
How do I remove a package from chocolatey without uninstalling it.

For example, I am using the standard dropbox, I want to remove it but not uninstall it from chocolatey, and then change it to the beta.
Thanks

[2017-10-19 15:34] ferventcoder commented on #499
I missed a step then...

[2017-10-20 07:53] pascalberger opened #501 "Package description should use all available client space"
Package description doesn't seemes to be anchored correctly:

![image](https://user-images.githubusercontent.com/2190718/31810521-6825b902-b57c-11e7-8fad-dbc38d3ae4f3.png)

I would expect it to use full available height

[2017-10-20 07:56] pascalberger opened #502 "Disable "Show Only Packages with Updates" while information is still loaded"
After start of Chocolatey GUI it already shows the packages installed, while still a background process is running. If I enable the "Show Only Packages with Updates" checkbox during this time it won't show any package, even if updates are available. As soon as the background process has finished it works.

It would expect the "Show Only Packages with Updates" checkbox to be disabled while a backgr

[2017-10-20 08:05] pascalberger opened #503 "Empty list on feed"
I get an empty list on the remote feed on page 3:

* Open Chocolatey GUI
* Switch to source (bbt in this case)
* Packages are shown. Click next to go to second page
* Packages are shown. Click next to go to third page
* Empty page is displayed

![image](https://user-images.githubusercontent.com/2190718/31810980-19414584-b57e-11e7-882e-36a03e0aa2a5.png)

[2017-10-22 10:49] winnieXY commented on #295
Hey,
I've problems with excution of ChocolateyGUI right now related to the certificate.

It's stated that the certificate is revoked by the issuer, see screenshot below.

![image](https://user-images.githubusercontent.com/6831918/31861117-6eb8bac4-b727-11e7-8834-cf5cf474b6b9.png)

What's wrong here?

[2017-10-22 11:01] winnieXY opened #505 "ChocolateyGUI won't start due to a revoked certificate on win10"
I've installed chocolateyGUI 0.15 just today and had problems executing it from the start menu or by clicking on the exe (even as administrator) due to a revoked certificate.  The only way to execute the GUI was bypassing the UAC test and calling the gui from powershell.

As I think that this is not the desired behaviour here are some more informations about the certificate:
![image](https://user-

[2017-10-22 12:23] TheVakman commented on #505
Control Panel > Manage Computer Certificates > Trusted Root Certification Authorities > Certificates. Or open MMC and add the snap in.
Do you have DigiCert Assured ID Root CA on this list? If not, do you maintain your own root CA bundles in your environment?

[2017-10-22 14:43] winnieXY commented on #505
Hey,
I've the digicert root CA on this list - see screenshot:
![image](https://user-images.githubusercontent.com/6831918/31863027-1038615e-b748-11e7-9c58-1623cc1a8ac4.png)

And no - I do not maintain an own set of root CA bundles . This should be an absolute standard windows10 installation.

[2017-10-22 14:50] ferventcoder commented on #505
I can assure you that the certificate is not revoked. We signed it as a sha256, but maybe we should have signed it with sha1.

[2017-10-22 14:59] winnieXY commented on #505
I know ;-) I've checked it manually and the certificate is okay - I don't know why one of my pcs is not accepting the certificate/signature

[2017-10-22 15:00] winnieXY commented on #505
However this is not related to ChocolateyGUI alone - The signature on Choco.exe is also not valid

[2017-10-22 15:23] ferventcoder commented on #505
You need Digicert SHA2 Assured ID Code Signing CA. You can get that from https://www.digicert.com/digicert-root-certificates.htm (search for "Digicert SHA2 Assured ID Code Signing CA") or download directly from https://www.digicert.com/CACerts/DigiCertSHA2AssuredIDCodeSigningCA.crt.

[2017-10-22 15:29] ferventcoder commented on #295
This has moved over to #505 (@winnieXY opened).

[2017-10-22 16:09] winnieXY commented on #505
I've installed the certificate - nothing changes.

[2017-10-22 20:57] Daniel15 commented on #505
The digital signature looks fine to me on Windows 10. The DigiCert root CA should be available out-of-the-box on Windows.

@winnieXY Can you try clicking the last tab ("Certification Path" on English versions of Windows) in the certificate details dialog?
![](http://ss.dan.cx/2017/10/Digital_Signature_Details_22-13.57.16.png)

It should say "This certificate is OK" for the status at all three leve

[2017-10-23 02:16] daggmano opened #506 "Latest Version not showing"
The long awaited new version of Chocolatey GUI is here, allowing us to move the window during operations!  Fantastic, and the UI looks good.

Unfortunately, on my PC at least, the Latest Version column remains blank.  Even through I know there is an update awaiting me for at least one package, the column is blank and when I select 'Show Only Packages with Updates', the list is empty.

Let me know

[2017-10-23 02:22] RichiCoder1 commented on #506
That is very odd.
Can you produce the output of `choco outdated`?
Do you have any sources aside from the defaults?
Are there errors or warnings in your log files? If so, could you produce them? I'm available on gitter or twitter if they're in anyway sensitive.

[2017-10-23 02:31] daggmano commented on #506
Hmm, so there seems to be a path problem, perhaps?

    This is try 1/3. Retrying after 400 milliseconds.
     Error converted to warning:
     Access to the path 'C:\ProgramData\chocolatey\config\chocolatey.config.22644.update' is denied.
    This is try 2/3. Retrying after 600 milliseconds.
     Error converted to warning:
     Access to the path 'C:\ProgramData\chocolatey\config\chocolatey.conf

[2017-10-23 02:34] RichiCoder1 commented on #506
No, the access denied is a weird quirk of Chocolatey of running from an unelevated prompted. For some reason it always tries to update the config.

That's so weird. The output from `outdated` is correct :\. I'm not sure why it's not showing up.

[2017-10-23 02:35] daggmano commented on #506
Happy to wait a day or two to see if anyone else has any issues :)

[2017-10-23 17:18] winnieXY commented on #505
On the pc where it is working the certificaton path is correctly shown - on the other not as shown below:
![image](https://user-images.githubusercontent.com/6831918/31902946-e901c564-b826-11e7-8d6d-aa9772dd3fa1.png)

However according to mmc the certificates are installed

[2017-10-23 17:42] winnieXY commented on #505
Okay - I'll close this issue. Somehow the Chocolatey Software Certificate was installed as not-trusted. After fixing this everything is working.

If someone else hits the problem: Open mmc -> Add two certificate snap-ins (one for your current account, one for a computer account on the local pc), right-click on both  and search for Chocolatey. The certificate shouldn't pop up! If it pops up in the

[2017-10-23 17:42] #505 closed

[2017-10-23 20:11] gep13 commented on #416
@mwallner @AdmiringWorm @RichiCoder1 @magol I have started the process of setting up Transifex.  I "think" you should be able to see this here:

https://www.transifex.com/chocolatey/chocolatey-gui/dashboard/

Can you let me know if you all can see this?  If you could let me know your email addresses for Transifex (assuming you have one) I can get you added to the project.

[2017-10-23 20:19] mwallner commented on #416
Just put in a join request :-)

[2017-10-23 20:35] gep13 commented on #416
@mwallner sweet! You should have access now :-D

[2017-10-24 06:24] gep13 commented on #416
@magol that is great, I have accepted the request!  Thank you for yours and @mwallner continued help with this, it is a great addition to Chocolatey GUI.

[2017-10-24 06:43] Opensourcecommunitydevelopment opened #507 "Use https instead of http"
For chocolately main repo updates!

i have tried https://www.chocolatey.org:443/api/v2/ as source but still uses port 80 http for fetching

[2017-10-24 14:34] AdmiringWorm commented on #416
I can confirm that I have access to the transifex project.

[2017-10-24 22:12] RichiCoder1 commented on #507
/cc @ferventcoder

[2017-10-25 03:09] daggmano commented on #506
@RichiCoder1  I uninstalled and reinstalled ChocolatelyGUI and all seems to be working now.  Is it correct that only apps where the latest version is different to the installed version will show version in the Lastet Version column?

[2017-10-25 04:13] ferventcoder commented on #507
Weird - wonder where it is getting http? Everything uses https.

[2017-10-25 04:14] ferventcoder commented on #507
Assuming this was done without the `www.`

[2017-10-25 06:01] RichiCoder1 commented on #506
Yup, only apps with updates will show updates. Maybe there's some flaw in the logic that Gui uses that's accidentally filtering out webstorm. I'll see if I can reproduce. Thanks for the details!

[2017-10-25 06:13] gep13 commented on #499
@ferventcoder no, I wouldn't say that.  Rather, Cake.Recipe is built on a few assumptions, namely that the final push/build is happening on a CI system, however, this isn't happening here.  I made some assumptions when switching Chocolatey GUI build to not do some steps, and I forgot about this one.

[2017-10-25 18:39] ferventcoder opened #509 "Fix overlay - Title should overlap download section, not the other way around"
![image](https://user-images.githubusercontent.com/63502/32016583-ed2213c4-b989-11e7-9e50-d739081e4071.png)

[2017-10-25 19:31] mwallner commented on #500
Hello @zero77 - I'm don't quite get what you're trying to achieve.. can you eplain in more detail?
additionaly - for such questions please use our gitter chatroom https://gitter.im/chocolatey/choco  - you'll get responses much quicker there!

I'm closing this issue for now, if you're still looking for help, please visit the gitter channel - there'll most likely be folks around 24/7 :-)

[2017-10-25 19:31] #500 closed

[2017-10-25 19:43] mwallner commented on #416
thanks @gep13 for setting up the account at https://www.transifex.com/chocolatey/chocolatey-gui/dashboard/ :-)
I'd suggest if you've verified the system works (maybe once Didier is done with the french translation?) you close this issue.

[2017-10-25 19:54] AdmiringWorm commented on #416
@gep13 @mwallner
btw, I recommend that when transifex have been fully integrated with the build process, the best thing would be to only accept translations through transifex and not the through github itself.
Otherwise, you may end up with a headache of manually updating every string on transifex afterwards (since they may differ, maybe some work had already been done on transifex already).

As w

[2017-10-25 20:29] gep13 commented on #503
@pascalberger out of interest, how many packages do you have on that feed?  i.e. "should" there be anything on that third page?

[2017-10-25 20:32] gep13 commented on #509
Note, it is also having an impact of the `Tags:` section as well, but the description section remains untouched.

[2017-10-25 20:35] ferventcoder commented on #509
Interesting, yes.

[2017-10-25 22:37] punker76 commented on #509
@gep13 Here my changes / suggestions

- downloads text replaced with `<iconPacks:PackIconFontAwesome Kind="Download" />`
- title with version / authors and tags uses `TextTrimming="CharacterEllipsis"`

![2017-10-26_00h34_29](https://user-images.githubusercontent.com/658431/32026746-dfd105f2-b9e5-11e7-9eb4-e0b2e86925a4.png)

![2017-10-26_00h35_08](https://user-images.githubusercontent.com/658431/32

[2017-10-26 06:41] gep13 commented on #509
@punker76 thank you for the suggestions!  This looks really good!

We will have to do something with the overlapping of the checkboxes along the top row as well, but we can raise that as a separate issue.

P.S. I love seeing the translated version of Chocolatey GUI 😄

[2017-10-26 10:24] RiseT opened #511 "Chocolatey GUI doesn't elevate with a standard Windows user account"
Currently, when launching ChocolateyGUI v0.15.0 on a standard Windows user account (non-admin), there's no UAC password prompt, i. e. it doesn't ask for elevation.

Consequently, when trying to install, update or uninstall a package with ChocolateyGUI, it fails as of missing privileges.

**As a convenient solution, rather than solving this by elevating when launching ChocolateyGUI, I suggest not e

[2017-10-26 16:46] ferventcoder commented on #507
@Opensourcecommunitydevelopment can you take a look over the day today and see if this resolves itself?

[2017-10-26 17:53] RichiCoder1 opened #512 "Autofocus search boxes on SourceViews"
If the application is in focus, it should focus the appropriate search box for a source view upon navigation.

[2017-10-26 17:55] RichiCoder1 opened #513 "Add keybinding for navigating between sources"
We should pick some bindings for navigating quickly between sources views. Maybe some crtl+something+arrow keybind. Would also be nice to be able to Alt+Num or something to quickly navigate between the first 10 sources (as most people will have between 2-5 at most).

[2017-10-26 17:56] RichiCoder1 commented on #511
You don't realize it, but you've stumbled on one of the longest fought issues on Gui :). /cc @gep13
We did actually sort of do what you suggest previously, but we reverted to runAsInvoker for the 0.16 release. We might switch back to a scheme like this moving forward.

[2017-10-26 18:41] gep13 commented on #512
Great idea!

[2017-10-26 18:44] gep13 commented on #513
Ooo, I like this idea.  On a Windows Machine, you can do Win + 1, to start, or focus, the first pinned item in your taskbar.  Same with Win + 2, etc.  If we equate pinned items on your taskbar to sources in the list, then I think either CTRL + 1,2,3 or ALT + 1,2,3, would make a lot of sense.

[2017-10-26 18:45] gep13 commented on #511
As @RichiCoder1 said, this is a long, drawn out discussion.  In the run up to the last release, we did have something similar to what you have shown, but in the spirit of simplicity, we took it out again.  Coupled with the fact that Chocolatey has a self service mode, where a non admin can do the installation as well, it was felt that this was a better fit for now.

[2017-10-26 19:03] RiseT commented on #511
It looks like this is for the Business Edition only...? Is this correct? I'm a private user using a non-admin account for enhanced security.

[2017-10-26 19:45] superbonaci opened #514 "ERROR Log with Windows 10 Fall Creators Update"
[1021/225927.318:ERROR:child_thread_impl.cc(762)] Request for unknown Channel-associated interface: ui::mojom::GpuMain
[1025/190006.199:ERROR:child_thread_impl.cc(762)] Request for unknown Channel-associated interface: ui::mojom::GpuMain
[1026/210129.467:ERROR:child_thread_impl.cc(762)] Request for unknown Channel-associated interface: ui::mojom::GpuMain

[2017-10-26 20:04] superbonaci opened #515 "opera fails to upgrade"
choco upgrade opera
Chocolatey v0.10.8
Upgrading the following packages:
opera
By upgrading you accept licenses for the packages.

You have Opera v48.0.2685.50 installed. Version 48.0.2685.52 is available based on your source(s).
Progress: Downloading Opera 48.0.2685.52... 100%

Opera v48.0.2685.52 [Approved]
opera package files upgrade completed. Performing other installation steps.
The package O

[2017-10-26 20:06] superbonaci commented on #515
Reported here:
https://github.com/chocolatey/chocolatey.org/issues/537

[2017-10-26 20:36] ferventcoder commented on #515
Packages are separate from the tools - as it looks, this is a package issue. You will need to report that directly to the community maintainers. HTH

[2017-10-26 20:36] #515 closed

[2017-10-26 21:11] gep13 commented on #416
@AdmiringWorm totally agree.  I have implemented the required changes to make this possible going forward.

[2017-10-27 06:03] RichiCoder1 commented on #513
Exactly what I was thinking.

[2017-10-27 19:35] #512 closed

[2017-10-27 19:37] gep13 commented on #503
@pascalberger if/when you have a minute, can you test this out again with the latest from the MyGet Feed?  The new version now includes a page number at the bottom of the page.  I am curious if this shows anything that could help.

[2017-10-27 21:38] gep13 opened #517 "Create a tile view for local/remote package views"
Which will compliment the existing list view that already exists.

Users should be able to switch easily between tile view and list view.

[2017-10-28 05:42] pascalberger commented on #503
@gep13 Tried with v0.16.0-unstable0046. Going to Community Feed source, click next empty page appears:

![grafik](https://user-images.githubusercontent.com/2190718/32131629-912362e0-bbb3-11e7-919d-033315ebe58e.png)

[2017-10-28 11:38] gep13 commented on #503
I wonder if you are seeing some of the caching issues that happen from time to time, i.e. why are you only getting 6 packages in the list.  /cc @ferventcoder

[2017-10-28 23:10] RichiCoder1 commented on #503
^ This. I've been seeing some weird issues myself.

[2017-10-29 10:43] gep13 commented on #511
It looks like this is for the Business Edition only...? Is this correct?

That is correct.  We are trying to make Chocolatey GUI work in the best way possible, while catering to all use cases.

[2017-10-29 10:53] gep13 commented on #514
@superbonaci can you confirm what version of Chocolatey GUI you are using?

[2017-10-29 15:14] ferventcoder commented on #503
No idea here myself. Could be issues with the remote repo. Might be a good idea to check there and see if it experiences the same.

[2017-10-29 17:35] pascalberger commented on #503
I also had this on our internal ProGet hosted feed. So definitely not only a community feed caching issue

[2017-10-29 18:19] gep13 commented on #503
@pascalberger is it happening reliably, or is it intermittent?

[2017-10-29 19:23] pascalberger commented on #503
@gep13 Reliable. ProGet shows 110 packages on the feed.

[2017-10-30 00:36] RichiCoder1 commented on #514
I've actually seen this error myself, though I've yet to reproduce sadly. Chocolatey GUI 0.15, Windows FCU 1709.

[2017-10-30 07:39] gep13 commented on #503
@pascalberger ok, will likely need to you provide some logs, and perhaps some output from running Chocolatey directly as well.  @RichiCoder1 any thoughts on exactly what we would need in order to figure out what the issue is here?

[2017-10-30 11:44] pascalberger opened #519 "Locally installed packages shown for feed"
Sometimes the locally installed packages are shown for a feed.

To reproduce:
- Start ChocolateyGUI
- While package for local maschine are still loading switch to feed
- Afterwards it shows the packages installed on the local machine, but in the left sidebar the feed is selected

Event refreshing the view doesn't help and still shows the locally installed packages instead of the packages from the

[2017-10-30 22:05] gep13 commented on #517
The first part of this has now been added by @punker76:

![image](https://user-images.githubusercontent.com/1271146/32198043-6a385548-bdbe-11e7-8d20-87332b1343b7.png)

Additional PR's will handle follow up work for Local Package Source, etc.

[2017-10-31 13:16] lukemgriffith opened #521 "Source friendly name"
Could we add the possibility of adding a friendly name to the source tab. My source names are generated and would be nice to have the ability to add a human friendly name to it.

[2017-10-31 21:01] gep13 commented on #521
@lukemgriffith this seems like a great idea to me!

[2017-11-01 19:46] RichiCoder1 commented on #521
This will probably need a sister issue in the main Chocolatey repo. We're currently just parroting what Choco is telling us is available.

[2017-11-01 20:41] #517 closed

[2017-11-01 20:44] gep13 commented on #521
@RichiCoder1 yeah, I had the same thought.  Originally I was thinking that we could augment the source information in Chocolatey GUI, but then I went back on that, as I think it would be a wrong direction.

[2017-11-01 21:31] gep13 commented on #416
Using the amazing work from @AdmiringWorm I "think" I have just completed the first build using the translated artifacts from Transifex 😄

Version 0.16.0-unstable0072 has just been pushed to MyGet.

@pascalberger @mwallner @punker76 could I get you to take that version for a spin?  If this package successfully localizes to your environments, then I think we can go ahead and close this issue out, a

[2017-11-01 21:45] gep13 commented on #488
Ok, so I am starting to think about this again, and I want to get some more details about exactly what is required here.

* How are where should this branding be applied?
  * Through the settings screen?
  * Through convention? i.e. placing icon in a specific location with name?
* What exactly should be branded?
  * Font?
  * Colour?
  * Anything else?
* Where should the above be set?
  * Through

[2017-11-01 22:00] TheVakman commented on #488
@gep13 Sure, let me know if you want any more information after this too!

- I'd prefer through convention. C:\ProgramData\Chocolatey GUI\Icon or something similar. The setting screen would not great for deployment.

- In addition to the logo itself, I would not mind changing the colour of the overall interface but this would be a nice to have - the logo is much more important. I'm not at all conc

[2017-11-01 22:06] TheVakman commented on #514
When I am back from SaltConf17, I'll upgrade a machine internally to see if I can replicate. We will likely be upgrading in the near future so I'll need to make sure it works anyway.

[2017-11-01 23:14] punker76 commented on #416
@gep13 LGTM. Except the features group for Chocolatey, maybe this keys are currently missing?

![2017-11-02_00h10_49](https://user-images.githubusercontent.com/658431/32302404-d33f385e-bf62-11e7-8e60-08c722d8c803.png)
![2017-11-02_00h11_25](https://user-images.githubusercontent.com/658431/32302406-d35e2246-bf62-11e7-8acc-082dec4c2bb3.png)
![2017-11-02_00h11_31](https://user-images.githubuserconten

[2017-11-01 23:20] punker76 commented on #416
@gep13

![2017-11-02_00h12_32](https://user-images.githubusercontent.com/658431/32302554-9862ec48-bf63-11e7-9601-2c44b91659e9.png)
![2017-11-02_00h12_36](https://user-images.githubusercontent.com/658431/32302555-987b0de6-bf63-11e7-84dc-ac7c5cf7c6a6.png)

[2017-11-01 23:22] AdmiringWorm commented on #416
@punker76 I don't think the configurations from choco have been made translatable, probably because they are dynamically generated (just a guess).

The untranslated Source seems to be a mistake though.

[2017-11-01 23:27] punker76 commented on #416
@AdmiringWorm The `Source` should be easy to fix.

https://github.com/chocolatey/ChocolateyGUI/blob/6b9ef923b94f53d3c5efdc1305bd2e6a29e2db90/Source/ChocolateyGui/Views/SettingsView.xaml#L136

[2017-11-02 02:01] RichiCoder1 commented on #416
@AdmiringWorm Is correct. I believe we already raised this issue with @ferventcoder

[2017-11-02 06:40] mwallner commented on #416
LGTM, (looking great!), love the fact that we can now just point people to transifex :-)

[2017-11-02 07:00] gep13 commented on #416
Ok, I am going to go ahead and close out this issue, as the main focus of this issue has been tackled, and we can raise other issues about the missing translations.

[2017-11-02 07:00] #416 closed

[2017-11-02 08:14] gep13 commented on #416
@punker76 according to Transifex, the current English to German translation for `Features` is simply `Features`:

![image](https://user-images.githubusercontent.com/1271146/32315860-d61875ac-bfa5-11e7-9bbd-f137b8cbfc40.png)

If this isn't the case, or you can suggest something else, then we can get this changed.

[2017-11-02 08:21] gep13 opened #523 "Add missing translations"
Feel free to add items into this issue...

https://github.com/chocolatey/ChocolateyGUI/blob/6b9ef923b94f53d3c5efdc1305bd2e6a29e2db90/Source/ChocolateyGui/Views/SettingsView.xaml#L136

We need to add tooltips here:

![image](https://user-images.githubusercontent.com/1271146/32315969-2e5c9a68-bfa6-11e7-86b8-e3b75c6f312c.png)

Also need to add translations for the banners:

![image](https://user-imag

[2017-11-02 08:34] punker76 commented on #416
@gep13 @mwallner I added my suggestions

[2017-11-02 08:50] gep13 commented on #416
@mwallner @pascalberger @x-jokay you guys are marked as translators/reviewers for the German Language.  It would be good to know if you guys get emailed/notified about this suggestion.  i.e. would be good to know what the workflow is around suggestions, and how they can get accepted.  Thanks!

[2017-11-02 09:41] mwallner commented on #416
hm, this is odd - I didn't receive any notification, neither per mail nor in the transifex UI.. also it's pretty hard to spot the 'overall' suggestions - thge only way I see currently is checking each string indivdually...
![image](https://user-images.githubusercontent.com/5354972/32319280-56764a1c-bfba-11e7-8092-7187926ca172.png)

[2017-11-02 10:04] pascalberger commented on #416
@gep13 No mail notification here either

[2017-11-02 10:37] gep13 commented on #416
@mwallner @pascalberger seems like you might have to "watch" a language, in order to get these notifications, but I can't find how to add a watch onto a language 😢

[2017-11-02 10:44] gep13 commented on #416
Okay, I have found how to "watch" a project, but not how to "watch" a language:

![image](https://user-images.githubusercontent.com/1271146/32321929-a65eef48-bfba-11e7-8d28-6f366bed2fd9.png)

Can someone add a suggestion to the German language?  I want to see if I get any additional notifications through now.

[2017-11-02 10:47] punker76 commented on #416
@gep13 done

[2017-11-02 11:21] gep13 commented on #416
@punker76 yeah, that hasn't helped :sad:

[2017-11-02 12:56] gep13 commented on #269
@hg42 I believe that this issue has now been corrected.  For now, the package id is not shown on the main list view, however, you can access that information from the package details screen.

[2017-11-02 12:56] #269 closed

[2017-11-02 15:10] ferventcoder opened #524 "Remember tile/list view preferences"
I noticed when I exit Chocolatey GUI and reopen it that it does not remember the last setting. My preference is the tile view by default and I think most people are also going to prefer that.

[2017-11-02 15:11] ferventcoder opened #525 "On Load of any source, outdated is running (logging) every time"
Not sure if anyone else is seeing this as well. Outdated appears to be in the logs when switching between sources.

[2017-11-02 15:26] RichiCoder1 commented on #525
That sounds about right, especially now that we check for outdated packages in remote views too. Will need to do a better job of caching results.

[2017-11-02 15:42] ferventcoder commented on #525
At least cache for a few minutes.

[2017-11-02 16:15] gep13 commented on #524
@ferventcoder thanks for raising this issue, I have been meaning to add it.

[2017-11-02 23:08] ferventcoder commented on #416
@gep13 can you make me an admin in the CHocolatey team? I joined just now... but I can't request. It's based on my ferventcoder username.

[2017-11-02 23:55] ferventcoder commented on #416
@punker76 https://github.com/chocolatey/choco/issues/1441

[2017-11-03 07:17] gep13 commented on #416
@ferventcoder looks like you are all sorted, I think @AdmiringWorm must have hooked you up 😄

[2017-11-03 07:35] mwallner commented on #513
I'd vote for CTRL + 1..9 - I think it'd be more consistent with other apps (i.e. googlechrome)

[2017-11-07 20:23] RichiCoder1 opened #526 "Allow installing a version besides latest"
Allow the ability to install a version that isn't the latest, including operations like downgrading (which most times will be uninstall -> install). This should be built as a power user option and should not affect a normal user's flow or perf.

Use case: I was using Node 8.1.0 and I wanted to upgrade. Upgrading to 9.x however was breaking many of my projects, so I wanted to jump to latest 8.x (ak

[2017-11-08 10:29] pascalberger opened #527 "Search only on enter / with delay"
If I enter something in the search box, search is started, after a very short amount of time after stopping typing. This can be disruptive for the user. I would suggest to either only search on enter (plus add a search button) or increase the time to start the search.

[2017-11-08 11:59] punker76 commented on #527
@pascalberger Adding a delay for the search is simple to implement, by using the Delay property for the binding (or at code behind at the Observable). But a button would maybe nice for people who use often the mouse... :-D

[2017-11-09 08:09] pavelvasev opened #528 "Please stop flashing"
Dear developers!

Very often ChocolateyGUI darkens it's background, for example when perform a Chocolatey task or asking remote API. Then it lightens it again, when operation complete.

Every such switch to dark and then back to light is a strike on users eyes.

Probably it is better to make it not too dark (say opacity 0.9 instead of 0.3), or better maybe use another way to show that ChocolateyGU

[2017-11-09 15:25] RichiCoder1 commented on #527
Actually, the search already has a delay by using an observable. Or at least it should. We could add an enter/button option to short circuit however.

[2017-11-09 15:29] pascalberger commented on #527
@RichiCoder1 What's the expected delay? In my case it feels like below 1 second - short enough to already start searching if one needs to think quickly how to spell something.

[2017-11-09 16:27] RichiCoder1 commented on #527
It's currently a half second I believe.

[2017-11-12 20:44] gep13 opened #529 "Use Cake.Chocolatey.Module to install transifex"
Rather than doing this work in the AppVeyor YML file.  This will mean that local builds will more closely match the build that is happening on AppVeyor.

[2017-11-13 13:16] #529 closed

[2017-11-15 08:13] punker76 opened #530 "Move version on Package view to the left column"
I'm very often don't see the version for a package at the package view. So I think it should be better also at the left column where all other numbers are.

Thoughts?

![2017-11-15_09h08_24](https://user-images.githubusercontent.com/658431/32825401-2d1e75b0-c9e5-11e7-8a43-9f0dd83f8187.png)

[2017-11-15 09:20] gep13 commented on #530
@punker76 I would have no objections to this.

[2017-11-17 22:09] #523 closed

[2017-11-17 23:57] AdmiringWorm commented on #530
IMO that would be better, they way it currently is feels out of place for me (mainly because it is shown as a subscript)

[2017-11-18 00:09] AdmiringWorm opened #533 "Allow users to change the locale to use"
One thing I feel is missing is to allow the user to change the locale to display Chocolatey GUI in (I like to change from Norwegian to English and back, depending on the circumstance).

It is possible to allow such an option by doing a naïve check during runtime by checking which locale folder exists: see https://stackoverflow.com/a/32963564 for more info there.

Or creating a static configuration

[2017-11-18 16:24] HunterZ opened #534 "Creates two directories under ProgramData"
I just started using ChocolateyGUI and noticed that it created to folders under C:\ProgramData: `Chocolatey GUI` and `ChocolateyGUI`. I'm pretty sure the first one is some kind of typo, as it is empty, while the second has a log file.

I'd include a version number, but there isn't one in the about page, title bar, log file, etc. Oh - I guess it's in the package list: 0.15.0.

[2017-11-18 17:09] mwallner commented on #533
Hey Kim,
definitely worth having the possibility to switch locales, I'd say we just add a simple dropdown-option in the settings-page, how about that?

thanks for bringing this up again, totally forgot about it

[2017-11-18 17:11] mwallner commented on #533
CC @RichiCoder1 & @punker76 you're the WPF pros :-) - do you know if there's an easy way of implementing that?

[2017-11-18 17:26] gep13 commented on #534
@HunterZ thanks for reaching out, you bring up a few points here, but I think I can explain most of them.

In the 0.15.0 release, we reconciled on using `Chocolatey GUI` as the application, rather than `ChocolateyGUI`.  This was changed everywhere, including the installation folder.  The issue that was tracking this is [here](https://github.com/chocolatey/ChocolateyGUI/issues/402).  The fact that

[2017-11-18 17:31] gep13 commented on #533
@AdmiringWorm you must be reading my mind!  I was thinking about adding the same issue the other day, but I forgot!

[2017-11-18 17:37] AdmiringWorm commented on #533
@mwallner yeah, I think a dropdown box would be a sufficient option to change the locale.

@gep13 I thought I heard someone somewhere mention a issue for this was needed, so you were the one 😸

[2017-11-18 17:41] gep13 commented on #533
@AdmiringWorm yip, could have been me 😄

Agree that a dropdown list in the Settings page makes sense.

[2017-11-18 18:01] HunterZ commented on #534
No, I did not have this installed before on either of the two machines on which I installed it today, and both folders have today's date. I'm pretty sure you missed something somewhere.

[2017-11-18 18:06] HunterZ commented on #534
The issue may be in `Bootstrapper.cs`, where it sets `internal const string ApplicationName = "ChocolateyGUI";` and then uses this in `Configure()` when forming `LocalAppDataPath` and `AppDataPath`.

[2017-11-18 18:15] gep13 commented on #534
Hmm, interesting....

I was convinced that I had changed all references to ChocolateyGUI, but I will definitely look into the area of the code that you mention.

Thanks for pointing this out.

[2017-11-19 09:06] gep13 commented on #530
@RichiCoder1 what were your thoughts on this one?

[2017-11-19 11:30] #524 closed

[2017-11-19 20:11] gep13 commented on #395
This has been completed by @chrissie1 😄

[2017-11-19 20:11] #395 closed

[2017-11-19 20:12] gep13 opened #535 "Globalisation - French"

[2017-11-19 20:12] #535 closed

[2017-11-19 20:12] gep13 opened #536 "Globalisation - Japanese"

[2017-11-19 20:12] #536 closed

[2017-11-19 20:13] gep13 opened #537 "Globalisation - Russian"

[2017-11-19 20:13] #537 closed

[2017-11-19 20:13] gep13 opened #538 "Globalisation - Spanish"

[2017-11-19 20:13] #538 closed

[2017-11-19 20:14] gep13 opened #539 "Globalisation - Finnish"
Hoping that @mholo65 might be able to help with this one 😄

[2017-11-19 20:15] gep13 opened #540 "Globalisation - Greek"
@cmatskas has volunteered to help with this translation.

[2017-11-19 20:16] gep13 opened #541 "Globalisation - Persian"
@zardaloop has volunteered to help with this translation.

**NOTE:** This one will really test what we have in the UI, as this will be right to left.

[2017-11-19 20:17] gep13 opened #542 "Globalisation - Portuguese"
@gsferreira has volunteered to help with this translation.

[2017-11-19 20:20] gep13 commented on #538
This was completed by @jrgcubano

[2017-11-19 20:21] gep13 commented on #537
This was completed by @trailmax

[2017-11-19 20:24] gep13 commented on #536
This was completed by @SIkebe

[2017-11-19 20:25] gep13 commented on #535
This was completed by @x-jokay

[2017-11-19 20:27] gep13 opened #543 "Globalisation - Polish"
@jberezanski would you be interested in helping out with this translation?

[2017-11-19 20:50] gep13 commented on #534
@HunterZ I have just investigated this, and I can confirm that the issue is as you described.  The MSI installer was generated the `Chocolatey GUI` folder, and the bootstrapper was creating the `ChocolateyGUI` folder.  This will be fixed in the next release.

[2017-11-19 20:53] #534 closed

[2017-11-19 20:54] gep13 commented on #507
@Opensourcecommunitydevelopment I am going to go ahead and close this.  Please feel free to reply back here if things haven't corrected themselves.

[2017-11-19 20:54] #507 closed

[2017-11-19 21:33] mholo65 commented on #539
Sure, how do I proceed?

[2017-11-19 21:42] gep13 commented on #539
@mholo65 what a guy!

If you head over to the Transifex site: https://www.transifex.com/chocolatey/chocolatey-gui/dashboard/ you should be able to request to be a translator of the Finnish language.  From there, you should be able to start working through the strings that need to be translated.

Once done, the resx file for Finnish would be downloaded from Transifex as part of our build process, a

[2017-11-19 21:55] gep13 commented on #457
@superbonaci I think I have to agree with @astrom0 here.  There is already the ability to export the list of currently installed packages as a packages.config file.  From there, you can then pass this packages.config file to the choco command line, which would install all of those application, including Chocolatey GUI.

If you are not happy with this workflow, then please feel free to respond to t

[2017-11-19 21:55] #457 closed

[2017-11-19 21:57] gep13 commented on #435
@ferventcoder just to confirm, are you talking about the logging level that is ultimately passed through to Chocolatey?

[2017-11-19 22:24] AdmiringWorm commented on #539
Let my try to specify a little on where you need to navigate to request to be a translator:

When you navigate to the page @gep13 mentioned, you'll notice a button saying `Join Team`, if you press that one you'll be presented with a choice of a language you want to be added to
Just select the Finish language, and everything is done there (when you've been accepted).

![image](https://user-images.g

[2017-11-20 17:04] gsferreira commented on #542
Working on it :)

[2017-11-20 20:33] gep13 commented on #542
@gsferreira thank you very much! 😄 Please let me know if you have any questions.

[2017-11-21 18:34] ferventcoder commented on #435
Yes and yes.

[2017-11-27 16:40] ferventcoder commented on #511
Hi @RiseT - we set the execution privilege to `highestAvailable` -
 https://github.com/chocolatey/ChocolateyGUI/blob/31f8544c08d3df52578136929ebafc430cba66cf/Source/ChocolateyGui/app.manifest#L25

This means if your account is a non-administrator it won't ask for UAC. If your account is an administrator, it will ask for administrative permissions on startup.

I'm not even sure we had things set up

[2017-11-27 16:43] ferventcoder commented on #456
@another-guy honest curiosity, what is it about the Apache v2 license that keeps you at bay from contributing under it?

[2017-11-27 16:44] ferventcoder commented on #494
I believe this is likely still an issue unless it opens a dialog when requested.

[2017-11-27 16:48] ferventcoder opened #545 "Allow for passing in package parameters / installer arguments (maybe other arguments directly to choco)"
It would be great to be able to pass through package parameters and installer arguments as part of installation. There are some folks out there who enjoy the UI but still want some of the customization of installed packages.

Other things to consider:

* Setting to force which architecture of a package is installed (x64, x86)
* Ability to select which version of a package is installed

Based on di

[2017-11-27 16:53] ferventcoder commented on #342
Superseded by #465

[2017-11-27 16:59] ferventcoder commented on #511
Related to

* #342 / #465
* #347 / #438

Subprocess issues:

* #448
* #440
* #372
* Debugging code became quite difficult
* Missing WCF data contracts in enums could produce hard to find bugs

[2017-11-27 17:07] ferventcoder commented on #511
Perhaps there may be an opportunity to approach this again in the future. Currently after a 9 month dive down a rabbit hole, the scars are maybe too fresh to approach this.

However if I understand your approach correctly, you are looking for more the UAC into a totally different user (aka "Run As"). If there is something that could easily support that and still have things be very debuggable, I'm

[2017-11-27 18:08] another-guy commented on #456
@ferventcoder I don't think license discussions would be on topic here. You may think, this is a "religious" question to me. In short, Apache 2.0 is less permissive -- it _makes me think about things I don't want to think when dealing with OSS_.

[2017-11-27 18:28] ferventcoder commented on #456
Perhaps we find another avenue for discussion. It's not a religious reason at all for us in that we use Apache v2. Yes, it's a bit less permissive than MIT in that it has extra protections for us - someone can't reuse the source code without attribution, nor can they use our trademarks. Both of which are very important when you have a company behind the FOSS product. As long as you are not doing e

[2017-11-27 19:49] another-guy commented on #456
@ferventcoder I am not a lawyer. The link below has an answer saying that:

This part is actually seen on your screenshot as well. That is the "state changes" under the Conditions section.

Simply seeing this limitations _makes me think_ about how to deal with a particular open-source project. I don't have enough energy, competence, and/or motivation to dig into this aspect of software development

[2017-11-27 20:57] RiseT commented on #511
Example:
I have 2 user accounts on my Windows machine. One is called "Admin" (administrative privileges, only used for installing software or other tasks that require admin privileges), the other one is called "Daily Work" (no admin privileges, used as my primary account for browsing, office, etc).

Currently, when I run ChocolateyGUI from the user account "Daily Work", every package installation,

[2017-11-27 22:30] ferventcoder commented on #511
@RiseT yes, that's exactly where I thought you were going. I am not even sure if the subprocess bits we had implemented wrapped this scenario or not. This would be something we can strive for eventually. It's unfortunately not as straightforward to implement as one might hope.

[2017-11-27 22:33] RichiCoder1 commented on #511
@ferventcoder Yup, the subprocess did that. The issue was mostly A) we piped *everything* to the subprocess, even if it didn't require privileges and B) the subprocess was very fault intolerant and the RPC was kinda hacky.

[2017-11-28 16:18] RichiCoder1 commented on #545
Yup, this has been asked before I believe. How would we surface this? Add an additional `Install With...` option or something that surfaces a text box for pasting in params?

[2017-11-28 16:45] ferventcoder commented on #545
How would you see it? I like maybe having a hidden area at the bottom where this can be specified, and the user just clicks like a right arrow (that converts to a down arrow) to expose this section.

Kind of like summary and detail tags in html5.

[2017-11-28 21:56] gsferreira commented on #542
This is probably a stupid question but I didn't find it... How can I change the language in the ChocolateyGUI?

[2017-11-29 10:41] soulflyman commented on #527
It should be possible to disable automatic search after typing completely and only allow search by pressing return or a button.
So the software will be much more accessible for slow typing people. Such as disabled ones, who need to type with a pen.

[2017-11-29 15:38] AdmiringWorm commented on #542
@gsferreira currently you would need to modify the code to change the language (unless you have your system locale set to the one you want to use).

See here on the suggested edit to test out a locale:
https://github.com/chocolatey/ChocolateyGUI/issues/397#issuecomment-278137802

[2017-11-30 14:46] gsferreira commented on #542
Thanks guys!
I will test it

[2017-11-30 18:05] gsferreira commented on #542
@gep13 Translation complete :) I will try to find someone in a local user group to review it

[2017-11-30 18:15] josemaia commented on #542
Hi, I've volunteered. What do I need in order to test?

[2017-11-30 18:17] gsferreira commented on #542
@gep13 could you invite @josemaia to transifex?

[2017-11-30 20:28] gep13 commented on #542
@gsferreira this is great news!  @josemaia you should be able to create an account on Transifex and request membership of the Portuguese Language.  From there, I can get you added to the team to help with on-going translations.

Thank you both for your help with this!

[2017-11-30 22:27] ferventcoder opened #546 "Creates two folders - "ChocolateyGUI" AND "Chocolatey GUI""
In ProgramData I'm seeing a `ChocolateyGUI` and a `Chocolatey GUI` folder (note the space). I think the one with the space is created, but it's never used. I see the same in Program Files. It appears we have a lingering thing where one uses the name of the application and the other uses a non-spaced name.

[2017-12-01 07:42] gep13 commented on #546
@ferventcoder this is a duplicate of this: https://github.com/chocolatey/ChocolateyGUI/issues/534

Which has already been addressed, and should go out in the next release.

[2017-12-01 07:42] #546 closed

[2017-12-01 10:09] gsferreira commented on #542
@rjcarneiro will also help us 😀
@rjcarneiro please read the comment from @gep13 and create the account at https://www.transifex.com/chocolatey/chocolatey-gui/dashboard/

[2017-12-01 10:59] gep13 commented on #542
@rjcarneiro perfect, I have accepted your request, and added you to the team.  Thanks for helping out!

[2017-12-01 16:08] ferventcoder commented on #546
Ah thanks! I didn't see that one.

[2017-12-01 16:47] AdmiringWorm commented on #542
@josemaia I've accepted your request as well.

[2017-12-04 11:03] gsferreira commented on #542
@gep13 and @AdmiringWorm could you set @josemaia and @rjcarneiro as Reviewers?

[2017-12-14 09:04] gsferreira commented on #542
Translation to Portuguese is completed! 😄

[2017-12-14 13:22] gep13 commented on #542
@gsferreira that is great news! Thank you very much!  This should go out in the next release 😄

[2017-12-14 13:22] #542 closed

[2017-12-15 15:20] bondo01 opened #547 "GUI fails to show packages in alphanumerical order."
looks like it only shows in order of popularity.
![croppercapture 109](https://user-images.githubusercontent.com/2029669/34048359-08fa6030-e179-11e7-8d98-0ea248489046.png)

Changed between popularity and A-Z and got same listing

[2017-12-22 22:21] fakoua opened #548 "Context Menu Position issue in the package details."
<img width="910" alt="issue" src="https://user-images.githubusercontent.com/2089210/34313828-f0663db0-e776-11e7-8e77-bf7204813914.png">

There is an office in the context menu position in the package details form.

- Open the details for any package.
- Right click in the details pan.
- The issue should be reproduced.

### Version

ChocolateyGUI Version 0.15.0

[2017-12-27 01:11] bcurran3 opened #549 "Upgrade of Chocolatey GUI to 0.15.0 just caused a Chocolatey downgrade to 0.10.3"
Something just happened that was VERY strange with ChocolateyGUI and it's dependencies.

Installing ChoclateyGUI just downgraded the version of Chocolatey!

C:\WINDOWS\system32>cup all
Chocolatey v0.10.8
Upgrading the following packages:
all

blah blah

You have ChocolateyGUI v0.13.2 installed. Version 0.15.0 is available based on your source(s).
Progress: Downloading chocolatey 0.10.3... 100%
Pro

[2017-12-27 01:12] bcurran3 opened #550 "Package source link for ChocolateyGUI 0.15.0 in nuspec is wrong"
current points to: https://github.com/chocolatey/ChocolateyGUI/tree/develop/ChocolateyPackage
instead of: https://github.com/chocolatey/ChocolateyGUI

[2017-12-27 05:40] AdmiringWorm commented on #550
seems to be a remnant of before the directory structure changed.
the correct url would probably be:
https://github.com/chocolatey/ChocolateyGUI/tree/develop/nuspec/chocolatey

[2017-12-28 11:41] olehmelnyk opened #551 "Add feature: ability to select which packages to install (probably with a checkbox)"
Add feature: ability to select which packages to install (probably with a checkbox), then install them all at once instead of installing one-by-one

[2017-12-28 11:51] olehmelnyk opened #552 "Preload next page in background to speedup navigation"

[2017-12-28 11:59] olehmelnyk opened #553 "Installation lists"
Would be nice to be able to create and save installation lists/sets, for example, a list called "dev" might include installation of git, visual studio code, node, php, python, ruby, go, etc.; a list called "browsers" might include chrome, firefox, vivaldi, etc.; for "messaging" there might be skype, viber, telegram, franz, etc. - well, everybody will have their own preferred lists...

Also, "popul

[2018-01-16 14:07] dfranciscus opened #554 "Hiding "settings" for non-admins"
It would be nice to hide the "settings" button for non-admin users. I do not believe there is any reason they would need to access it, at least in our environment.

Thanks!

[2018-01-23 08:00] TheVakman commented on #554
I second this, it would be a nice option to have.

[2018-01-24 07:41] compwiz21 commented on #12
Why can't we have it so that when users select multiple items, it adds it to a que that gets processed? Still installing one at a time, but without any manual intervention by users?

[2018-01-27 21:15] RichiCoder1 commented on #549
@gep13 Is this an issue with our nuspec pining a version?

[2018-02-02 02:25] ferventcoder commented on #527
@chocolatey/chocolateygui should we move this to 0.17.0? We'd like to get a release out soon with all of the goodness and improvements that have been implemented so far!

[2018-02-02 02:27] ferventcoder commented on #521
I like this, let's address it in an upcoming release.

[2018-02-02 20:14] teamdresch commented on #554
+1
We'd also like the ability to hide admin-only sources from non-admin users.

[2018-02-08 08:27] IRJustman opened #556 "ChocolateyGUI 0.15.0 crashes on startup under Win10Pro64bit without anything useful"
When I try to fire up ChocolateyGUI on one machine (I haven't tried on other machines I have it installed on just yet), I get an unceremonious "ChocolateGUI has stopped working" dialog.  Unfortunately, I do not get anything that might be of help, so a bit of counseling as to how to make it spew something useful for you folks would be greatly appreciated.

Specifics:
Windows 10 Professional 64-bit

[2018-02-11 14:57] IRJustman commented on #556
I've narrowed it down to the .NET installation.  Since I could not reinstall just that (.NET 4.7.1 is part of Win10v1709), the only thing I _could_ do was install the 4.7.2 preview.  That has fixed my problem.  Any suggestions (short of completely reinstalling Windows 10) for fixing this issue should this come up again and I do _not_ have the fortune of having a pre-release available as I had this

[2018-02-14 11:25] #527 closed

[2018-02-14 20:35] #499 closed

[2018-02-15 20:09] gep13 opened #558 "Fix icon not showing up in gallery"
![image](https://user-images.githubusercontent.com/1271146/36278560-1e33c4a2-128c-11e8-86d5-7f63a4ab9dfd.png)

[2018-02-15 21:22] dfranciscus opened #559 "Failed to update package"
I am getting this error as a standard user when trying to update anything it seems. I am on Win 10 Enterprise 1709 and ChocoGUI v0.16. Configed Choco with this:

choco feature disable --name=showNonElevatedWarnings
choco feature enable --name=useBackgroundService
choco feature enable --name=useBackgroundServiceWithNonAdministratorsOnly
choco feature enable --name=useBackgroundServiceInteractively

[2018-02-16 09:19] gep13 commented on #530
@DamianMaslanka5 thank you very much for taking the time to fix this issue!  😄

[2018-02-16 09:19] #530 closed

[2018-02-16 09:20] gep13 commented on #558
The icon that is trying to be used is https://cdn.rawgit.com/chocolatey/choco/8b6217061a4efe6543622e903996bb8eac012db2/docs/images/Choco_Icon.png which results in an HTTP 404.

[2018-02-16 09:22] gep13 commented on #558
Let's just use the same iconUrl that chocolatey uses just now:

https://raw.githubusercontent.com/chocolatey/choco/master/docs/logo/chocolateyicon.gif

[2018-02-16 09:23] #558 closed

[2018-02-16 09:24] gep13 commented on #556
@IRJustman I don't have any immediate suggestions, no, sorry.

[2018-02-16 09:25] gep13 commented on #554
@dfranciscus this makes sense to me, and I think we should include it in the next release.

[2018-02-16 09:27] gep13 commented on #550
@bcurran3 thank you very much for reporting that!

[2018-02-16 09:27] #550 closed

[2018-02-16 09:34] gep13 commented on #559
@dfranciscus any chance that you can grab the logs that go along with this upgrade attempt?  Also, can you please confirm what version of Chocolatey and chocolatey.extension that you are using?

[2018-02-16 09:37] gep13 commented on #559
@dfranciscus can you confirm that `choco upgrade` outside of Chocolatey GUI is working as you would expect?

[2018-02-16 14:02] pascalberger commented on #501
This seems to be still an issue with 0.16.0:

![image](https://user-images.githubusercontent.com/2190718/36311068-57d02f22-132a-11e8-9524-88a0607c649b.png)

[2018-02-17 22:07] bcurran3 opened #562 "Fix links in Settings/About (0.16)"
The following get 404 and WordPress database errors: (possibly a site problem?)

•	All new Chocolatey GUI
•	Making a chocolatey package for Chocolatey GUI
•	Chocolatey GUI

The above are available via web.archive.org

First link to Gary Ewan Park - https://www.gep13.co.uk/about/ 404's :)

[2018-02-17 22:33] bcurran3 opened #563 "Chocolatey GUI v0.16.0 uninstall errors (but uninstalls)"
I think most the "confusion" stems from:
"$packageName = "Chocolatey GUI";"
instead of:
$packageName = "chocolateygui";
in chocolateyUninstall.ps1

I haven't looked into the registry key error but want to point it out as well.

Microsoft Windows [Version 10.0.16299.248]
(c) 2017 Microsoft Corporation. All rights reserved.
C:\WINDOWS\system32>choco uninstall chocolateygui
Chocolatey v0.10.8 Profess

[2018-02-18 22:03] gep13 commented on #562
@bcurran3 aw man, we should totally fix those!  Thanks for reporting!

[2018-02-18 22:05] gep13 commented on #501
@pascalberger thanks for following up with this.  @punker76 would you be in a position to look at this?

[2018-02-19 13:37] gep13 commented on #562
@bcurran3 The blog posts links I am likely going to have to just remove.  I remember @chrissie1 saying that these had been removed from the lessthandot.com site, and I don't think they have been moved anywhere else.

[2018-02-19 13:39] #562 closed

[2018-02-20 10:27] bcurran3 opened #564 "Chocolatey GUI pulls download stats only from the community feed"
(or maybe only from the first source feed)

I have a local Chocolatey Simple Server (CSS) with just a few packages on it. All but one of those packages are also in the Chocolatey community repository.

When I first click to see the feed on my CSS, all package download stats display as "-1"

When I double click a package to view details and Chocolatey GUI pops up the white and blue loading..., the

[2018-02-22 08:58] Janek91 opened #565 "Chocolatey GUI is randomly unable to list all packages"
Sometimes ChocolateyGUI is listing only few packages and searching for desired package doesn't return anything. Investigating issue with Fiddler - I see, that instead of
[https://chocolatey.org/api/v2/Packages()?$filter=IsLatestVersion&$orderby=DownloadCount%20desc,Id&$skip=0&$top=30&searchTerm=%27%27&targetFramework=%27%27&includePrerelease=false](https://chocolatey.org/api/v2/Packages()?$filter=

[2018-02-22 09:25] gep13 commented on #565
@Janek91 Do you happen to have a note of when this occured?  I wonder if this is related to this issue:

https://github.com/chocolatey/choco/issues/1494

Due to problems with the caching of the website that we have from time to time, package search results sometimes don't have back either at all, or only with a few results.

[2018-02-22 17:19] RichiCoder1 commented on #564
I'm pretty sure we're not doing any special here. Does CSS produce stats by default @ferventcoder @gep13 ?

[2018-02-22 19:58] bcurran3 commented on #564
@RichiCoder1 If download statistics aren't part of the simple server feed, CGUI should display something letting the user know that the statistics are unknown instead of pulling and displaying statistics from a completely different source.

[2018-02-25 11:16] ghost opened #566 "Chocolatey GUI infinite load"
Hello, I am contacting you to inform you that the software does not work in French. As soon as he makes a query in the console, it runs indefinitely. Thank you for correcting this bug as soon as possible. Ps: if there is fault it is because I am French sorry in advance.

[2018-02-26 17:41] dfranciscus commented on #559
Hi @gep13 yep choco upgrade is working outside GUI. I am using the latest Chocolatey and ChocolateyGUI v0.16.0. Attached are the logs. Thanks!

[logs (3).zip](https://github.com/chocolatey/ChocolateyGUI/files/1759662/logs.3.zip)

[2018-03-01 07:01] cbussa opened #567 "Scroll via mouse wheel seems backwards."
(I've looked and don't see this listed anywhere.  I also don't believe this is an enhancement.  If so, I'll resubmit correctly.)

C-GUI v0.16.0 on Windows 10 current, new install, running as Admin under an elevated prompt.

Launching and selecting the chocolately repository, everything fetches and works correctly.  Once completed, I can scroll the item list with the cursor keys (after first select

[2018-03-01 08:28] DamianMaslanka5 opened #568 "Chocolatey GUI crashes on startup if all sources are disabled."
Logs from ChocolateyGUI are not helpful
[code]

![startupcrash](https://user-images.githubusercontent.com/25898045/36834195-64cca6f8-1d32-11e8-9f86-2802a989f606.PNG)

[2018-03-02 02:46] TheVakman commented on #564
@ferventcoder @RichiCoder1 We don't keep the community feed enabled here so ours always show -1. I'm also pretty sure that Chocolatey Simple Server doesn't offer statistics. Although, there could have been something that I missed. It would be nice if that was the case but there are other options that have statistics should I require them.

With that said, if statistics aren't available for a sourc

[2018-03-02 16:09] TheVakman opened #569 "Hide Download Counters"
This is a feature request for ChocolateyGUI to have one or both of the following:

- ChocolateyGUI to have the option to hide "Download Counters" entirely from all views.
- Hide "Download Counters" if the Chocolatey source that is being viewed does not support the functionality (like in Chocolatey Simple Server).

From a user perspective, when they are viewing packages and see "-1" on packages, th

[2018-03-03 11:57] aadrian commented on #545
@RichiCoder1

For simplicity this should be available only in the detail window, since only from there is visible that a package has parameters at all.

Ideally parameters would be parsed automatically and offered as UI options, but I'm not sure if there's a standard way to read those from package descriptors.

If it' possible, than a UI form could be generated from all those parameters. There are

[2018-03-03 12:49] aadrian commented on #68
Seeing at least the dependencies on the Details page would be **really** helpful!

Especially for the open source edition, it would be really helpful to see if a package requires/installs some other dependencies. This way the user could skip a package, in order to avoid breaking existing stuff already installed outside Choco :( .

[2018-03-04 02:29] Riajyuu opened #571 "Files of Programs Persists after Chocolatey GUI Uninstallation"
environ:
Chocolatey 0.10.8
Core Ext 1.3.3
GUI 0.15.0
Windows 10 Pro latest release

STR:
Install any program, VLC for example. All files of VLC is installed in C:\Program Files. And then uninstall it with GUI.

Actual Results:
VLC is not display in the GUI but all files of VLC remain untouched, including the shortcut.

Expected Results:
All files of VLC should have been removed.

[2018-03-05 08:53] fnagel opened #572 "Show latest version of pinned packages"
Pinned packages do not show the latest release by default. I always need to unpin to see what's the latest release and then pin it again. Is there a specific reason for that?

[2018-03-07 20:30] RichiCoder1 commented on #572
Primarily if you're pinned, we assume you're just not interested in future packages and so we leave them out of the update check which usually is a little slow and not necessarily free.

[2018-03-08 10:16] fnagel commented on #572
Ok, that makes somehow sense but I would prefer to show the versions anyway as otherwise one might never tend to update at all as he is not aware there a new releases.

For me, pinning packages is mainly used to make sure important (and "breaking happy") packages are not updated when hitting "update all" button.

[2018-03-16 15:36] dfranciscus opened #573 "Package shows as installed in GUI when it did not actually install"
After failing a package (cygwin" in my example), when right clicking on the package again, it shows options to pin, uninstall, reinstall, details as if its installed but it did actually install. This would be confusing for users. Hitting "refresh packages fixed it" so the proper menu showed when right clicking again (install,details). I will send logs if needed.

[2018-03-16 16:12] gep13 commented on #573
@dfranciscus if you could capture the full steps to reproduce the problem, so that we can troubleshoot the problem, that would help.  In this case, I think you attempted the install using the background service, when it wasn't fully configured, right?  If so, can you capture those steps here so that it doesn't get forgotten?

[2018-03-20 01:03] adriens opened #574 "Chocolatey GUI not found in the PATH"
Hi @gep13 , i wanted to give a try to chocolateyGUI package to make a visual demo. While playing with your software, i discovered that the `exe` was not in the `PATH` ...and sometimes it's pretty convenient.

Please find below a screenshot showing all this :

![2018-03-20 11_56_56-c__windows_system32_cmd exe](https://user-images.githubusercontent.com/5235127/37630049-5b09b530-2c36-11e8-80bc-605909

[2018-03-20 01:03] adriens commented on #574
Hopefully you will find this issue interesting 😸

[2018-03-20 19:34] RichiCoder1 commented on #574
I'm curious how this would be useful for you? Gui can't really do anything that would make it relevant on the cmd besides, well, start. (That isn't already done by choco that is)

[2018-03-20 20:03] adriens commented on #574
@RichiCoder1  : Sometmes, it's useful tu launch GUI from console.

[2018-03-20 21:46] davidjirovec opened #575 "Outdated package looks up to date in GUI"
[code]
but in GUI it looks up to date.

[2018-03-21 14:49] BeyhanSen opened #576 "After installing AdobeAIR it crashes"
When I install AdobeAIR on ChocolateyGUI it starts to crash with that code:
[code]

When I try to upgrade all on powershell it shows AdobeAIR package name "adobeaır" not "adobeair" and gives error.
[code]
I think that may be a problem. When I uninstall AdobeAIR on powershell ChocolateyGUI is working normal.

[2018-03-24 19:43] aadrian opened #578 "GUI crashes when view-ing details!"
After the latest Windows 8.1 updates, the UI is crashing when view-ing the details of packages (with the exception of the Chocolatey packages).
[code]
The steps performed:
 - clean log files in both chocolatey and chocolatey GUI directories
 - start the chocolatey GUI
 - right click on any item (except those mentioned above) and click "details".
 - the detail window is loaded, text is readable
 -

[2018-03-26 17:47] DamianMaslanka5 commented on #575
This is related to #506 and #557 fixes it.

[2018-03-27 06:39] Schneehexe opened #579 "ADW - Clweaner failed - like the most of all the packages"
2018-03-27 08:21:49.481 +02:00 [Information] Installing the following packages:
2018-03-27 08:21:49.481 +02:00 [Information] adwcleaner
2018-03-27 08:21:49.481 +02:00 [Information] By installing you accept licenses for the packages.
2018-03-27 08:22:20.125 +02:00 [Information] [NuGet] Installing '"adwcleaner 7.0.8.0"'.
2018-03-27 08:22:20.140 +02:00 [Information] [NuGet] Successfully installed '"a

[2018-03-27 06:40] Schneehexe opened #580 "Revo Unmistaller, Installation failed"
2018-03-27 08:39:31.681 +02:00 [Information] Installing the following packages:
2018-03-27 08:39:31.681 +02:00 [Information] Revo.Uninstaller
2018-03-27 08:39:31.681 +02:00 [Information] By installing you accept licenses for the packages.
2018-03-27 08:39:32.406 +02:00 [Information] [NuGet] Installing '"Revo.Uninstaller 2.0.2"'.
2018-03-27 08:39:32.521 +02:00 [Information] [NuGet] Successfully ins

[2018-03-27 06:43] Schneehexe opened #581 "CCEnhancer Installation failed"
2018-03-27 08:41:40.802 +02:00 [Information] Installing the following packages:
2018-03-27 08:41:40.802 +02:00 [Information] ccenhancer
2018-03-27 08:41:40.802 +02:00 [Information] By installing you accept licenses for the packages.
2018-03-27 08:41:41.291 +02:00 [Information] [NuGet] Attempting to resolve dependency '"ccleaner"'.
2018-03-27 08:41:43.820 +02:00 [Information] [NuGet] Installing '"c

[2018-03-27 06:47] Schneehexe opened #582 "Instsalled Package "Sandboxie (Install 5.20) is incompatible with Windows"
![image](https://user-images.githubusercontent.com/36819426/37951075-6624c9d6-319b-11e8-8b95-507fc229a552.png)

[2018-04-16 15:46] jacktose opened #584 "Crash opening details page for Rufus"
### To reproduce:
1. Switch to “chocolatey” on the left.
2. Search for "[rufus][rufus]".
3. Double-click or right-click > details.

### Expected:
1. Open details page.

### Actual:
1. Open [this dialog][dialog].
2. When dialog is dismissed, close entirely.
3. Leave [this log file][log].

### Notes:
[`choco info rufus` in admin PS works as expected.][PS]

### Context:
Chocolatey GUI 0.16.0
Chocolat

[2018-04-17 17:44] jacktose commented on #584
Replicated on another machine:

Chocolatey GUI 0.16.0
Chocolatey 0.10.10
Powershell 5.1.16299.251
Win 10 Enterprise 1709 build 16299.309

[2018-04-18 16:41] jacktose opened #585 "GUI misses update that shows in CLI"
### To reproduce:
1. In PowerShell, run `choco outdated` or `cup foxitreader -whatif`. Note that there's an update available: `foxitreader|9.0.1.1050|9.0.1.1052|false`. [Full output here.][cli]
2. In ChocolateyGui, find “Foxit Reader.”

### Expected:
1. Version=9.0.1.1050, Latest Version=9.0.1.1052.
2. Upgrade or Update All installs new version.

### Actual:
1. [Version=9.0.1.1050, no Latest Versi

[2018-04-20 12:57] DamianMaslanka5 commented on #585
This is related to #506 and #557 fixes it. @ferventcoder @gep13 @RichiCoder1 Is the PR going to be merged?

[2018-04-23 16:06] AdmiringWorm commented on #584
I can confirm this issue on my own computer as well. Not sure yet if there is a problem with the rufus package though as the error message mentions that the URI is invalid, but in my opinion such errors should probably be silently ignored by chocolatey gui.

[2018-04-23 16:58] AdmiringWorm commented on #584
Been looking through the rufus package now, and other than a broken image.
I can't see anything in the package that should cause the error, but from the error report it also seems to be a problem with the markdown, although I couldn't reproduce any error when testing it on the babelmark page.

Basically, I have no idea what's causing this. Could perhaps be wrong data returned by chocolatey? (proba

[2018-04-24 20:47] bcurran3 opened #586 "Delete old ProgramData data (logs) after upgrading to Chocolatey GUI 0.16.0+"
Chocolatey GUI 0.15.0 (and how many versions previous?) saved log files in:
C:\ProgramData\ChocolateyGUI

Chocolatey GUI 0.16.0 saves log files in:
C:\ProgramData\Chocolatey GUI

Upgrading to Chocolatey GUI 0.16.0 leaves the old log files orphaned.

When doing an upgrade, please check the existence of the old log files and, if found, move them to the new path.

On uninstall, please remove the C:\P

[2018-04-27 19:28] AlbinoGeek opened #587 "Tiles View -- Null Reference Exception in LiteDB"
### Summary:

Tile View causes Null Reference Exception in LiteDB

![Image of the issue](https://i.imgur.com/GjAmmZl.png)

### Reproduction

1) Install Chocolatey 0.10.10 (latest) for Windows 10 x64
2) Install Chocolatey GUI 0.16.0 via Chocolatey *
3) Open Chocolatey GUI (opens as Administrator)
4) Click "Tile View" in the top right

### Long Description

- No program log could be found.
- No symb

[2018-04-27 19:29] AlbinoGeek commented on #584
Is this related to #578 ?

[2018-04-27 19:29] AlbinoGeek commented on #578
Is this related to #584 ?

[2018-04-27 19:46] aadrian commented on #578
@AlbinoGeek seems to be the same problem only on a different OS version. So technically that issue is a duplicate of this one :) .

We can reproduce this problem on Win7 and Win 10 too, on **all** machines - it makes practically the the ChocolateyGUI useless.

The problem seems to be the loading from the net of further resources in the detail page - there seems to be no correct handling for that,

[2018-04-27 20:31] jacktose commented on #584
Looks similar, but I've only replicated the issue with rufus. All other packages I've tried work fine, including CCleaner.

[2018-04-27 20:34] jacktose commented on #578
As the #584 reporter, I don't think it's a dupe. CCleaner (and everything I've tried except rufus) works fine for me, the errors are different, and there are logs.

That's with chocolatey 0.10.10 and this was reported with 0.10.8. Is this fixed or replicated in .9 or .10?

[2018-04-27 20:42] aadrian commented on #578
@jacktose The problem still happens with the newest versions too, on **all** computers we've tried.

[2018-04-27 20:50] jacktose commented on #578
@aadrian It doesn't happen on either of my (Win 10) computers. What can I do to help troubleshoot?

[2018-04-27 21:03] aadrian commented on #578
@jacktose I have no idea :( .

The only common theme between the various computers where I've installed over the last 3 weeks seems to be:
 - the packages that I installed (at least a part of them)
 - (locale)/region
 - other packages not managed by choco that are still installed on those machines

I can reproduce the crash from newly bought Thinkpads with Win 10 Pro till very old computers still

[2018-05-08 08:52] mwallner opened #588 "Search in all available repositories"
This might come in handy for larger setups where "access-control" to packages is realized by having a multi-stream setup.
In such a szenario, the CLI `choco search` works just as expected, searching via the GUI becomes cumbersome.

(searching for packages by typing in the search box should not be limited to the currently selected stream - maybe an option to "search in all streams" could be added t

[2018-05-08 19:45] mwallner commented on #588
will create an option to ignore source - entry points should be https://github.com/chocolatey/ChocolateyGUI/blob/develop/Source/ChocolateyGui/Services/ChocolateyService.cs#L167

[2018-05-12 11:06] superbonaci opened #589 "Chocolatey GUI icon is a blank image"
Icon missing:

![Chocolatey GUI icon on desktop](http://oi64.tinypic.com/34nme8k.jpg)

![Chocolatey GUI desktop shortcut properties](http://oi67.tinypic.com/2a75umw.jpg)

![Chocolatey GUI executable in C:\Program Files (x86)\Chocolatey GUI](http://oi63.tinypic.com/mtt1cp.jpg)

[2018-05-12 11:07] superbonaci commented on #589
I've noticed that there are two folders in `C:\Program Files (x86)\`:
`Chocolatey GUI` and `ChocolateyGUI` (this latest is empty)

[2018-05-12 19:03] gep13 commented on #589
@superbonaci can you please confirm what version of Chocolatey GUI you are using?

[2018-05-15 13:07] gep13 opened #590 "Next/Previous First/Last buttons remain disabled when using Simple.Server"
Link to Simple.Server:

https://github.com/chocolatey/simple-server

![image](https://user-images.githubusercontent.com/1271146/40058456-1c85a136-5849-11e8-9832-7bcbbddcde67.png)

Even though there are more than a page worth of packages that need to be displayed.

[2018-05-16 19:36] superbonaci commented on #589
@gep13 ChocolateyGui.exe is version 0.16.0.0 (MD5=f5ceb8aac15566dc4e7413fbb613e83f)

[2018-05-22 20:35] mwallner commented on #566
@alal700 - thanks for reporting this issue - please give a little more detail about your environment (OS Version, Choco GUI Version)

@x-jokay - can you reproduce this?

[2018-05-23 12:13] ziziz commented on #551
Next to Half-Life 3 and 'long, (really long) range Wi-Fi', this would improve my life ;-)

In the scope of ChocolateyGUI, selectability is far more useful than categories or improved filter functions In my opinion.   I realized that more than 30% of my 'chocolatey installs' was for multiple apps.

I realized that most often in those cases ive started with a `clist `in the terminal followed by eith

[2018-05-23 14:44] ziziz commented on #12
Next to Half-Life 3 and 'long, (really long) range Wi-Fi', this would improve my life ;-)

In the scope of ChocolateyGUI, selectability is far more useful than categories or improved filter functions In my opinion. I realized that more than 30% of my 'chocolatey installs' was for multiple apps.

I realized that most often in those cases ive started with a clistin the terminal followed by either se

[2018-05-25 08:49] x-jokay commented on #566
Just tried, but I cannot reproduce this error.

I don't think this error can be language specific.

[2018-05-25 15:04] gep13 opened #592 "Allow setting of Chocolatey GUI settings via Chocolatey package parameter"
At the minute, it is possible to set a preference for whether Tile View is used or not via the Settings screen within Chocolatey GUI.

However, it should be possible to set this at installation time.

This will be done via a package parameter.

[2018-05-28 19:57] exportgoldman commented on #488
We would like to with the Chocolatey for Business be able to change the big Chocolatey logo in the top left hand side. Management are very keen on this.

[2018-05-28 23:17] exportgoldman commented on #488
If we were to fund this work to get the branding work completed (including replacing the branding on the big top left Chocolatey logo could we get a estimate how much this would be to fund?

[2018-05-29 11:30] ferventcoder commented on #488
Hello @exportgoldman - please reach out directly (rob at chocolatey dot io) to discuss. In short, branding ability will be in commercial editions only.

[2018-05-30 07:45] Kryptos-FR commented on #492
Hi.

Markdig.Wpf author here. I'm glad to see that you like my library.

I actually had no idea that it was used in a real project somewhere. I wrote it initially as a pet project when @xoofx (markdig's author) was a coworker at my previous company.

I haven't had the time recently to work on it (although I did accept one or two pull requests), but if you think something is missing, don't hesitate

[2018-05-30 08:53] gep13 commented on #492
@Kryptos-FR thanks for reaching out!

We will definitely keep you posted if we run into anything.

[2018-06-05 13:47] elpatron68 opened #593 "Export packages locks .config file"
After exporting the list of installed packages to a `.config` file, the exported file stays locked and is not movable/renamable/deletable until ChocolateyGUI (v0.16.0, Win10/64) is terminated.

[2018-06-06 19:13] HolisticDeveloper opened #594 "Unhandled LicenseExpiredException"
My Chocolatey Pro license expired a few days ago (working on getting it renewed) but this seems to be causing an issue for ChocolateyGUI. Should ChocolateyGUI still work even with an expired license?

After leaving ChocoatelyGUI idle for a few minutes, I repeatedly get a message box with this error:

Rhino.Licensing.LicenseExpiredException: Expiration Date : 6/1/2018 12:00:00 AM
   at Rhino.Licens

[2018-06-06 19:21] HolisticDeveloper commented on #594
Ah, I think this is coming from chocolatey itself. I get the same exception if I leave chocolatey idle at the "Do you want to run the script?" prompt in a powershell window.

[2018-06-10 05:54] vertigo220 opened #595 "Loading search results is very, very slow"
Loading search results take a very long time. In fact, it's unusably slow, and significantly slower than Synaptic and Mint package managers and apt. The only reason I installed as many programs with it as I did was so I could thoroughly test it out, but it took hours (in fact, over a day IIRC) to install the ~120 programs I did. Here's my findings and thoughts on the matter:

- I ran some tests, t

[2018-06-10 05:56] vertigo220 commented on #104
It looks like this was fixed a few years ago, but I'm still noticing the same behavior. If you perform a search, then navigate to another page, then do another search, it will put you on the results page for the new search that you were on before the search. For example, if you search for "browser" and go to page x, then search for "firefox," you'll get page x of the results for the firefox search

[2018-06-10 05:57] vertigo220 opened #596 "Make search results include similar/related apps and "category" apps"
For example, instead of searching for Firefox and then having to search Waterfox separately, searching for either one should result in the other being toward the top of the results, as well as other browsers. Searching for "browser" should also result in those two and others being toward the top of the results, instead of scattered with only a few on the first page (with the first result not even

[2018-06-10 06:01] vertigo220 opened #597 "Show install location in package info"
The info page for installed packages should show where the application is installed (its path) and, ideally, display it as a link that opens file manager to that location.

This was [originally submitted to the choco repo](https://github.com/chocolatey/choco/issues/1568#issuecomment-388002011), and there's [another related issue](https://github.com/chocolatey/choco/issues/681) there as well.

[2018-06-14 13:07] #569 closed

[2018-06-14 13:07] #564 closed

[2018-06-14 13:11] #506 closed

[2018-06-14 13:33] #431 closed

[2018-06-14 16:29] silverqx commented on #431
thx 👍

[2018-06-14 19:30] gep13 opened #598 "Separate Options/Sources from About screen"
Rather than having a single flyout with Options/Sources/About, there should be two flyouts.  One with Options/Sources and another with About.

This will make it easier to show/hide elements based on a users access to the application.

[2018-06-14 20:15] gep13 commented on #598
What I am going to suggest is a change to this:

![image](https://user-images.githubusercontent.com/1271146/41435706-a06f8b70-7017-11e8-9595-5061ffbcae71.png)

Addition of an `about` link in the top right hand corner.

![image](https://user-images.githubusercontent.com/1271146/41435726-b411380e-7017-11e8-9f23-1767fb5f49da.png)

Changing the Settings screen to only have the `Options` and `Sources`

[2018-06-14 20:15] gep13 commented on #598
@punker76 @RichiCoder1 @pascalberger @mwallner what are your thoughts on the above?

[2018-06-14 20:37] punker76 commented on #598
@gep13 👍  I think this looks better.

[2018-06-15 19:02] #598 closed

[2018-06-18 05:17] KarStudio opened #600 "Can't install any programs "unable to read package from path""
Unable to read package from path 'ChocolateyGUI\ChocolateyGUI.nupkg'.

How to solve it?

[2018-06-18 10:28] gep13 commented on #600
@KarStudio can you provide more information about exactly the problem that you are facing?

What are you doing when you see that error?

Can you provide a complete set of steps to reproduce this problem?

[2018-06-18 18:46] gep13 commented on #554
This is going to be implemented as a feature for Chocolatey for Business customers.  If you are interested in taking this for a spin, we are almost at the point of having a working beta version ready for testing.  Reach out to Chocolatey support through the usual channels for additional information if you are interested.

For now, going to close this issue.  Let me know if you have any additional

[2018-06-18 18:46] #554 closed

[2018-06-18 18:49] gep13 opened #601 "Default for NonAdmin Access to Settings should be false"
The ability to hide settings for non-admin users was added in this `C4B Feature` issue:

https://github.com/chocolatey/ChocolateyGUI/issues/554

Initially, a new setting `Allow non-admin access to Settings` was added, which defaulted to true.  This meant that functionality remains exactly the same, with the ability to turn off access as required.

However, in future versions of Chocolatey GUI, the

[2018-06-18 18:51] gep13 commented on #592
This will include all settings, i.e:

* Show Console Output
* Default to Tile View for Local Source
* Default to Tile View for Remote Source
* Use Delayed Search
* Allow non-admin access to Settings (C4B)

[2018-06-18 18:59] gep13 opened #602 "Global Chocolatey GUI settings"
At the minute, the Chocolatey GUI settings:

![image](https://user-images.githubusercontent.com/1271146/41556177-dd26eef6-7331-11e8-86e4-e7416b33ef24.png)

are configured on a person user basis.  It should be possible to allow settings these options globally, with the ability for users to configure these to their own needs, if required.  They will help with administrative deployments of Chocolatey

[2018-06-18 19:09] gep13 commented on #432
@ferventcoder am I right in saying that this will be included in the change that I am away to make for using `source_list` rather then reading the available sources directly from the Chocolatey Configuration file?

[2018-06-18 19:14] gep13 opened #603 "Remove admin only sources/repos"
Currently, the available sources/repos are pulled directly from the Chocolatey Configuration file.  As a result, functionality that is included in Chocolatey Lib to filter out the available sources, based on other aspects is lost.  Rather than reading directly from the configuration file, the `sources_list` function of the `IChocolateyConfigSettingsService` should be used.

[2018-06-18 19:15] gep13 commented on #603
No logic will actually be included in Chocolatey GUI to provide this filtering, instead, this will be defered to Chocolatey Lib, where things like whether it is a licensed version of Chocolatey etc will be inspected, and the correct list of sources/repos will be returned.

[2018-06-19 04:45] vertigo220 commented on #206
I hate to raise this from the dead, but I was going to create a thread similar to this, but for different reasons. While it would certainly be nice to have an actual installer for less tech-savvy people, that's not the issue I have. I personally had no problem using the PowerShell script to install it; however, it took me a while to even figure out there was a GUI option, since it's not mentioned

[2018-06-19 04:55] vertigo220 commented on #12
This seems to be related to issue #87, and is one of the things I came here to suggest. This feature would make a HUGE difference in the usability of Chocolatey, especially for those of us with relatively slow connections, where installing many programs requires a lot of waiting. This is further compounded by the fact that, as I mentioned in issue #595, the GUI is _painfully_ slow at loading searc

[2018-06-19 04:56] vertigo220 commented on #87
This appears to be a duplicate of issue #12. I made a comment under that issue regarding this potential feature.

[2018-06-19 05:04] vertigo220 opened #605 "Settings descriptions/explanations"
GUI settings should have short descriptions explaining what they do, either as tooltips or by expanding them or something. Especially ones like "Use delayed search," as it's not at all clear what that does.

![](https://user-images.githubusercontent.com/12024557/39887280-d201251e-545f-11e8-8cce-a101b8721855.png)

Some of these are obvious (e.g. "Show Console Output" and "Default to Tile View"), bu

[2018-06-19 11:10] gep13 commented on #605
@vertigo220 thank you for your valuable feedback.  This is certainly something that we will look at.

The Chocolatey GUI settings we can handle directly in the Chocolatey GUI application, the Chocolatey settings come directly from the Chocolatey CLI, so we would need to create a similar issue there it changes are actually required.

With regard to the setting that prompted this question...

Use de

[2018-06-19 11:15] gep13 commented on #206
@vertigo220 Chocolatey GUI is mentioned on the home page for Chocolatey: https://chocolatey.org/ scroll down just a little.

However, a mention of Chocolatey GUI on the installation page would make sense to me.  Could I ask that you raise an issue here:

https://github.com/chocolatey/choco-wiki

So that this doesn't get forgotten about, and if you are able to help out by submitting a PR, that woul

[2018-06-19 12:46] gep13 opened #606 "Don't allow navigation to settings or about screen while dialog is open"
This will cause confusion to user, and shouldn't be allowed.

![image](https://user-images.githubusercontent.com/1271146/41598109-30623c02-73c7-11e8-8ebc-3144968b5093.png)

Wait for dialog to close, before allowing settings or about button to be clickable.

[2018-06-19 12:48] gep13 commented on #606
@punker76 I think I am right in saying that this is due to, in part, this setting:

`ShowDialogsOverTitleBar`

on our main `MetroWindow`.  Is there another setting that I can use to prevent clicking of these buttons while dialog is open, so would I need a guard property on the button itself to only be clickable when not showing the dialog?

[2018-06-19 13:05] gep13 opened #607 "Remove multiple uses of SetCustomLogging"
When Chocolatey GUI first started using Chocolatey Lib, it was necessary to call Lets.GetChocolatey for each command execution.

This is no longer the case, and actually, since 0.10.9 of Chocolatey Lib, doing this actually has an adverse affect on how things work.  As such, the multiple calls to Lets.GetChocolatey should be removed, in favour of a single instantiation of Lets.GetChocolatey, that i

[2018-06-19 13:28] punker76 commented on #606
@gep13 There happened a few changes for the Dialogs in v1.6.x. So maybe we can move to this version for a better handling with opened dialogs...

- `MetroWindow` (`Dialogs`)
	+ Add a new (readonly) `IsAnyDialogOpen` dependency property. This property will be updated if a dialog is shown or not.
	+ New: `OwnerCanCloseWithDialog` property at `MetroDialogSettings` which can be used to handle how the