[2018-06-19 14:19] gep13 commented on #606
@punker76 ooo, interesting.  Okay, lets swing back on this once I have done a couple other things.  Currently Chocolatey GUI is using 1.5.0.  Should it be a straight forward upgrade, or are there things that are going to need to change?

[2018-06-19 14:51] punker76 commented on #606
@gep13 It's straight forward to upgrade without doing some changes. (The only thing is, I saw on doing this, that the version of the assembly is wrong, so I should publish a fixed v1.6.5, damn...)

[2018-06-19 15:00] vertigo220 commented on #605
https://github.com/chocolatey/choco/issues/1572 already exists, in case one is needed there. 😄

[2018-06-19 15:30] vertigo220 commented on #206
See https://github.com/chocolatey/choco-wiki/issues/88

[2018-06-19 18:50] gep13 commented on #606
@punker76 ouch! Hopefully a simple fix for the version number.

Ok, cool.  Let me finish up what I am working on, and I will try to take a look at this as well.

[2018-06-19 18:57] punker76 commented on #606
@gep13 give me a hint and I can (will) make the upgrade (incl. the IconPacks)

[2018-06-19 19:53] gep13 commented on #606
@punker76 that would be amazing if you could 👍

What do you need from me?

[2018-06-19 19:57] gep13 commented on #605
Okay, let's get that one re-opened to be specifically about the Chocolatey descriptions.

[2018-06-20 07:16] #607 closed

[2018-06-20 07:16] #603 closed

[2018-06-20 07:57] ferventcoder commented on #432
@gep13 @lukemgriffith I want to say this is covered by the change to not see admin only - that's where we've decided to hide those sources that would be admin only. Non-admins would see self-service and normal sources.

[2018-06-20 07:57] ferventcoder commented on #432
I want to say that's where this conversation ended up.

[2018-06-20 07:57] #432 closed

[2018-06-20 10:35] paul-michalik commented on #545
What happened to this? Another (seemingly related) issue for which I haven't found an answer is the collaboration of chocolateyGUI with `useRemeberedArgumentsForUpgrades` feature. From what I can tell, the remembered arguments are ignored: observed with git.install, cmake.install and many other packages.

[2018-06-20 15:58] ferventcoder commented on #545
Hi @paul-michalik, note that the ticket is open and has no identified milestone. Currently it looks like we've given it some labels, so we've validated we want to do it. Then it goes into a prioritization schedule to determine "when" - that's a hard answer that has many variables (and projects) at play. That could be anywhere from a week to 2 years from now (just to give you a good expectation - w

[2018-06-21 11:56] ferventcoder commented on #606
Looks like just a review of #608 ;)

[2018-06-21 12:11] ferventcoder commented on #573
https://chocolatey.zendesk.com/agent/tickets/2433

[2018-06-21 15:58] gep13 commented on #606
@ferventcoder yip, I saw the PR, but I think that is only part of the work, right @punker76?  That PR pulls in the latest MahApps pieces, but I think there is still some configuration work required.  Although, I haven't taken the PR for a spin yet.

[2018-06-21 20:06] punker76 commented on #606
@gep13 I'm done with #608. This issue is also added to the PR, so you can close this one.

[2018-06-21 20:40] exportgoldman commented on #573
The easiest way to repro is to install a package which has a missing dependancy. The command line will show a error, but the GUI will happily say it's installed until a refresh.
![gui-problem](https://user-images.githubusercontent.com/39711253/41744431-da35ce7e-75f7-11e8-83b7-ab15dc5e8dc8.png)

[2018-06-22 02:53] astrom0 commented on #457
@bcurran3 - thanks. I'll check it out. Reads like a worthwhile improvement.

[2018-06-22 08:13] #606 closed

[2018-06-22 09:15] gep13 commented on #488
@TheVakman @exportgoldman This is going to be implemented as a feature for Chocolatey for Business customers. If you are interested in taking this for a spin, we are almost at the point of having a working beta version ready for testing. Reach out to Chocolatey support through the usual channels for additional information if you are interested.

For now, going to close this issue. Let me know if y

[2018-06-22 09:16] gep13 commented on #488
What has been implemented is the ability to change:

* Splash Screen Logo (what is shown when application is loading)
* Image in top left section of the application once loaded
* The icon which is shown in the TaskBar when application is running

[2018-06-22 09:16] #488 closed

[2018-06-23 12:17] superbonaci commented on #457
@bcurran3 thank you very much!

[2018-06-27 00:39] exportgoldman commented on #559
WE have the same problem. Fresh install of Windows 10 v1709 and chocolatey. Enable that option useBackgroundServiceInteractively and nothing will install, even chocolateygui will fail to install.

[2018-07-02 03:04] exportgoldman commented on #592
Awesume. I vote for this feature! Currently we are coping a blank db with the settings we want to each PC. Ugly!

[2018-07-03 01:29] vertigo220 opened #609 "Make package pages notify of any current issues / problems"
As discussed in [issue #1564 in the choco repo](https://github.com/chocolatey/choco/issues/1564#issuecomment-388147302), the web page for a package indicates if there's an issue with it with a red ball (which, also mentioned there, isn't informative without knowing what it means, so a label or something would be helpful there, and I'll create an issue for that on the proper repo), but there's no i

[2018-07-03 08:47] ruwanthaka commented on #600
We are facing the same problem , but the problem is same nuget is working fine on anther machine , but the server ( Windows server 2012R2) fails without any valid reason .
Same time different nuget packages are installed without this issue
Complete error message is
Parsing -version resulted in error (converted to warning):
 Cannot bundle unregistered option '-e'.
Chocolatey v0.10.11
Installing the

[2018-07-09 14:55] gep13 opened #610 "Unable to install a package that uses 64bit PowerShell Modules"
Steps to reproduce:

Create a package that contains the following:

[code]

Note that this installs correctly directly through Chocolatey.

When installed through Chocolatey GUI, the following error is presented...

![image](https://user-images.githubusercontent.com/1271146/42457885-7f35bd08-8390-11e8-98b1-38bc5410985f.png)

[2018-07-11 14:11] #610 closed

[2018-07-11 14:45] #605 closed

[2018-07-11 14:46] gep13 commented on #605
A first stab at this will be released in the next version of Chocolatey GUI:

![image](https://user-images.githubusercontent.com/1271146/42580067-91df4a86-8521-11e8-9a21-4e69f05a3490.png)

[2018-07-11 18:04] vertigo220 commented on #605
Here's my thoughts on how to shorten the descriptions to minimize clutter while maintaining the same level of information (much of the suggested descriptions simply restate the name of the option, which is like using a word in its own definition):

- Show Console Output - Shows output from the commands being executed when a job is running.
- Use Tile View for Local/Remote Source - Default to tile

[2018-07-12 09:34] gep13 commented on #605
@vertigo220 those seem like sensible suggestions to me.  I have updated the Resource strings to use these.

I also think some of the 'Features' option descriptions could be improved, especially autoUninstaller

As I think I have mentioned, those descriptions/titles are coming from Chocolatey itself, and Chocolatey GUI is simply displaying them, so those will not be updated here.  That is what the

[2018-07-12 10:07] gep13 commented on #592
@exportgoldman I have just pushed a PR that starts to implement this functionality.  Would you be in a position to take this for a spin to get some feedback on it?

[2018-07-12 13:35] vertigo220 commented on #605
Ah, you're right, you did. Sorry, forgot about that. Look forward to the further discussion there. :)

[2018-07-12 14:15] gep13 commented on #605
@vertigo220 if you want to make some suggestions on how the titles/descriptions can be improved by adding information to that ticket, then we can discuss further.

[2018-07-13 18:48] gep13 commented on #592
@exportgoldman The PR has now been merged, and it should now be possible to install the latest version from the MyGet feed in order to take this for a spin.  There is still a small amount of work to be done to add Package Parameters to the Chocolatey GUI package so that they can be passed in at installation time, however, for now, once installed, you should be able to run the following commands:

[2018-07-13 18:50] gep13 commented on #602
Following a discussion with @ferventcoder it makes sense that these global configuration options should be added to the main chocolatey.config file.  This is already starting to house configuration for other parts of the Chocolatey ecosystem, like CCM and Chocolatey Agent, so it makes sense that this should also house configuration data for Chocolatey GUI.

[2018-07-15 13:28] AntoineTurmel opened #614 "Ability to update several packages by checking a checkbox"
Is it possible or planned to add a checkbox column to be able to update or install several packages ?

[2018-07-15 13:31] AntoineTurmel opened #615 "Version installed column doesn't match with real version installed currently"
The version installed column doesn't match with the real version installed currently, example VLC:
![chocolatey_version](https://user-images.githubusercontent.com/119288/42734439-1f1918da-8844-11e8-871f-6f32422a7b01.png)

[2018-07-15 21:04] exportgoldman commented on #592
Okay, I can only find the 0.16 build from the feed.

I try to run

chocolateygui feature list

and I get the chocolatey GUI appear, then a window appear which what looks like the options then half a second later it all quits.

________________________________
From: Gary Ewan Park <notifications@github.com>
Sent: Saturday, 14 July 2018 6:49:02 AM
To: chocolatey/ChocolateyGUI
Cc: Tyler Rosolowski; M

[2018-07-15 21:16] exportgoldman commented on #592
Okqy ignore the last message. I have the beta version now and can see the options. This is great.

________________________________
From: Tyler Rosolowski
Sent: Monday, 16 July 2018 9:04:16 AM
To: chocolatey/ChocolateyGUI; chocolatey/ChocolateyGUI
Cc: Mention
Subject: Re: [chocolatey/ChocolateyGUI] Allow setting of Chocolatey GUI settings via Chocolatey package parameter (#592)

Okay, I can only f

[2018-07-16 07:19] gep13 commented on #592
@exportgoldman sweet!  Let me know if you have any questions.

[2018-07-16 09:01] gep13 commented on #615
The installed version number shown within Chocolatey GUI is the installed package version.  It is entirely possible that the software associated with the package has been updated outside of Chocolatey, and as a result, the package version no longer reflects the software version.

[2018-07-16 09:01] gep13 commented on #614
@AntoineTurmel I believe that what you are asking for is this issue:

https://github.com/chocolatey/ChocolateyGUI/issues/12

Closing this one as a duplicate.

[2018-07-16 09:01] #614 closed

[2018-07-17 07:37] AntoineTurmel commented on #615
So maybe it could be nice to have a real installed version column to be able to compare if It needs update ? Because some software updates themselves like Firefox, Steam etc.

[2018-07-17 09:42] AntoineTurmel commented on #615
Hmm the Software Version that is shown in Programs in Control Panel ? (but yeah it doesn't always match...)

[2018-07-17 10:56] gep13 commented on #615
Typically, we try to grab the Software Version number from the registry, which in turn is what is shown in Add Remove Programs.  However, sometimes the correct version number is included within the title of the application itself in the registry, or somewhere else entirely.

[2018-07-17 11:34] AntoineTurmel commented on #615
Oh so it should be somehow accurate, but you said previously "The installed version number shown within Chocolatey GUI is the installed package version." Is it from the software registry key itself or just Chocolatey ?

[2018-07-17 12:14] gep13 commented on #615
Note earlier I referred to the `package version` and recently we have been talking about the `software version`.  Those two things are not the same.  The `software version` is what is normally added into the registry by the underlying installer for the software.  The `package version` is for the Chocolatey package which wraps the installation of the software.  Ideally, those two things should matc

[2018-08-11 21:07] watercolorhearts commented on #206
It's 2018, having to build from source code is kind of ridiculous if I don't want to download all the programming packages, prerequisites, compilers, etc and then pray no error occurs during the building!

There are also issues involved in the installation under the current one of Windows 10, which no one has helped me resolve yet.
![image](https://user-images.githubusercontent.com/32391190/439960

[2018-08-11 22:27] vertigo220 commented on #206
@watercolorhearts - did you install chocolatey following the instructions [here](https://chocolatey.org/install) first? You have to install it before you can use it to install the GUI.

[2018-08-12 17:04] pauby commented on #206
@watercolorhearts I'm assuming this is your Reddit thread? Posting it here so others know of potential solutions.

[2018-08-13 02:56] watercolorhearts commented on #206
Can you remove that? I don't want my throwaway connected to my main account, due to harassment/death threats in the past. Thanks.

[2018-08-13 13:27] pauby commented on #206
@watercolorhearts I've removed the comment at both sides (GitHub and Reddit). Can you confirm if the suggestions have resolved your issue?

[2018-08-22 14:48] ferventcoder opened #616 "Pulling outdated information should not block and should not show up in logs"
@gep13 we discussed this and you may have already created an issue - feel free to close this as a duplicate if you have. Otherwise feel free to fill this out a bit better

[2018-08-28 16:00] ferventcoder opened #617 "Show Progress Dialog For Downloads, etc"
It would be good to see a progress bar when things are downloading, such as a package so that a user kind of has an indication that things are still waiting.

[2018-09-12 21:04] gep13 opened #618 "Tile selection for Remote Sources is not being used"
Even though the setting for enabling Tile View by default has been selected, when changing to a remote source, the List View is enabled by default.

[2018-09-13 10:30] #618 closed

[2018-09-24 09:09] gep13 opened #620 "Unable to update source after making a change to another source"
Steps to reproduce:

* Edit one source (MyGet in screenshot below) and hit Save
* Click on another source, and notice that the source details section isn't populated with the source details
* Return to main screen and go back into Settings/Sources
* Click on source and source details are correctly populated

![image](https://user-images.githubusercontent.com/1271146/45944382-e5dfdb00-bfe1-11e8-90a

[2018-10-19 08:17] #620 closed

[2018-10-19 19:45] gep13 commented on #578
@aadrian @AlbinoGeek @jacktose if possible, could you all take a look at the latest Chocolatey GUI pre-release version?

You can install this using:

[code]

Hopefully this issue has been fixed.

[2018-10-19 19:45] #578 closed

[2018-10-19 19:46] #584 closed

[2018-10-19 20:09] AdmiringWorm commented on #584
well, I tried it with the latest pre-release and I don't get any erros.

Unfortunately I don't know if that is because the update of markdig, or if because the package(s) have been fixed (or at least updated) since last time I checked.

[2018-10-19 20:41] jacktose commented on #584
I just replicated this with CGUI 0.16.0, so it's not the package that's fixed.
Then I upgraded to 0.17.0-unstable0080 and Rufus works fine.

[2018-10-19 20:53] DamianMaslanka5 commented on #585
@gep13 This is fixed.

[2018-10-19 22:18] gep13 commented on #584
@jacktose thanks for confirming! 😄

[2018-10-20 21:35] #590 closed

[2018-10-24 12:53] hahaki opened #624 "Icons stored as a cache in data.db does not get a refresh if icon changed on nexus repository"
I have nexus 3.14 (latest version) storing nupkg / exe and icons for chocolatey packages. At the first time the new package appear in Nexus nuget repo Chocolatey Gui stores the image in data.db in User's home directory. In nuspec file it has a url to nexus as a reference for an icon in chocolatey which works fine at the beginning. If i change the icon (delete old on from Nexus and upload a new one

[2018-10-25 00:42] CWhyMedia commented on #565
I can confirm this happening. For example, OBS (named "Open Broadcaster Software Studio"). Search "open broadcaster", "open AND broadcaster", "open broadcaster software", or "open broadcaster software studio", OBS does not come up. Put in "OBS", and OBS shows up as the fourth result, after... FFmpeg, a deprecated extension pack for VirtualBox, and GitLink?! Why does that even show up?

Anyway, if

[2018-11-03 21:12] atocyo opened #625 "Speed issues"
It takes ages to load Page 1 of respository (up to 2min), new pc, 300Mbps internet.
Moreover after starting to type it begins searching thus not allowing to finish your query (taking another 2 minutes). This GUI is pain and I try to use command line now. I want to know if this is to be expected  or I am outlier.

[2018-11-04 12:55] boring10 commented on #625
For the search problem you can enable "use delayed search" in the Chocolatey GUI settings. This will allow you to type in the search and hit enter before the search is performed.

[2018-11-05 17:12] WendyCzymoch commented on #586
Do you want them moved and then deleted from the original folder or just deleted entirely?

[2018-11-05 17:55] bcurran3 commented on #586
My vote is move files and remove directory.

[2018-11-08 23:05] jacktose opened #626 "GUI misses update that shows in CLI (again)"
I previously reported #585, which was similar to #506. Both were fixed by #557 making a comparison of package names case-insensitive.
It's happening to me again and I'm guessing it's a similar (case matching) issue, because the packages affected all have uppercase in their names, while all-lowercase packages (e.g. vim-tux) are working as expected.

### To reproduce:
1. In PowerShell, run `choco ou

[2018-11-08 23:06] jacktose commented on #585
FYI watchers, this appears to be happening again, so I opened a new issue, #626.

[2018-11-10 14:55] AdmiringWorm commented on #12
@sigino I do not believe it has yet been implemented.

[2018-11-10 19:49] jakobht commented on #600
I got the same error. I first ran out of disk space while installing git `choco install git`. I then cleared some space and reran `choco install git` and got the error:
[code]

[2018-11-22 08:51] jorrit commented on #262
Perhaps related, but Chocolatey GUI installs the 64-bit version of Notepad++ when updating, even when I currently have the 32-bit version on my machine.

[2018-12-03 20:25] dfranciscus opened #627 "Provide ability to hide packages that are known to already be installed when viewing sources"
I would prefer it so users viewing packages on a source do not see packages that are already installed.

[2018-12-03 20:47] mwallner commented on #627
how about adding a toggle to enable/disable this in the global settings?

[2018-12-03 20:55] dfranciscus commented on #627
@mwallner yep thats what I meant. The ability to enable/disable that would be cool.

[2018-12-04 18:51] ssjw opened #628 "Source Package URL is broken on chocolatey.org/packages/ChocolateyGUI"
The Source Package link for the ChocolateyGUI package on chocolatey.org points to the URL below which doesn’t exist:

https://github.com/chocolatey/ChocolateyGUI/tree/develop/ChocolateyPackage

Per an email from Rob Reynolds it should point to:

https://github.com/chocolatey/ChocolateyGUI/tree/develop/nuspec/chocolatey

[2018-12-04 19:04] AdmiringWorm commented on #628
actually, if you look at the nuspec file in this repository you'll see that the correct url is used.
https://github.com/chocolatey/ChocolateyGUI/blob/develop/nuspec/chocolatey/ChocolateyGUI.nuspec#L11

It seems like it was fixed the day after the latest available release on chocolatey, which is why it doesn't show up there

[2018-12-05 13:42] ssjw commented on #628
Is there any chance of getting the package source URL updated on chocolatey.org before the next release?

[2018-12-05 15:48] AdmiringWorm commented on #628
that probably won't happen until a new release.

When a version is approved on chocolatey.org, they can't be changed. So a new package version would be needed to be pushed to change the package source URL.

[2018-12-05 19:06] ssjw commented on #628
Roger.  Should this issue be closed then?

[2018-12-05 19:11] AdmiringWorm commented on #628
I would say yes, as it has already been solved in the source code.

I don't have the power to close issues though.

[2018-12-05 21:01] ferventcoder opened #629 "Separate the app.manifest from the exe"
This will allow folks to make decisions on how best to set things when they run into interesting Windows issues. One issue being requested elevation when standard Windows users are members of groups that have some additional privilege elevation (including but in this case not the Administrators group), UAC will also pop up.  An admin using self-service that wants to remove this can simply make the

[2018-12-06 11:05] CorentinDy opened #631 "Fix French Translation"
Hi,
3 months ago, i've made some changes and correction in the French translation but it still remain the error.

Changes has been made trought [transifex](https://www.transifex.com/chocolatey/chocolatey-gui/)

Not in the hurry but did you plan to make a future update ?

Thx for this awesome GUI ;)

[2018-12-06 14:16] gep13 commented on #631
@CorentinDy thank you for making these changes.

The Transifex updates are only refreshed when a new version of the application is released.  i.e. when 0.17.0 is released, you will see any updates that have been made to the translations.

I am going to go ahead and close this issue out, but feel free to ask any other questions.

[2018-12-06 14:16] #631 closed

[2018-12-06 20:03] #629 closed

[2018-12-06 20:13] gep13 commented on #628
@AdmiringWorm thanks for commenting on this.

Yes, this was fixed here: https://github.com/chocolatey/ChocolateyGUI/issues/550 which is due for release in 0.17.0.

[2018-12-06 20:13] #628 closed

[2018-12-13 21:30] FranklinYu opened #632 "nuspec - Add .NET Framework 4.x Dependency"
The description says

I hereby propose to add [`DotNet4.5.2`](https://chocolatey.org/packages/DotNet4.5.2) to dependency list. #40 is related, but that is about .NET 4.0.

Moved from [Disqus comment](https://chocolatey.org/packages/ChocolateyGUI#comment-4234298910).

[2019-01-04 11:00] Schroedingers-Cat opened #633 "Icons: keep aspect ratio"
Currently, icons are forced into a 1:1 ratio in the details section of a package. As most programs have an icon with a 1:1 ratio, that is fine.

Sometimes, a software doesn't have an icon (because that software runs inside a host software hence there is no icon available) so you use a screenshot of the software from the developer's site. What chocolatey GUI does is turning [this image](https://www

[2019-01-07 19:59] AdmiringWorm commented on #533
Just a small update, I'm actually working on implementing this one (and have for the past couple of days).

Stay peeled at the gitter channel later today, as I'll be showing a little of what I've done so far there.

[2019-01-07 22:36] AdmiringWorm commented on #533
Here is my work so far

![dynamic-localization](https://user-images.githubusercontent.com/1474648/50797442-10c21680-12d5-11e9-9ac4-064cc71576d6.gif)

[2019-01-07 22:38] gep13 commented on #533
Very cool! 👍

[2019-01-08 09:20] Rabupi commented on #176
This might be a bit late and I don't know if it has been resolved but I recently had the same issue...
Going back and forth installing / uninstalling the normal and -pre. Turns out that there was a problem with the DB in "C:\Users\%USER%\AppData\Local\Chocolatey GUI\" and I also had a "Chocolatey GUI" and a "ChocolateyGUI" in "C:\Users\%USER%\AppData\Roaming\Chocolatey GUI\" so I killed any and al

[2019-01-08 17:41] atocyo commented on #625
Duplicate of [https://github.com/chocolatey/ChocolateyGUI/issues/595](url)

[2019-01-09 15:58] gep13 opened #635 "Warning and errors shown when operating in background mode"
When Chocolatey is being used in self-service/background more, some errors are displaying in the Chocolatey GUI log window:

![image](https://user-images.githubusercontent.com/1271146/50911217-50007c80-1427-11e9-90e7-a7667611b9a3.png)

These don't prevent the operation from succeeding successfully, but it is still a little bit jarring.

[2019-01-09 16:48] Omzig commented on #597
I would find this helpful if i could go into the GUI double click on what is installed and having an install location header with a "Link" to the folder, just like you have a link in the release notes to this github project.

![image](https://user-images.githubusercontent.com/1987296/50914433-2716c200-13fc-11e9-9b31-a3e205ca4df6.png)

[2019-01-14 00:41] daveMueller commented on #627
#636

[2019-01-14 17:01] DamianMaslanka5 commented on #626
You are right. This is again a problem with case matching.
#557 fix doesn't work correctly, I thought that the rest of package ids are lower case but they are not.
Changing `if (message.Id != Id)` to `!string.Equals(message.Id, Id, StringComparison.OrdinalIgnoreCase)`  in [PackageViewModel](https://github.com/chocolatey/ChocolateyGUI/blob/b6eea32261687a7a02a35de8f4966647ffb3af5d/Source/ChocolateyG

[2019-01-21 23:04] esamo opened #638 "Crash on filezilla install"
Can not reproduce. Tell me where can I find logs for you to investigate. This is Win10.

[2019-01-21 23:07] esamo opened #639 "Crash when loading tile view"
This is easily reproduced.
1. Open ChocolateyGUI.
2. Switch to Remote source.
3. Search for example for 'backup'.
4. Switch to tile view.
5. It loads thumbs for about half a minute and then crashes.

---

Windows 10 Pro x64, v1803 build 17134.556
Chocolatey v0.10.11
Chocolatey GUI v0.16.0

[2019-01-21 23:09] esamo opened #640 "If packages are loaded on init, why there is a request upon search?"
Expected approach is like in linux, where all the packages info is downloaded and then search goes through system cache, not doing any more requests on each search.

[2019-01-21 23:10] esamo opened #641 "Would be great to schedule installs independently from current install"
... to save time and just make a queue of packages to install instead of doing it one by one waiting for each one.

[2019-01-21 23:14] gep13 commented on #638
@esamo Logs are written into the C:/ProgramData/Chocolatey GUI folder

[2019-01-21 23:24] #641 closed, assigned to nobody

[2019-01-21 23:38] esamo commented on #638
These are all the logs, not sure it helps.

[ChocolateyGui.20190121.log](https://github.com/chocolatey/ChocolateyGUI/files/2780789/ChocolateyGui.20190121.log)
[ChocolateyGui.20190122.log](https://github.com/chocolatey/ChocolateyGUI/files/2780790/ChocolateyGui.20190122.log)

[2019-01-21 23:39] #640 closed

[2019-01-21 23:45] gep13 commented on #638
Based on the logs, I am not seeing any crash reported in the logs.  The only mention of the filezilla package, suggests that the installation completed successfully.

[2019-01-21 23:50] esamo commented on #638
Ok so already 3 times I had experienced a crash and it always happens when tile view is on. I can not have a tile view and not experience a crash. This is most likely #639.

[2019-01-21 23:52] gep13 commented on #638
@esamo can you please update that issue with some more details?  Such as version number of Chocolatey GUI, as well as exact version number of Windows, etc.  Thanks

[2019-01-21 23:52] #638 closed

[2019-01-21 23:57] esamo commented on #639
I've added environment details.

[2019-01-21 23:59] gep13 commented on #639
I've added environment details.

Thank you!

[2019-01-22 21:32] punker76 opened #643 "Debug output: NotSupportedException:'System.NotSupportedException: UriTypeConverter cannot convert from (null)"
Opening the details page of a package produces sometimes a `System.Windows.Data Error` like:

[code]

This happens if the navigation Uri is empty, e.g.

[code]

![2019-01-22_22h25_17](https://user-images.githubusercontent.com/658431/51566603-40584d80-1e95-11e9-8e7b-17df593045b6.png)

The fix will be quite simple by changing the `FallbackValue` to `TargetNullValue`.

[code]

[2019-01-23 15:51] mkevenaar opened #645 "[Accessibility] Test Chocolatey GUI with screen-readers"
To improve the accessibility when using screen-readers, the software should be tested using screen-readers

Examples:
- [Jaws](https://www.freedomscientific.com/Products/Blindness/JAWS)

(more will be added later)

@molaachir Could you add extra comments to this issue, if you have more feedback?

┆Issue is synchronized with this [Clickup task](https://app.clickup.com/t/868h71zkt) by [Unito](https:

[2019-01-24 08:23] #627 closed, assigned to nobody

[2019-01-25 10:07] molaachir commented on #645
From some basic tests:

1. After passing the search box, and two selection boxes while tabbing through the GUI, you reach 3 buttons and 2 radio buttons that are inaccessible. The screen reader indicates that there is a button or radio button, but they are not labeled. The two selection boxes that you pass on the way there are accessible. They read "Match word exactly" and "Show only packages with

[2019-01-25 10:20] gep13 commented on #645
@molaachir thank you so much for taking the time to add this information to the issue!  I very much appreciate it!

[2019-01-25 23:06] DamianMaslanka5 commented on #626
@gep13 I think this can be closed

[2019-01-26 10:58] mkevenaar commented on #12
+1 I would love to see this function implemented.

[2019-02-08 10:11] mlsomers opened #647 "Please allow viewing the console output after installation is done"
While installing some packages I saw some warnings flashing by (yellow tekst).
I understand that most people don't care, but I would like to briefly review them.
Currently there is no aparent way to find the last log or view the console output from the GUI.

[2019-02-10 19:06] atocyo commented on #625
Duplicate deleted, reopening this.

[2019-02-10 19:09] #625 closed

[2019-02-16 21:00] ferventcoder commented on #594
Duplicate for sure. I want to say we've fixed this issue, but it may not have made it into GUI codebase yet.

[2019-02-16 21:00] #594 closed

[2019-02-16 21:02] ferventcoder commented on #594
Duplicate of https://github.com/chocolatey/choco/issues/1500

[2019-02-16 21:09] ferventcoder commented on #594
This also requires being on at least 1.12.12 of Chocolatey Licensed Extension as well - https://chocolatey.org/docs/release-notes-licensed#june-12-2018

[2019-02-19 22:06] bcurran3 opened #649 "Unhandled Exception when viewing (package) choco-protocol-support"
![image](https://user-images.githubusercontent.com/14026600/53050860-276c9900-344f-11e9-80d2-f08a95202cff.png)

![image](https://user-images.githubusercontent.com/14026600/53050956-74506f80-344f-11e9-969d-260fc8c54cb0.png)

[2019-02-20 07:57] #588 closed

[2019-02-21 14:59] lindomaroliveira opened #650 "Inscape won't upgrade using from ChocolateyGUI and works from powershell"
When I try to upgrade Inkscape from ChocolateyGUI it says won't upgrade because Inkscape should be uninstalled first.

Besides looking at:
https://github.com/chocolatey/chocolatey-coreteampackages/issues/550#issuecomment-456082456

The upgrade script works with powershell, just tried it now.

[2019-02-25 00:13] iessa-pragg-ctct opened #651 "Tile View - Prevent Version text overlap"
Packages with particularly long version indicators clash in the tile view when they have updates available.
#### Environment
Win 10 Pro
ChocolateyGUI 0.16.0

![chocolatey-gui-version-collision-ui-issue](https://user-images.githubusercontent.com/38093909/53307578-c6d1d600-38fe-11e9-9274-1d29e05f107d.png)

[2019-02-25 00:30] CTCTIPragg opened #652 "Tile View - Nitpick inconsistent spacing"
Vertical and horizontal spacing of the tile grid outer edge have different sizes.

If this is by design of course feel free to ignore this, it does look a little bit odd though.

#### Environment
Win 10 Pro
ChocolateyGUI 0.16.0

![chocolatey-gui-inconsistent-spacing-ui-issue](https://user-images.githubusercontent.com/38093909/53307800-f5e94700-3900-11e9-8ae7-d0d178386f2b.png)

[2019-02-25 07:18] gep13 commented on #652
@punker76 If you have some time, what are your thoughts on this?

[2019-02-25 07:18] gep13 commented on #651
@punker76 If you have some time, what are your thoughts on this?

[2019-02-26 10:53] mwallner opened #653 "prerelease packages are incorrectly labeled "outdated""
See sample screenshot: "chocolatey" 0.10.12-beta is newer than the latest available 0.10.11, yet ChocolateyGUI marks it as outdated.

![image](https://user-images.githubusercontent.com/5354972/53407654-f5ae8180-39bc-11e9-8f89-b412d3f428b8.png)

[2019-03-11 19:25] bcurran3 opened #654 "Download and/or create package index to increase speed"
RE: https://github.com/chocolatey/choco/issues/1740#issuecomment-471645331

^ Hopefully this gets implemented in Chocolatey soon so it will be easier.

Right now ChocolateyGUI is dreadfully slow since it reads ~30 package's of info at a time over the web from chocolatey.org and repeats as necessary. An option to create a local catalog/index of all packages would greatly improve speed.

[2019-03-11 23:45] gep13 commented on #654
@bcurran3 this is not something that is going to be implemented here in Chocolatey GUI.  That would be a duplication of effort.  Once package indexing is implemented in Chocolatey, Chocolatey GUI can take advantage of this, but not something that it will implement directly.

[2019-03-18 23:23] Kobus-Smit commented on #589
Bump

[2019-03-23 01:57] HunterZ opened #655 "Unresponsive while installing RetroArch 1.7.6"
ChocolateyGUI 0.16.0 seems to freeze for a long time while installing RetroArch 1.7.6, which mostly involves extracting a >150MB .7z archive. Some kind of threading issue?

I think it recovers if you wait long enough.

[2019-03-28 22:13] #626 closed

[2019-03-28 22:16] ferventcoder commented on #626
Duplicate of #585

Marking as duplicate as we hadn't released the other feature yet, and this was found in testing a prerelease. So it's fine for us to have reopened that issue since there wasn't an actual release yet.

[2019-03-28 22:17] ferventcoder commented on #626
Duplicate of #585

[2019-03-29 08:57] jacktose commented on #626
Roger that. Glad there's a fix. I've installed `unstable-0114` and it looks good at the moment. It showed `everything` needing an update, and v16 didn't. Whenever `foxitreader` updates, I'll try to confirm that this specific breakage is fixed.

[2019-04-10 22:43] cniweb commented on #600
I have the same error:
[code]

[2019-04-11 07:00] gep13 commented on #600
@cniweb are you able to try the workaround suggested by @jakobht ?

[2019-04-11 07:01] gep13 commented on #600
Since this is not an issue with Chocolatey GUI, I am going to go ahead and close this issue.

[2019-04-11 07:01] #600 closed

[2019-04-12 19:44] cniweb commented on #600
@gep13 Yes it helps me.

[2019-04-15 13:56] ferventcoder opened #656 "nuspec - Remove the upper bound dependency on Chocolatey"
It's okay to have a minimum dependency on Chocolatey, but say we were to release v1 tomorrow - it suddenly would not be compatible with the package (even if ChocolateyGUI worked fine with it). Typically upper bound dependencies are when you know something is not going to work with something.

[2019-04-15 14:51] ferventcoder commented on #632
I'm proposing https://chocolatey.org/packages/dotnetfx/4.5.2.0 instead.

[code]

Take a minimum version dependency on .NET Framework package that @jberezanski has set up.

[2019-04-15 15:04] ferventcoder commented on #632
The only thing I don't like here is that if someone does NOT want to upgrade to a newer .NET framework dependency, this will do so. Perhaps a second set of packages that are specific to ensuring a minimum version or no-opping.

[2019-04-15 15:26] ferventcoder commented on #632
@jberezanski This goes back to why I said a single .NET Framework package needs more discussion.  I want to specify a minimum version dependency and NOOP if it is met. That is not possible with what has been done with the dotnetfx package because by design `<dependency id="dotnetfx" version="4.5.2.0" />` means at least this version, but install the latest one available as long as there are no othe

[2019-04-15 15:28] ferventcoder commented on #632
I should say the constraints are felt most often by organizations and not necessarily individuals. We have both types of users on the community repo.

[2019-04-15 15:38] ferventcoder commented on #632
I should note for other folks who find there way here, I did not raise an issue at https://github.com/jberezanski/ChocolateyPackages/issues because by design there isn't any change to the dotnetfx package I can suggest at the moment. It's a partial solution - it meets the case where folks are fine with getting the latest .NET version when they install something.

[2019-04-18 10:34] #656 closed

[2019-04-18 12:42] gep13 commented on #632
@FranklinYu I have added the suggested dependency.  This currently fails installation during package installation on the local test environment do to dependency requiring a reboot, so an exemption will be required for moderation process.

This may require some changes based on some potential work/changes to dotnet packages on chocolatey.org, but that can be revisited at a later date.

[2019-04-18 12:42] #632 closed

[2019-04-18 13:18] gep13 commented on #563
@bcurran3 thanks for raising this.  This has been addressed and will ship in the next release.

[2019-04-18 13:18] #563 closed

[2019-04-18 14:57] gep13 commented on #573
I am able to reproduce this problem, but only when running with the background service enabled.  When running in normal mode, attempting the installation results in the following:

![image](https://user-images.githubusercontent.com/1271146/56369983-4a6abd80-61f2-11e9-8921-ca1c99b6a2ec.png)

This was reproduced using:

![image](https://user-images.githubusercontent.com/1271146/56370123-974e9400-61f

[2019-04-19 09:12] gep13 commented on #573
@dfranciscus @exportgoldman I have just re-tested this with the following installed:

![image](https://user-images.githubusercontent.com/1271146/56417217-2313ff00-628b-11e9-90fd-657861421d5f.png)

Notice the change from chocolatey-agent 0.8.1 to 0.9.0, and I can confirm that any error returned from the background service is now being reflected in Chocolatey GUI.  The changes made to background ser

[2019-04-19 09:12] #573 closed

[2019-04-19 09:19] gep13 commented on #649
@bcurran3 can you confirm if this is still an issue?  I have just tested this with the latest pre-release version of Chocolatey GUI, and I am unable to reproduce.

For now, I am going to close this out, but feel free to re-open if you believe there is still a problem

[2019-04-19 09:19] #649 closed

[2019-04-19 09:21] gep13 commented on #639
@esamo I have just tried to reproduce the problem that you have raised here with the latest pre-release version of Chocolatey GUI, and I am unable to do it.

Can you please try to reproduce on the latest version, and if the issue persists, we can re-open this issue.

[2019-04-19 09:21] #639 closed

[2019-04-19 09:23] gep13 commented on #589
@superbonaci @Kobus-Smit I have just tried to reproduce this problem with the latest pre-release version of Chocolatey GUI and I have not been able to.

Can you please verify with the latest pre-release version if the issue persists, and if it does, we can get this re-opened.  Thanks

[2019-04-19 10:11] gep13 commented on #568
@DamianMaslanka5 thank you for raising this.  I believe I have corrected the issue.

This will ship in the next release of Chocolatey GUI.

[2019-04-19 10:11] #568 closed

[2019-04-19 14:57] gep13 opened #657 "Change default view to something other than "This PC""

[2019-04-19 15:57] bcurran3 commented on #649
It's an issue with the last release, I don't know about the pre-release. You'll have to point me in the direction of the pre-release if you'd like me to try it.

[2019-04-19 19:54] gep13 commented on #649
@bcurran3 the instructions for installing the pre-release version is documented here:

https://github.com/chocolatey/ChocolateyGUI#installation

[2019-04-19 21:52] #643 closed

[2019-04-20 01:14] bcurran3 commented on #649
Something's not right.

![image](https://user-images.githubusercontent.com/14026600/56449507-d3efbd80-62ce-11e9-8025-69a2f12196d1.png)

![image](https://user-images.githubusercontent.com/14026600/56449511-deaa5280-62ce-11e9-801a-e1a10c62c94a.png)

[2019-04-20 01:21] AdmiringWorm commented on #649
@bcurran3 since you already have a version installed, you'll need to do a `choco upgrade` instead of `choco install`

[2019-04-20 05:37] bcurran3 commented on #649
Cool. That wasn't in the instructions. :)

![image](https://user-images.githubusercontent.com/14026600/56453183-4d010c00-62f3-11e9-8f8c-ce3e31975435.png)

![image](https://user-images.githubusercontent.com/14026600/56453194-80439b00-62f3-11e9-8b9a-19d1f3265d5a.png)

Appears to be fixed.

![image](https://user-images.githubusercontent.com/14026600/56453200-b4b75700-62f3-11e9-9087-1a6165c04fa2.png)

[2019-04-20 22:17] #501 closed

[2019-04-20 22:21] gep13 commented on #501
@pascalberger new screenshot:

![image](https://user-images.githubusercontent.com/1271146/56462914-07ac0f80-63c3-11e9-81c7-d727871714b9.png)

[2019-04-22 00:12] Kobus-Smit commented on #589
@gep13 Yes the pre-release's shortcut does have an icon but the .exe file does not:

![image](https://user-images.githubusercontent.com/11263864/56477242-b85eff80-64e6-11e9-8b5d-8dbe9ca90177.png)

![image](https://user-images.githubusercontent.com/11263864/56477258-ddec0900-64e6-11e9-83bf-5a9fbee0d417.png)

![image](https://user-images.githubusercontent.com/11263864/56477265-f2300600-64e6-11e9-8f6

[2019-04-22 00:38] Kobus-Smit opened #659 "Pre-release v0.17 cannot update packages anymore: "The handle is invalid""
The latest pre-release v0.17 cannot update packages anymore because of "The handle is invalid" error.

![image](https://user-images.githubusercontent.com/11263864/56477570-76d05380-64ea-11e9-8640-48295aca6846.png)

![image](https://user-images.githubusercontent.com/11263864/56477561-60c29300-64ea-11e9-9919-bb2ebc818c52.png)

[2019-04-22 04:38] gep13 commented on #659
@kobus-smit that error isn’t anything to do with Chocolatey GUI directly I don’t think. Can you confirm by attempting the upgrade directly through Chocolatey?

[2019-04-23 02:03] Kobus-Smit commented on #659
@gep

Upgrading through pre v0.17 Chocolatey GUI does not work:
![image](https://user-images.githubusercontent.com/11263864/56545985-95068400-65bc-11e9-9dba-8638cdc22c5e.png)

Upgrading through Choco works:
![image](https://user-images.githubusercontent.com/11263864/56545807-0d207a00-65bc-11e9-92f6-efb596f116b6.png)

Upgrading used to work fine with v0.16 Chocolatey GUI on my computer.

[2019-04-23 06:34] gep13 commented on #652
@CTCTIPragg I can confirm that this was an issue in the 0.16.0 release of Chocolatey GUI:

![image](https://user-images.githubusercontent.com/1271146/56559660-1862ae00-659a-11e9-85b6-b27a3372e508.png)

However, in the most recent pre-release version of Chocolatey GUI, I am happy to say that this is no longer the case:

![image](https://user-images.githubusercontent.com/1271146/56559707-3cbe8a80-65

[2019-04-23 06:36] gep13 commented on #652
As such, I am going to go ahead and close this issue.  Let me know if you still find this to be a problem.

[2019-04-23 06:36] #652 closed

[2019-04-23 06:37] gep13 commented on #651
@CTCTIPragg I can confirm that this remains an issue in the latest pre-release version of Chocolatey GUI.

@punker76 do you have any suggestions on how best to approach this?

[2019-04-23 06:40] gep13 commented on #587
@AlbinoGeek are you able to confirm if this continues to happen on the latest pre-release version of Chocolatey GUI?

Installation instructions for this can be found here:

https://github.com/chocolatey/ChocolateyGUI#installation

I have just tested your reproduction steps, and I can't get this to happen.

[2019-04-23 06:49] gep13 commented on #589
@Kobus-Smit thank you for the clarification.

I have just made a change which should correct this problem.  It should be available in the next version of Chocolatey GUI, or in the next version of the pre-release from MyGet.

[2019-04-23 06:49] #589 closed

[2019-04-23 07:40] gep13 commented on #593
@elpatron68 thank you for raising this.  This has been corrected, and it will be released in the next release of Chocolatey GUI, 0.17.0.

[2019-04-23 07:40] #593 closed

[2019-04-23 07:47] gep13 commented on #356
@pascalberger based on the changes that @punker76 has recently made to the details page, can you comment on whether you would still like to see more changes in this area.

If so, can you elaborate on exactly what you are looking for?

[2019-04-23 07:55] gep13 commented on #430
Also, check to see why the `Report Abuse` link was removed.

[2019-04-23 07:59] gep13 commented on #528
@punker76 if/when you have time, would you be able to comment on this one?  Thanks!

[2019-04-23 08:05] gep13 commented on #548
@fakoua I have just tried to reproduce this problem in the latest pre-release version of Chocolatey GUI and I do not believe that this is an issue anymore.

As such, I am going to close this issue.  Please feel free to re-open if you still believe it to be a problem.

Thanks for reporting the issue.

[2019-04-23 08:05] #548 closed

[2019-04-23 08:08] gep13 commented on #574
Given the functionality that was recently added (https://chocolatey.github.io/ChocolateyGUI/docs/commands/feature) I believe that this is more important than it previously was.  As such, I think creation of a shim is a good idea to launch/run Chocolatey GUI from command line.

[2019-04-23 08:12] gep13 commented on #571
@Riajyuu thank you for raising an issue about this.

I have just tested the steps that you provided, and I have been unable to reproduce the problem.

As such, I am going to close this issue.  If you feel that this is still a problem, please feel free to comment again.

[2019-04-23 08:12] #571 closed

[2019-04-23 08:15] gep13 commented on #597
This is related to this issue: https://github.com/chocolatey/ChocolateyGUI/issues/278

One is for a change to the package details page, and the other for list view.

[2019-04-23 08:15] gep13 commented on #278
This is related to this issue: https://github.com/chocolatey/ChocolateyGUI/issues/597

One is for a change to the package details page, and the other for list view.

[2019-04-23 08:16] gep13 commented on #616
@ferventcoder this is a duplicate of this one: https://github.com/chocolatey/ChocolateyGUI/issues/525

[2019-04-23 08:16] #616 closed

[2019-04-23 08:18] gep13 commented on #526
I believe that this would be covered by the work that will be done in this issue:

https://github.com/chocolatey/ChocolateyGUI/issues/545

As such I am going to go ahead and close this one out.

[2019-04-23 08:18] #526 closed

[2019-04-23 08:19] gep13 commented on #428
This is really a duplicate request to what is earmarked for this issue:

https://github.com/chocolatey/ChocolateyGUI/issues/545

As such, I am going to close this issue out.

[2019-04-23 08:19] #428 closed

[2019-04-23 08:20] gep commented on #659
@Kobus-Smit I'm the wrong person you are referring to.

[2019-04-23 08:22] gep13 commented on #262
This is really a duplicate of the intended functionality in this issue:

https://github.com/chocolatey/ChocolateyGUI/issues/545

As such, I am going to close this one out, and use that issue as the main one to track.

[2019-04-23 08:22] #262 closed

[2019-04-23 08:22] pascalberger commented on #356
IMHO still the same issue. For Visual Studio Code headings inside of the description appear in a bigger font size than the description header itself (size difference look even more in current release than in screenshot in https://github.com/chocolatey/ChocolateyGUI/issues/356#issue-196418803)

[2019-04-23 08:47] gep13 commented on #356
@pascalberger the up to date screenshot is as follows:

![image](https://user-images.githubusercontent.com/1271146/56567389-b52e4700-65ac-11e9-9866-c2b2f2da01f3.png)

[2019-04-23 08:57] pascalberger commented on #356
Yes, logically the topic tree looks like this:

- Package ID
- Description
  - Features
  - Package parameters
- Release Notes

But visually it looks for example like "Release Notes" is a sub point of "Package parameters" and it's visually not clear that "Features" and "Package parameters" belong to "Description", since "Description" is in a much lower font size.

[2019-04-23 09:11] gep13 commented on #356
@pascalberger I am open to suggestions on how to improve this 😄

[2019-04-23 09:32] punker76 commented on #651
So after some UI brain storming with @gep13 here are some options to improve these update situation for the tile view:

- **Prefered option** for me and Gary
Left aligned version informations above the title.

![2019-04-23_11h18_52](https://user-images.githubusercontent.com/658431/56570070-861ed200-65ba-11e9-8a33-3c7f90b0487b.png)
- Left aligned version informations under the title.
![2019-04-23_1

[2019-04-23 09:35] Kobus-Smit commented on #659
Sorry @gep , I meant @gep13 ;-)

[2019-04-23 10:51] #574 closed

[2019-04-23 10:52] gep13 commented on #574
This has now been included, and will ship in the next release of Chocolatey GUI.

[2019-04-23 11:12] pascalberger commented on #356
Can't we just apply a style to the rendering of the description field which results in H2 in the markdown content to be rendered in a style which is less prominent than "Description" is rendered?
Maybe it would also help to make "Package ID", "Description" and "Release Notes" also a little bit more prominent to have more possibilities to style the headings of the description markdown test.

[2019-04-23 12:55] gep13 commented on #430
@welwood08 thank you for raising this issue.  The Gallery link hasn't actually been "removed" as such...

All of the code to show and display the Gallery link is still there, it is just that the Url is no longer being populated.  Between version 0.13.2 and 0.14.0 (which actually became 0.15.0 for "reasons") we switched from getting the package information from the gallery oData feed, to using the

[2019-04-23 14:39] gep13 commented on #356
@pascalberger honestly, I am not sure.  I wasn't really involved in the implementation of the markdown rendering in the current version of Chocolatey GUI, so I will need to do some digging into what can, and can't be done.

[2019-04-23 18:46] gep13 commented on #430
@welwood08 I take it back, the information was there, it just wasn't being mapped properly.  This has been corrected, and should be available in the next release of Chocolatey GUI.

[2019-04-23 18:46] gep13 commented on #430
Semi-related to this, in the local package source view, the package size was being incorrectly displayed, showing a value of -1.  This has also been corrected, and again will be included in the next release.

[2019-04-23 18:46] #430 closed

[2019-04-24 14:20] pascalberger commented on #651
From the four options I agree with both of you for the left aligned version information above the title option.

Another idea: Title on top (above icon), version at the bottom

[2019-04-24 14:21] mwallner commented on #651
all versions look good imo, although @pascalberger could have a point with placing the title above the icon ...

[2019-04-24 14:47] gep13 commented on #651
Another idea: Title on top (above icon), version at the bottom

Oooo, I think I like that...

@punker76 could you create another screenshot with that option?  Sorry to be a pain!

[2019-04-24 14:59] punker76 commented on #651
@gep13 @pascalberger @mwallner

![image](https://user-images.githubusercontent.com/658431/56669953-3de2db00-66b2-11e9-86d9-d6f4e4b122b3.png)

[2019-04-24 15:06] punker76 commented on #651
@gep13 @pascalberger @mwallner

Also possible with a little bit opacity for the 'Out Of Date' ('Installed') overlay

![image](https://user-images.githubusercontent.com/658431/56670478-340da780-66b3-11e9-8459-aa203fb43b1f.png)

[2019-04-24 15:11] AdmiringWorm commented on #651
@punker76 the title seems a little out of place when it is above the icon (IMO). Would it be better to have that centred?

[2019-04-24 15:16] punker76 commented on #651
@gep13 @pascalberger @mwallner @AdmiringWorm

So, like this...

![2019-04-24_17h14_55](https://user-images.githubusercontent.com/658431/56671272-a16e0800-66b4-11e9-91ef-0483f2d7b391.png)

![2019-04-24_17h15_12](https://user-images.githubusercontent.com/658431/56671278-a3d06200-66b4-11e9-943f-f93cd9209328.png)

[2019-04-24 15:20] AdmiringWorm commented on #651
Personally, I think that looks good (not considering the "Out of date" overlay of course)

[2019-04-24 15:20] pascalberger commented on #651
Centered title looks generally better IMHO, except when there is an overlay. Would it be possible to move the overlay to the bottom right corner, as this is the place where there is most whitespace?

[2019-04-24 15:21] gep13 commented on #651
Would it be possible to move the overlay to the bottom right corner, as this is the place where there is most whitespace?

That would start to have the same problem when there is a large version number, for example on GitVersion.

[2019-04-24 15:32] pascalberger commented on #651
Sure, but only with large version numbers. Which I assume is less often the case than large titles

[2019-04-24 15:34] punker76 commented on #651
![image](https://user-images.githubusercontent.com/658431/56671999-ec3c4f80-66b5-11e9-9221-b6160856d3d0.png)

[2019-04-24 15:37] gep13 commented on #651
Which I assume is less often the case than large titles

Yes, that is a valid point!

[2019-04-24 21:13] IncPlusPlus opened #660 "[Feature Request] Allow launch parameters"
Hi there. I was thinking about how nice it would be to have a button next to each package on [the packages page](https://chocolatey.org/packages) to show this in the Chocolatey GUI. As far as I am aware, the GUI app doesn't support this kind of functionality. It would be really cool if it could some time in the future.

[2019-04-25 07:59] gep13 commented on #651
@punker76 I think I like the final option:

* Package Name on Top
* Version numbers in lower left cornet
* Out of Date/Installed overlays on the bottom right hand corner

Would you be able to update the PR to reflect this?

[2019-04-25 08:07] punker76 commented on #651
Yes, I'll do a PR as soon as I can.

[2019-04-25 09:28] gep13 opened #661 "IsPrerelease property is never set"
In the current version of Chocolatey GUI, the IsPrerelease property of a Package is never set, however, it is used within the application.

This should be determined depending on whether there is a `SpecialVersion` property on the `Version` property for a package, i.e. whether it has a `-` in the version number.

[2019-04-25 09:29] #661 closed

[2019-04-25 09:30] gep13 commented on #653
@mwallner thank you for raising this.  This has now been corrected, and will ship in the next release of Chocolatey GUI.

[2019-04-25 09:30] #653 closed

[2019-04-25 10:34] gep13 commented on #422
@CollinChaffin thank you for raising this.

I have changed this to include the following:

![image](https://user-images.githubusercontent.com/1271146/56729774-f90c8200-674d-11e9-9be1-5484ce7d873c.png)

This will be included in the next release of Chocolatey GUI.

[2019-04-25 10:36] #422 closed

[2019-04-25 12:19] gep13 commented on #502
@pascalberger thank you for raising this issue.  This has been corrected, and it will be available in the next release of Chocolatey GUI.

[2019-04-25 12:19] #502 closed

[2019-04-25 12:31] #651 closed

[2019-04-25 12:39] gep13 opened #663 "Update .Net Framework dependency once new package is available"
Currently, Chocolatey GUI takes a dependency on the `dotnet4.5.2` package, as this is required to run Chocolatey GUI.  There is some work ongoing to create a new, consistent, set of .Net Framework packages.  Once these are available, this dependency should be changed to use the new package.

[2019-04-25 12:42] gep13 commented on #514
@TheVakman @superbonaci I have been running Windows 10 for a while now, and I have yet to be able to reproduce this error.  I am going to go ahead and close off this issue, but please feel free to comment here for further discussion.

[2019-04-25 12:42] #514 closed

[2019-04-25 12:46] TheVakman commented on #514
@gep13 Yes, that's a good idea. I meant to comment back that I was unable to reproduce it for them. We're running the v1709 (Fall Creators) on all systems by this point and haven't run into this one.

[2019-04-25 12:55] punker76 commented on #528
@gep13 @pavelvasev We can set `OverlayOpacity="0.3"` on the main window:

**Before**

![chocoalt](https://user-images.githubusercontent.com/658431/56737184-26672900-676a-11e9-8327-26164f4b1eca.gif)

**After**

![choconeu](https://user-images.githubusercontent.com/658431/56737197-2bc47380-676a-11e9-926e-8bd384679298.gif)

[2019-04-25 13:06] pavelvasev commented on #528
@punker76 Thank you! I think this new variant is better! For an actual value, you may try yourself to use the program at the night (without any lamps around) and I think this will help to find a comfortable one!

[2019-04-25 14:08] gep13 commented on #503
@pascalberger I have been able to replicate at least part of this problem by using the chocolatey.org feed.

If I navigate to the last page there (which is 131) I get an empty page.  If I go to the page before, I get 46 results returned.  So something is off somewhere.

Internally, Chocolatey GUI is using a method in Chocolatey.Lib to return the total package count (which is currently coming back

[2019-04-25 14:43] pascalberger commented on #503
My issue was with a ProGet hosted feed. So, issue seems also not related to server implementation (assuming we're talking about a single issue only here). This would only leave Chocolatey.Lib left, responsible for this.

[2019-04-25 21:48] punker76 commented on #356
@gep13 @pascalberger @ferventcoder @mwallner @AdmiringWorm @RichiCoder1

Here is my suggestion for the Package view:

To improve the Package view the headings outside of the description have now the same font size and weight. Also the Icon and the Id are moved to the left side. The right side is now vertically stretched and can be scrolled if it's to large.

![2019-04-25_23h46_28](https://user-ima

[2019-04-26 06:54] mwallner commented on #356
this looks fantastic!

[2019-04-26 07:03] pascalberger commented on #356
Looks great :shipit:

[2019-04-26 08:06] #356 closed

[2019-04-26 08:18] gep13 opened #665 "Do not display password in source settings screen"
Once persisted into the chocolatey.config file, the password for a source (both user and certificate) are encrypted values, so there is no point in displaying them, as they will mean nothing to the end user.

Instead, when there is a password present, display a checkbox in the table view, and show a redacted textbox, when the source is selected for viewing/editing.

[2019-04-26 08:27] gep13 commented on #665
For reference, we are talking about these sections in the sources settings screen:

![image](https://user-images.githubusercontent.com/1271146/56794149-76df9480-6805-11e9-90cc-98b0a26a0513.png)

[2019-04-26 08:38] gep13 commented on #528
@punker76 this is a great suggestion!  Let's start with this, and gather some feedback from users, and we can continue to iterate with future issues as they come up.

[2019-04-26 08:39] gep13 commented on #528
@pavelvasev I have made this change, and it should be available in the next release of Chocolatey GUI.

[2019-04-26 08:39] #528 closed

[2019-04-26 10:24] gep13 commented on #665
@punker76 in terms of UI changes, this is what I have so far...

![image](https://user-images.githubusercontent.com/1271146/56801633-d2198300-6815-11e9-8ca2-27d71882557d.png)

Thoughts?

[2019-04-26 10:25] gep13 commented on #665
Just noticed that the `customer` TextBlock is in the wrong place.  I will need to fix this.

[2019-04-27 04:07] pavelvasev commented on #528
OK guys, thank you very much!!

[2019-04-27 08:23] #633 closed

[2019-04-27 08:24] gep13 commented on #633
@Schroedingers-Cat thank you for raising this.  This has been corrected, and it will be included in the next release of Chocolatey GUI.

[2019-04-30 14:55] gep13 opened #668 "Ensure all dialogs shown in Chocolatey GUI have localised text on buttons"
For example this one...

![image](https://user-images.githubusercontent.com/1271146/56971088-77a75c00-6b60-11e9-964a-b895005f055d.png)

Currently, this is showing the default text from Mahapps, and instead, should show the default localized version of the word `OK`

[2019-04-30 15:38] #668 closed

[2019-05-03 08:04] gep13 commented on #525
In implementing this, a few changes have been made.

Settings screen has been broken out into two separate tabs, one for Chocolatey GUI and one for Chocolatey:

![image](https://user-images.githubusercontent.com/1271146/57125586-e4e60780-6d81-11e9-958f-0ab21ca8d062.png)

![image](https://user-images.githubusercontent.com/1271146/57125602-f3342380-6d81-11e9-90c6-47313ba66603.png)

Now, functionalit

[2019-05-03 08:15] #525 closed

[2019-05-03 09:12] #665 closed

[2019-05-03 09:13] gep13 opened #670 "Update to Chocolatey.Lib 0.10.15"
When doing this, remove the NuGetEncryptionUtility which was introduced in #665 as this will no longer be required.

[2019-05-03 09:23] gep13 commented on #595
@vertigo220 I have been making some changes in this area, and I would be curious if you can see any improvement.  If you are interested in taking a look, the related issue is this one https://github.com/chocolatey/ChocolateyGUI/issues/525 and instructions for how to install the pre-release version are here: https://github.com/chocolatey/ChocolateyGUI#installation

[2019-05-03 09:23] gep13 commented on #595
There will also likely be improvements once we update to this: https://github.com/chocolatey/ChocolateyGUI/issues/670

[2019-05-03 09:29] gep13 commented on #624
@punker76 @pascalberger @mwallner I am going to take a stab at adding this functionality, as I also want the ability to purge the Outdated Packages cache which was added here: https://github.com/chocolatey/ChocolateyGUI/pull/669 but I am not clear on "where" these new buttons (assuming that they are surfaced as buttons) should appear.

I don't think these global actions should appear here:

![imag

[2019-05-03 09:36] gep13 opened #671 "Provide ability to purge Outdated Package cache file"

[2019-05-03 09:36] gep13 commented on #671
Related to this: https://github.com/chocolatey/ChocolateyGUI/issues/624

[2019-05-03 09:51] gep13 opened #672 "Allow "safe" Chocolatey operations to happen in parallel"
Currently, all Chocolatey GUI operations are locked via a `AsyncReaderWriterLock` to prevent two operations happening at the same time.  This makes sense for the following operations:

* Install
* Uninstall
* Upgrade
* Editing configuration

However, other operations, such as getting outdated packages, can happen in parallel.

Making this change, should speed up some operations within Chocolatey G

[2019-05-03 13:18] #672 closed

[2019-05-03 13:43] punker76 commented on #624
@gep13 I think using the same "button command bar" at the bottom is a good idea. If something like this can always be found in the same place, then users will find it easier to find their way around.

[2019-05-03 14:29] gep13 commented on #624
@punker76 sounds like we are on the same page 😄

Thoughts...

![image](https://user-images.githubusercontent.com/1271146/57144088-2a252c00-6db8-11e9-8e91-c0187cf115f5.png)

[2019-05-03 14:46] gep13 commented on #624
@punker76 ooo, starting to come together now...

![image](https://user-images.githubusercontent.com/1271146/57145190-9739c100-6dba-11e9-844f-f2e32f041e91.png)

All localized, ready for translations 😄

[2019-05-03 14:50] #624 closed

[2019-05-03 15:08] gep13 commented on #671
This has been implemented as follows:

![image](https://user-images.githubusercontent.com/1271146/57146597-9f473000-6dbd-11e9-9e80-4e1d4f74baba.png)

[2019-05-03 15:11] #671 closed

[2019-05-03 15:23] gep13 opened #673 "Create commands to allow purging of caches from CLI"
Right now, this can be done from within the GUI, but it could be that this needs to be done from the CLI as well.  Create a new purge command, that can handle purging both icons and outdated packages cache.

[2019-05-04 06:30] gep13 commented on #525
Here are some screenshots of the above working in Dutch :-)  @ferventcoder thought you might be interested in seeing these.

![image](https://user-images.githubusercontent.com/1271146/57174960-394ebd00-6e3e-11e9-9306-25a63e80bda7.png)

![image](https://user-images.githubusercontent.com/1271146/57174966-45d31580-6e3e-11e9-8bcc-b91b32b45cd5.png)

![image](https://user-images.githubusercontent.com/12

[2019-05-04 06:39] gep13 commented on #525
@ferventcoder if you notice in @mkevenaar screenshots, he is making use of the shim that is created during installation.  This has a side effect of returning to the console prompt before the result from Chocolatey GUI.  This is due to this:

https://github.com/chocolatey/ChocolateyGUI/commit/6370e5a4a30928dbe520ae5b5373ed19b16e435f

Would love some input on whether this can be improved.  Thanks

[2019-05-04 07:48] mkevenaar commented on #525
@gep13 the `cup`, `cinst` e.a. (shim?) executables are not showing this behavior. I think it might be that in this case shimgen is creating a GUI shim, as it should it; it's a GUI package. I believe a gui shim should exit once the actual software is started.

[2019-05-04 09:05] gep13 commented on #525
@mkevenaar the “issue” here is that chocolateygui.exe is both a CLI and a GUI application. If it is ran with arguments, it invokes the CLI, otherwise the GUI. As a result, the shim has to be created as either one, or the other, not both.

If the shim is changed, invoking from the CLI with arguments will work as you might expect. However, when invoked with no arguments the GUI would open, but the c

[2019-05-04 09:06] gep13 commented on #525
I don’t know if the shim is clever enough to know that it should default to CLI sim when invoked with arguments, and GUI shim when not. That would be the ideal situation here.

[2019-05-06 10:06] #673 closed

[2019-05-06 12:29] gep13 opened #674 "Empty icon doesn't appear on local source view"
When the is no iconUrl defined (either null or empty) Chocolatey GUI is meant to show the following icon:

![image](https://user-images.githubusercontent.com/1271146/57224942-ce9aae80-7002-11e9-9c33-2cb48143e302.png)

As a placeholder.  This works correctly when showing on the remote sources view, however, not when viewing the local source.  This is due to the way in which the IconUrl is surfaced

[2019-05-06 12:31] #674 closed

[2019-05-06 14:39] gep13 commented on #592
The ability to run an installation command similar to the following:

[code]

has just been added to the Chocolatey GUI preview, and it will be shipped in the next release of Chocolatey GUI (0.17.0).

[2019-05-06 14:39] #592 closed

[2019-05-06 14:42] gep13 commented on #670
Can't do this until Chocolatey 0.10.14 is released.

[2019-05-07 13:37] gep13 commented on #270
@hg42 this has now been implemented, and it will be released in the next version of Chocolatey GUI, 0.17.0.

[2019-05-07 13:37] #270 closed

[2019-05-07 13:51] gep13 commented on #521
@ferventcoder am I right in saying that this will require work in Chocolatey itself, before we can implement in Chocolatey GUI?  If so, we might have to bump this until that is available upstream.

[2019-05-09 04:06] hg42 commented on #270
nice, thanks

[2019-05-09 12:26] gep13 opened #675 "Split CLI functionality into separate exe"
See this commit:

https://github.com/chocolatey/ChocolateyGUI/commit/6370e5a4a30928dbe520ae5b5373ed19b16e435f

For further information on why this is required.

[2019-05-16 00:08] mojonator5000 opened #676 "Packages with pre-release versioning never found on list/search"
Checking the "Include Prerelease" box in 0.16.0 appears to have no effect. Packages on remote sources with pre-release version numbers (i.e. "1.0.0-whatever") are never found by a search. This can be reproduced using the MyGet.org feed for Chocolatey GUI itself, https://www.myget.org/F/chocolateygui/. Using following the CLI command returns 18 packages as of today, 8 stable and 10 pre-release vers

[2019-05-20 13:41] loic74 commented on #639
Sam problem here with tile view or when opening package details (doucle clic).  Occurs with some packages, for example with WinFsp, Mozilla Firefox or Node JS. No problem with Google Chrome or Notepad++ etc.

When debugging: "An unhandled exception of type 'System.AccessViolationException' occurred in Magick.NET-Q16-x86.dll"

Windows 7 Pro x64 SP1
Chocolatey 0.10.13
ChocolateyGUI 0.16.0

[2019-05-21 16:18] K0media opened #677 "Log in sync older installs for a fresh batch installation (list)"
This would require some expertise with software engineering and also messing with Choco's servers. The job should be very tiresome, so I don't expect this any time soon (less than 1 year or so).

Just dropping by to share this idea for future purposes.

Example scenario:
1. Batch install (selection) items (not available yet, but I'm believing this should be implemented along with #12);
2. After (o

[2019-05-29 14:39] gep13 commented on #676
@mojonator5000 thank you for taking the time to report this.  This has been corrected in the latest pre-release version of Chocolatey GUI, as shown here:

![image](https://user-images.githubusercontent.com/1271146/58566079-d88d8700-8227-11e9-9d2e-4c0616643b62.png)

If you want to take the pre-release version for a spin, see the instructions in the readme of this repository.

[2019-05-29 14:39] #676 closed

[2019-05-30 12:32] #675 closed

[2019-05-30 12:33] gep13 commented on #659
@Kobus-Smit are you still having this issue?  I have been doing some testing today ahead of the release, and I am not able to replicate this problem.

[2019-05-31 00:10] Kobus-Smit commented on #659
@gep13 I've rolled back to v0.16 in April but installed v0.17 just now and still the same issue:

![image](https://user-images.githubusercontent.com/11263864/58672298-a431dc00-8389-11e9-820e-9a8e1502686b.png)

![34ADCA51-1207-4688-9092-E132674C594C](https://user-images.githubusercontent.com/11263864/58672658-5ddd7c80-838b-11e9-87a8-183b8c818c3a.GIF)

Other issue is that it shows that DisplayFusion

[2019-05-31 07:38] gep13 commented on #659
I've rolled back to v0.16 in April but installed v0.17 just now and still the same issue:

I will keep digging, but so far, I am unable to reproduce this 😢

Other issue is that it shows that DisplayFusion and Foxit Reader is outdated but they are not:

While they might be up to date, that update must have happened outside of Chocolatey.  As far as Chocolatey is concerned, you have 9.4.1.16829 of F

[2019-06-05 07:51] rdiez opened #678 "No warning for broken packages"
Package libreoffice-still has been broken for some time. I recently had a discussion with its maintainer, but his attitude has disappointed me. I also reported it to the Chocolatey admin, but his response was also disappointing. It is a sorry state indeed. This is the package URL:

https://chocolatey.org/packages/libreoffice-still

Anyway, the Chocolatey admin meant that the package is flagged wit

[2019-06-05 09:06] gep13 commented on #678
I recently had a discussion with its maintainer, but his attitude has disappointed me.

Where did this discussion take place?  Do you have a link?

When attempting the installation of the libreoffice-still package, you can see the following output from Chocolatey:

![image](https://user-images.githubusercontent.com/1271146/58943856-8cd36400-8778-11e9-853a-c5b8de96d829.png)

That output is driven b

[2019-06-05 10:15] rdiez commented on #678
The (short) discussion we had is on the libreoffice-still package page, the link is in my first comment above.

I do not really mind how you present this information on the GUI. My primary concern is about packages that are known to be broken. This warning should be presented in a way so that non-expert users understand that it will fail, so that they should skip the package. In fact, you may argu

[2019-06-07 07:38] FelschR commented on #670
Any updates on this?

[2019-06-11 07:54] gep13 opened #679 "Provide integration with chocolateygui.extension"
This will work similarly to chocolatey.extension, where different functionality within Chocolatey GUI lights up when the extension is installed.

[2019-06-11 07:55] gep13 commented on #670
@FelschR my intention is to get to this, and the last remaining item in the milestone this week, and to get 0.17.0 released.  Please understand that this isn't a commitment to this happening, but rather, that is what I am hoping to achieve.

[2019-06-11 09:04] #670 closed

[2019-06-11 09:08] gep13 opened #680 "Remove tilting chocolatey logo"
Based on new recommendations for usage of logo, and also to match the changes that are coming to the Chocolatey website, the Chocolatey Logo in the top left corner of Chocolatey GUI should no longer move.

[2019-06-11 09:46] gep13 commented on #680
![image](https://user-images.githubusercontent.com/1271146/59261904-28ac1680-8c36-11e9-9a1f-8eefa9b5c016.png)

[2019-06-11 09:47] gep13 commented on #680
@ferventcoder @designxsteph this is my first stab at implementing this.  Thoughts?

[2019-06-11 10:57] gep13 opened #682 "Move Windows specific code into another Common library"

[2019-06-11 12:38] #682 closed

[2019-06-11 12:49] designxsteph commented on #680
@gep13 Looks good to me!

[2019-06-11 14:18] #680 closed

[2019-06-13 15:45] dfranciscus opened #684 "Set the source to view on launch"
I would prefer to have the capability to set on a specific source when GUI is launched. Right now it defaults to the local, which to me is not very helpful in most scenarios where it will be used in my environment.  I would love the ability to set it to open on an internal repo.

[2019-06-13 16:41] gep13 commented on #684
@dfranciscus I "think" I am right in saying that this request is a duplicate of this one:

https://github.com/chocolatey/ChocolateyGUI/issues/657

right?

[2019-06-13 16:41] dfranciscus commented on #684
Ah yes it is, sorry I didnt see that one.

[2019-06-13 16:41] #684 closed

[2019-06-17 16:17] Vresod opened #685 "Add a dark mode"
This could be put into the settings panel.

[2019-06-18 08:36] gep13 opened #686 "Correctly handle incorrect license installation"
If the chocolatey.license.xml file has been placed on the file-system, but the chocolatey.extension has not been installed, Chocolatey GUI can crash immediately with the following:

![image](https://user-images.githubusercontent.com/1271146/59666271-6cf66400-91ac-11e9-90a3-a50290cf4d3b.png)

This should be handled gracefully, and simply not attempt to further work with the licensed features of Cho

[2019-06-23 00:15] AresS31 commented on #457
Why not natively supporting the export feature with the CLI as some people (me for example) would rather use it over the GUI?
Additionally, when SSHing into a remote Windows machine we should be able to export all the installed packages as well.

[2019-06-23 00:20] AdmiringWorm commented on #457
@AresS31 supporting exporting packages is in progress for the CLI.
See the following PR for the work in progress: https://github.com/chocolatey/choco/pull/1825

[2019-06-23 02:01] bcurran3 opened #687 "FEATURE REQUEST (bug?) - speed up uninstall"
ChocolateyGui 0.16.0 (February 15, 2018)

This "bug" might be intentional, but it seems weird to me.

I used ChocolateyGui to look through my installed packages for a little clean up of things I don't use. I noticed I had 7zip.commandline which is deprecated so I right clicked to uninstall it. In the output, other packages are mentioned and I have no understanding why. Three are packages of mine t

[2019-06-23 02:19] bcurran3 opened #688 "Inline context sensitive KB input search ("jump")"
Instead of using Search:...
(A search enhancement.)

It would be nice if Chocolatey GUI would accept a typed letter from the keyboard and then jump to the first package name beginning with that letter and highlight it. As well as two characters (etc.) to jump to the first package matching the KB input. Ditto if sorted by Authors.

[2019-06-23 11:56] AresS31 commented on #457
Thanks @AdmiringWorm nice to know that this feature is coming.

[2019-06-23 13:49] gep13 commented on #687
@bcurran3 what you are seeing here is a "symptom" of the fact that Chocolatey GUI v0.16.0  runs the `choco outdated` command several times, in order to keep the information about which packages are out of date up to date.

This is actually a duplicate of an issue that was raised here: https://github.com/chocolatey/ChocolateyGUI/issues/525 and which has been solved in the soon to be released 0.17.0

[2019-06-23 13:49] #687 closed

[2019-06-23 13:57] gep13 commented on #685
@Vresod this is an interesting idea.  This isn't something that I would be able to take on, as I am not a designer, so this would need some outside help in order for it to progress.

[2019-07-03 20:05] gep13 commented on #686
This has been tested in the latest version of Chocolatey GUI and it is known to no longer cause a problem.  This problem affected only the privately released Chocolatey GUI for Business, and not the OSS version.

[2019-07-03 20:05] #686 closed

[2019-07-03 20:15] #679 closed

[2019-07-03 21:01] pascalberger opened #690 "Exception after startup"
After installing v0.17.0-unstable0210 I received the following exception after startup:

![grafik](https://user-images.githubusercontent.com/2190718/60624605-0301cf80-9de6-11e9-884f-73136ff25fab.png)

Application was loaded and reading installed packages for "This PC".

Next startup was successful without exception

[2019-07-04 06:11] gep13 commented on #690
@pascalberger was this a fresh installation? Or did you already have Chocolatey GUI installed?

[2019-07-08 10:13] pascalberger commented on #690
@gep13 This was after installing over latest stable version on startup

[2019-07-11 07:43] mtnielsen commented on #511
The fix should be very simple no?

if Run as admin
    Business as usual.
if Not run as admin
    if Self-service exists
        Send command to self-service
    Else
        Fail gracefully

[2019-07-28 13:02] pherwanikar commented on #12
Is this feature still not implemented? I might have a look if not?

[2019-08-09 14:39] cybercatgurrl commented on #617
In addition to this it'd be nice to see exactly which package is downloading.

[2019-08-21 04:00] Lemmingh opened #693 "Typo in README: the Requirements section is incorrect"
Currently, the **Requirements** section of `README.md` says

However, there is **no such a version** of Windows 10 called 1708.

Besides, based on my test, Chocolatey GUI 0.16.0 works on Windows 10 Version **1903**.

Please solve the problem to get rid of confusion.
Thanks.

[2019-08-21 06:41] gep13 commented on #693
@Lemmingh thank you for raising this. I believe I have clarified this in this recent commit:

https://github.com/chocolatey/ChocolateyGUI/commit/3750053af87b6386d5acf175d1da0b3d7f06707f

[2019-08-21 06:41] #693 closed

[2019-08-22 13:22] Sukender opened #694 "Allow multiple installed packages action"
[Feature proposal]

Similarly to #12 , it would be convenient to select multiple installed packages, right click, and issue a command for all of them. For instance, selecting packages A and B and selecting "Update" would result in `choco upgrade A B`.

(Of course, this might be nonsense to get "Details" for a multiple selection.)

[2019-08-23 14:51] gep13 opened #695 "Integrate with Chocolatey.Lib changes for new API"
Rather than passing custom log provider into Lets.GetChocolatey(), instead use returned object from API calls to reason about what happened.

[2019-09-01 14:35] superbonaci opened #696 "ChocolateyGui.exe - blank icon"
Don't know why doesn't show a proper icon, if there's such a thing for the .exe:

![Chocolatey GUI exe doesn't show a picture](https://i.imgur.com/mdRUYmY.png)

File version 0.16.0.0

[2019-09-01 15:21] AdmiringWorm commented on #696
This should be fixed in the upcoming version of ChocolatyGUI.
See issue #589

[2019-09-01 15:46] #696 closed

[2019-09-10 02:39] lucknaumann commented on #685
Even though you're not a designer, dark themes don't need to be difficult. If you want an idea go to DuckDuckGo search engine https://duckduckgo.com/ Settings - Themes and choose Dark or Terminal. The BG is simply a medium to dark gray and the text white to light gray. The Terminal version shows some colors for text (clicked and unclicked links, URLs, etc.). To see other colors used for certain se

[2019-09-10 07:01] punker76 commented on #685
@gep13 @lucknaumann MahApps provides also a dark theme, so it should be easy to convert the existing "light" theme to a dark theme.

[2019-09-11 01:43] lucknaumann commented on #685
@punker76 Sounds great!

[2019-09-23 09:29] pascalberger commented on #690
@gep13 Got the same exception during WinOps workshop when switching first time from list to tile view

[2019-09-23 09:50] mkevenaar commented on #690
@gep13 I was able to reproduce the issue on the winops machine.
Version: 0.17.0-unstable0233

[2019-09-26 21:53] opusforlife2 commented on #595
What's the status on this? Searching is still slow, and #670 is done with.

[2019-10-02 23:16] jacktose opened #697 "Chocolatey GUI doesn't write to chocolatey.log"
Chocolatey CLI writes to `C:\ProgramData\chocolatey\logs\chocolatey.log`, but Chocolatey GUI does not.

This is especially confusing because the CLI output that the GUI shows says to look in the chocolatey log: ![image](https://user-images.githubusercontent.com/12414794/66088304-7e7f3400-e52f-11e9-862f-81e30a09c9c2.png)

@gep13 says it's a known issue:

Possibly related to #695.

[2019-10-03 00:28] Xoph commented on #12
I'm interested at taking a look at this. I'm basically new to Git, and totally new to this project, so if someone can "sponsor" me please reach out to me directly and I'll try to tackle this.

Looking to improve my personal skills by contributing to an actual project that is relevant to me.

[2019-10-03 02:06] AdmiringWorm commented on #12
@Xoph I don't know about *sponsoring* you, but if you got any questions regarding git, feel free to reach out to me on [gitter](https://gitter.im/admiringworm) (If the link don't work, I am AdmiringWorm on gitter).

What I recommend you start with though, is to familiarize yourself with the basic commands on git (I do not recommend using a gui until you at least know what some of the commands do,

[2019-10-03 02:07] AdmiringWorm commented on #12
For the project specifically, I think the [Contributing Guidelines](https://github.com/chocolatey/ChocolateyGUI/blob/develop/CONTRIBUTING.md) pretty much goes through what is necessary to contribute (With the exception of using `git` itself of course).

[2019-10-03 12:59] Xoph commented on #12
I've contributed to repos before using the tooling available on the website, I just haven't used the git command-line.

The Contributing Guidelines page doesn't appear to highlight all the project dependencies. Is there any documentation on that?

[2019-10-06 07:29] huffSamuel commented on #513
Is this still a feature you'd like implemented? I have a branch that implements Ctrl + 1..9 as keybindings for sources. Sources higher than 9 don't have a keybinding.

[2019-10-08 08:31] gep13 opened #698 "Create and publish additional NuGet packages for Chocolatey GUI"
Chocolatey GUI has separated out some logic into the ChocolateyGui.Common and ChocolateyGui.Common.Windows projects.  This allows code to be re-used/shared between the Chocolatey GUI and Chocolatey GUI CLI projects.  So that other upstream application/packages can make use of this code, let's create additional NuGet packages for these libraries as part of the build process.

[2019-10-08 08:34] #698 closed

[2019-10-12 19:01] bhargava-raju commented on #694
I'm interested to work on this, will raise a PR as soon as I finish.

[2019-10-13 08:19] superbonaci commented on #589
The issue is not fixed yet.

[2019-10-13 08:19] superbonaci opened #701 "Chocolatey GUI icon is a blank image"
Still not fixed:

https://github.com/chocolatey/ChocolateyGUI/issues/589

[2019-10-16 06:44] gep13 commented on #589
@superbonaci can you confirm what version of Chocolatey GUI you are currently using?

[2019-10-16 07:36] gep13 commented on #701
@superbonaci let's not raise a new issue for an existing issue.  Let's continue the discussion on the existing issue.

[2019-10-16 07:36] #701 closed

[2019-10-16 09:26] superbonaci commented on #589
@gep13 https://github.com/chocolatey/ChocolateyGUI/issues/696

[2019-10-16 12:19] gep13 commented on #589
@superbonaci that doesn't answer my question.

[2019-10-16 21:12] superbonaci commented on #589
Ok thank you. I've merged the icon into the exe for now.

[2019-10-21 18:30] gep13 opened #704 "Add ability to strong name sign the output of the build"
In the same way that all Chocolatey artifacts, i.e. choco.exe, chocolatey.dll, etc are strong name signed, all the artifacts of Chocolatey GUI i.e. chocolateygui.exe, chocolateyguicli.exe, chocolateygui.common.dll, etc, should all be strong name signed as well.

These should use a different snk file from the Chocolatey repositories, so that there is clear separation between what is related to Choc

[2019-10-22 12:45] gep13 commented on #704
@punker76 thank you for all your help here!  This seems to now be working! 🎉

[2019-10-22 12:45] #704 closed

[2019-10-22 12:52] gep13 opened #705 "Add footer with information about current version in bottom left hand corner"
Following a conversation with Rob, the suggestion was made to add some footer text in this area:

![image](https://user-images.githubusercontent.com/1271146/67287399-fdceaa80-f4d2-11e9-992d-d7b5b897ffb4.png)

This will include the current version number of the application when running the Open Source version.  It will also flip to include the license information when running the Chocolatey for Bus

[2019-10-22 12:59] gep13 commented on #705
This will look something like this in Open Source Edition:

![image](https://user-images.githubusercontent.com/1271146/67287980-05db1a00-f4d4-11e9-96ef-3f88c08245c2.png)

And like this in the Licensed editions:

![image](https://user-images.githubusercontent.com/1271146/67288038-21462500-f4d4-11e9-9a04-095efa55540a.png)

[2019-10-22 14:12] #705 closed

[2019-10-22 15:45] ferventcoder commented on #705
👍

[2019-10-24 02:05] iammael opened #706 "Settings to prevent preloading on remote views"
Hello!

I'd suggest to add this toggler :

![cxiVhXElNo](https://user-images.githubusercontent.com/7931135/67447066-fa423d00-f612-11e9-982e-1e78fb28b8c5.png)

It makes the page load a little bit faster. I have the code done for it and could submit a PR on approval (and yes I added a dot at the end of the description in the code).

[2019-10-28 04:47] JustWhelmed commented on #685
Really hope this gets implemented. Every app should have a dark theme, it's just so much easier on the eyes.

[2019-10-28 14:39] vk96mustafa opened #707 "need more Improvements"
the app needs more polish design
the app has a poor GUI design and it can be much better then that
make it much cleaner, simple and much nicer , it needs to be more polish, again
also it has a problem to dealing with images or "icons" with a width more then the height like this ms logo for example ...
![ChocolateyGui_ens7uyMx2E](https://user-images.githubusercontent.com/32788610/67688288-a8027280-

[2019-10-28 14:42] gep13 commented on #707
@vk96mustafa thank you for providing your feedback.

Unfortunately, what you have provided isn't very actionable.  If you can pin point to specific problems that you have with the design, and perhaps provide a Pull Request to correct the perceived issues, then perhaps we can work to make improvements.

[2019-10-28 15:08] vk96mustafa commented on #707
@gep13 now update my feedback
" I pressed the "Comment" button while i was typing by mistake , sorry"

[2019-10-28 21:02] #513 closed

[2019-10-30 13:45] gep13 opened #708 "Add ReleaseOfficial Build Configuration"
This will allow the control of different aspects of the build, specifically around what strong name key is used when doing the build.

[2019-10-30 16:36] #708 closed

[2019-11-01 10:36] mkevenaar opened #709 "Context menu not displayed"
Currently with v0.17.0.0 unstable 0255 (current latest version) the context menu is not showing when you right click on an item.

This was available in v0.16.0.0

[2019-11-01 10:47] gep13 commented on #709
I have just tested this, and I can confirm that the context menu seems to have been lost on the `LocalSourceView` however it is still working as expected on the `RemoteSourceView`.

At this point, not immediately clear on why this would have been lost.

[2019-11-01 10:48] gep13 commented on #709
More interestingly...

The context menu works when in the tile view of the LocalSourceView, but it isn't working on the list view.

[2019-11-01 10:51] mkevenaar commented on #709
@gep13 I can confirm that I have the same results.

[2019-11-01 11:13] punker76 commented on #709
@gep13 This was my fault during MahApps v2.0 alpha support, I'll fix that.

[2019-11-01 11:23] #709 closed

[2019-11-01 11:24] punker76 commented on #709
@gep13 done

![2019-11-01_12h21_28](https://user-images.githubusercontent.com/658431/68021713-7cc99d00-fca2-11e9-9e02-13616eb8e019.png)

[2019-11-01 11:40] mkevenaar commented on #709
@gep13 @punker76 I can confirm that it works again with unstable0256

Thank you @punker76 for your quick fix!

[2019-11-01 11:48] gep13 commented on #709
@punker76 thank you very much for doing this! 🎉

[2019-11-01 11:49] gep13 commented on #709
@punker76 is it possible that something else might have happened here as well?  I seem to remember that we added a prerelease label on the tile view when a pre-release version was installed.  Or am I misremembering that?

[2019-11-01 11:52] gep13 opened #710 "Add ability to show/hide download count on remote source view"
When looking at the remote source view, there is a download count shown:

![image](https://user-images.githubusercontent.com/1271146/68023020-ef844980-fc9d-11e9-8455-403e3a3a9e6b.png)

For something like chocolatey.org, this makes sense, but other sources don't have that information, and as a result, you see this:

![image](https://user-images.githubusercontent.com/1271146/68023050-0cb91800-fc9e-1

[2019-11-01 11:55] punker76 commented on #709
@gep13 I will check this later

[2019-11-01 12:55] mkevenaar opened #711 "prelease label should not be red"
Currently the prerelease label is red:

![image](https://user-images.githubusercontent.com/834643/68026143-0a12ee80-fcaf-11e9-8999-c2b028160b29.png)

I would suggest to change this to a yellow/orange colour.

IMO a red color shows that it's bad. I think a prerelease is more a warning.

[2019-11-01 12:56] #710 closed

[2019-11-01 16:16] gep13 commented on #709
@punker76 so I had a quick look during the stream that I did this lunch time, and I think I was misremembering something.  I don't think anything else has been lost here.

[2019-11-01 16:18] gep13 commented on #707
@vk96mustafa with regard to the icon stretching, that is possibly something that we can look at.

Regarding the other feedback, I am still not sure that there is anything actionable there.  If you have specific pieces of feedback that can be directly addressed then please raise them as separate issues.  Let's keep this issue about the icon being stretched incorrectly.

[2019-11-01 16:19] gep13 commented on #706
@iammael This looks like an interesting addition.  If you can send a PR, we can review the code.  Thanks for your interest in this project.

[2019-11-01 16:54] punker76 commented on #707
@gep13 The icon stretching is fixed in the current source.

[2019-11-01 20:19] gep13 commented on #707
@punker76 yip, you are right!

@vk96mustafa in which case, I am going to suggest that we close this issue.  If you can create other issues that address specific areas of concerns, or suggestions for improvements, then I think that this would be the best way forward.

[2019-11-01 20:19] #707 closed

[2019-11-02 18:52] Kamoba opened #712 "Atom fron non-Admin"
I work from a non-admin user account.
I tried to install Atom v1.42.0.20191029 and I had the following error:
![image](https://user-images.githubusercontent.com/35287463/68075611-abfa1000-fd6f-11e9-95c3-47119abf2dfb.png)

It seems there is an access problem, however I started ChocolateyGui well in admin mode.
On the other hand if I connect to the admin account to do the installation everything goe

[2019-11-03 01:38] taotien commented on #595
This is still a problem. Opening up https://chocolatey.org/packages is way faster

[2019-11-03 15:01] iammael commented on #706
Thank you for your answer. I'll send it when I get back home in 3 days!

[2019-11-05 11:51] Zaknafeyn opened #713 "Add support of tag <icon>"
**_Feature request_**

Add support of tag <icon> to allow embedding package icon inside the package instead of referencing the icon by url. This will allow to list packages with icons on machines without internet.

Description of the similar feature in NuGet https://docs.microsoft.com/en-us/nuget/reference/nuspec#icon

[2019-11-07 17:08] dmdufrene opened #714 "Crash on failOnInvalidOrMissingLicense Failure"
Unhandled Exception when using Chocolatey GUI while failOnInvalidOrMissingLicense option set to "true".  Screenshot below.

Changing `"failOnInvalidOrMissingLicense" enabled="true"` to `<feature name="failOnInvalidOrMissingLicense" enabled="false"` fixes the issue.

![2019-11-07_Unhandled Exception on failOnInvalidOrMissingLicense -eq true](https://user-images.githubusercontent.com/4133873/6841014

[2019-11-15 12:33] vk96mustafa commented on #707
Hello @gep13, @punker76 sorry for this late response ...
I've decided to design a GUI (just an example) to show you an idea of a more polish (more premium) user interface for your choco app (using affinity designer), [this image](https://mega.nz/#!wIglQawB!1HNPvEWifwMr5XH-46zsrjhB8nKSKxiGniveFEv8NE4) for my design so you can preview it

Note: It would me very recommended to adding a vibrancy effec

[2019-11-25 19:14] mwallner opened #716 "PackageParameter are not working (when install ChocolateyGUI via Chocolatey)"
There's most likely an error in  `ChocolateyInstall.ps1`.
Instead of `chocolateyguicli`, `chocolateygui` is called to set parameter values, which only opens up the GUI without actually setting any parameter values.
(also the installer stops and waits until the user closes the GUI again)

[2019-11-25 21:19] #716 closed

[2019-12-04 14:04] mtnielsen opened #718 "Any plans making this work with chocolatey agent?"
Using GUI with the chocolatey agent is apparently supposed to be supported (???) https://chocolatey.org/docs/features-agent-service

    OPTIONAL (highly recommended): For use with Chocolatey GUI, you need Chocolatey Extension v1.12.4+, and at least Chocolatey GUI v0.15.0. Uninstall any version of the GUI you already have installed first, then run choco upgrade chocolateygui -y --allow-downgrade (

[2019-12-04 14:16] gep13 commented on #718
@mtnielsen to the best of my knowledge, this feature is working.  I have personally tested it a number of times, and I know lots of Chocolatey for Business Customers are also using this without any issues.

Can you please confirm what versions of each Chocolatey component you have installed?  Also, assuming you are a Chocolatey Licensed Customer, your best avenue for support would be to reach out

[2019-12-04 14:52] mtnielsen commented on #718
I'm running

    	chocolatey 0.10.15
	chocolatey-agent 0.9.1
	chocolatey-core.extension 1.3.5.1
	chocolatey-license 1.0.0
	chocolatey.extension 2.0.2
	chocolateygui 0.16.0

An attempt to uninstall a random app:

(attached)
[log.txt](https://github.com/chocolatey/ChocolateyGUI/files/3922440/log.txt)

[2019-12-04 16:42] gep13 commented on #718
@mtnielsen by default, uninstallation of a package via the background service, and therefore Chocolatey GUI, is prevented via a configuration option.  Can you confirm that you have changed this config value to allow the uninstall command to be used?

[2019-12-04 18:13] mtnielsen commented on #718
Huh. That's it. It seems so obvious and yet it is so easy to miss.

    choco config set backgroundServiceAllowedCommands install,upgrade,uninstall

[2019-12-04 18:13] #718 closed

[2019-12-08 02:06] rwperrott commented on #595
Definitely annoying, including, astonishingly, no, so-far identifiable, cancel button for the very slow search, for: no search term, the wrong search term, or a stale search term, is blocking a new search...

[2019-12-09 15:53] Computerlabrat commented on #318
This one is likely to be helpful. Browsing the apps is a bit of a pain as they're not sorted by type, but at the same time, there's currently over a hundred pages of programs, so doing this for each one individually can be a pain in the rear.

[2019-12-10 10:10] BananaAcid commented on #595
what triggers me, is having to wait for the main tab to do its stuff and wait, just to be able to select the "chocolatey" tab and wait again to be able to search and then wait again.
I do not care for prefilling the search list - I want to go and search for packages. (Too many steps to wait for - why is there no cancel button?)

Is the wait related to the .NET-No-Proxy-Configured-Delay-Bug? Btw, t

[2019-12-10 13:31] gep13 commented on #595
@BananaAcid @rwperrott @opusforlife2 @taotien can any of you please confirm what version of Chocolatey GUI you are using?

Can you please try the latest pre-release version of Chocolatey GUI, installation instructions on the readme of this project, and report back if there is any improvement.

[2019-12-10 15:45] BananaAcid commented on #595
got any command line snippet I can throw at powershell to install that specific version?

Have v0.16.0 running

[2019-12-10 17:01] gep13 commented on #595
@BananaAcid yip, in the readme that I mentioned...

https://github.com/chocolatey/ChocolateyGUI/blob/develop/README.md#installation

[2019-12-11 00:19] BananaAcid commented on #595
AH thanks, installed it from there.
I see, initially opening it is quick - while taking a while in the background to check for new versions. Like it.
But clicking on the online tab blocks and requires a wait.

BTW: Having pinned a program will still update it if "updating all".

[2019-12-11 03:51] opusforlife2 commented on #595
@gep13 Does the pre-release version install over the stable version or does it install separately? If it does install over the existing installation, does it get updated back to the stable branch on the next release?

[2019-12-11 07:15] gep13 commented on #595
But clicking on the online tab blocks and requires a wait, before being able to search.

Can you confirm what you mean by the `online` tab?  By default, there is no tab called `online` in Chocolatey GUI.  I want to make sure that we are talking about the same thing.

[2019-12-11 07:16] gep13 commented on #595
Does the pre-release version install over the stable version or does it install separately? If it does install over the existing installation, does it get updated back to the stable branch on the next release?

Yes, the pre-release version replaces the currently installed stable version of the application.  When 0.17.0 is released, it will install over the top of the pre-release version, so it sho

[2019-12-11 21:53] opusforlife2 commented on #595
@gep13 Thanks. Installed the pre-release version. As @BananaAcid said, it is immediately noticeable that the startup time has been cut down considerably.

I'll phrase the same issue differently for clarity: When you click on the 'chocolatey' tab (the only one apart from 'This PC'), the application immediately blocks the user from doing anything else by showing a big box, with the optional console

[2019-12-12 08:08] gep13 commented on #595
@opusforlife2 so, it sounds like there are several moving parts here, and I think it would help to have these broken up into separate issues for tracking purposes.  Based on what has been said here, I see three issues/concerns...

1. (This issue) Queries to chocolatey.org take a long time to return
1. Feature Request: Ability to cancel an ongoing search
1. Feature Request: Provide the ability to n

[2019-12-12 11:53] opusforlife2 opened #719 "Provide the ability to not populate the package results when navigating to a source tab"
When the user clicks on a source tab such as "chocolatey", it immediately starts fetching packages to populate the list. This blocks the user from interacting with the GUI until the first page of results is fetched. The wait can span up to a minute or more.

The user should have the option to disallow this automatic fetching of packages.

Alternatively, the GUI should not block the user from inter

[2019-12-12 11:57] opusforlife2 opened #720 "[Feature Request] Ability to cancel an ongoing search"
When the user searches for a package in a source tab, the GUI blocks the user from doing anything else (other than close ChocolateyGUI entirely).

The user should have the option to cancel the search.

Alternatively, the GUI should not block the user from interacting with the application, while the search is executed in the background.

[2019-12-12 11:58] opusforlife2 commented on #595
@gep13 Done! :)

- https://github.com/chocolatey/ChocolateyGUI/issues/719
- https://github.com/chocolatey/ChocolateyGUI/issues/720

[2019-12-12 12:46] gep13 commented on #595
@opusforlife2 thank you for doing that, I appreciate it!

[2019-12-12 12:47] gep13 commented on #720
This issue was created after discussion in this issue: https://github.com/chocolatey/ChocolateyGUI/issues/595

[2019-12-12 12:47] gep13 commented on #719
This issue was created after discussion in this issue: https://github.com/chocolatey/ChocolateyGUI/issues/595

[2019-12-29 07:54] lucknaumann commented on #685
Hey, I just wanted to check-in and see how things were progressing. Any update on ETA for a dark theme? Thanks!

[2019-12-30 08:55] nutterthanos opened #722 "Choose what version of packages you want to install in the GUI"
Maybe implement a gui box to choose what version of package you want just like how Hot Chocolatey already does it.
https://imgur.com/a/raFQw7f

[2020-01-03 13:26] jmacura opened #723 "Chocolatey GUI does see newest version of packages"
Crawling through the history of Issues here, this looks like a recurring bug (#585).

## Description

There is at least one package with update available in my list. I can see it via Power Shell command. Yet the latest version does not show up in the Chocolatey GUI.

## System
chocolatey 0.10.15
chocolatey-gui 0.16.0
PowerShell 5.1.18362.145
Windows 10 Pro 1903

## Screenshots
![choco_issue_cmd](h

[2020-01-03 13:57] gep13 commented on #723
@jmacura the issue that you link to was fixed in version 0.17.0 which hasn't shipped yet.  You are still using 0.16.0.  If you want to take the pre-release for a spin, you can find the installation instructions on the readme of this repository.

[2020-01-03 13:57] #723 closed

[2020-01-03 14:04] jmacura commented on #723
Honestly, it really didn't crossed my mind, that it takes almost 2 years to make a new release...
Seriously, what's blocking the 0.17.0 to be shipped to the public?

[2020-01-03 15:59] gep13 commented on #723
@jmacura this is a community driven open source project, and there are no timescales associated with releases.  The pre-release version is currently considered stable, and there are upstream reasons why we haven't yet shipped 0.17.0.  My suggestion would be that you install the pre-release version, and when 0.17.0 is shipped, it will be a simple upgrade to move to the latest version.

[2020-01-07 09:12] #711 closed

[2020-01-10 14:38] PowerPCx86 opened #725 "a UI suggestion ?"
Make it with affinity designer
<img src="https://i.imgur.com/gYDKMYV.jpg">

[2020-01-14 12:02] dancingdoorman opened #726 "Add an "Only download" option to the "install/details" menu"
A number of packages have crc faults after downloading.
I uninstalled a number of application to be able to reinstall them with chocolaty.
I rather have them managed by chocolaty then do it myself with seperate installers.
Finding out that a chocolaty application doesn't work isn't, after having uninstalled the separate application isn't a nice experiance.

Ideally I would like to be able to use a

[2020-01-18 21:12] egreiner opened #727 "pdb files get deployed"
Hi,
I found some pdb files in the folder C:\Program Files (x86)\Chocolatey GUI
chocolatey.pdb
chocolateygui.pdb
MahApps...
Mindscape...

Afaik these files are for Visual Studio debugging sessions only, no need to deploy.

Chocolatey GUI v0.16.0

hth

[2020-01-18 21:27] AdmiringWorm commented on #727
That is not entirely correct.
PDB files are also useful when exceptions occur in the application as some information would not be available in the logs when these are not included.
Some of the information I know of that wouldn't be available without these files would be: The file the exception occurred in, and which line the exception happened on (Both of which are useful when tracking down issues

[2020-01-19 13:25] LordMike opened #728 "Add an option to open the Chocolatey.org page for any package"
To get more details, view the status, see comments, etc.. you need to be on the webpage.. But to do so, you'll have to find the given package, again, on the webpage - as there's no link to it.

Please add an option next to details (in the feed view)

![image](https://user-images.githubusercontent.com/1027111/72681795-68d65000-3ac7-11ea-883c-c6e895df7fae.png)

.. and also in "This pc" view

![image

[2020-02-03 05:09] vertigo220 commented on #595
Started playing around with chocolatey again in the hopes I'd be able to use it on some new builds, but this is still a problem. Switching to the chocolatey "tab" still takes a while to load, as do searches. When viewing the command line output, both actions are doing the same thing: listing many/all of the installed apps, like this:

Fetching packages...
Package name/installed ver/new ver/False
.

[2020-02-03 05:10] vertigo220 commented on #605
I assume since this is closed these new descriptions should be showing now, but they're not for me.

[2020-02-03 05:12] vertigo220 opened #730 "Change mentions of "Pin" to be "Pin (Ignore updates)""
Not sure if this is a GUI issue or a choco one, so please let me know if I need to move it over there.

A big feature missing is the ability to tell chocolatey, probably via the right-click context menu, to ignore updates for an app. It should provide the options to ignore the current update or ignore all updates.

[2020-02-03 07:13] gep13 commented on #730
@vertigo220 are you familiar with the `choco pin` command?  I believe that this will do what you want.

[2020-02-03 07:15] gep13 commented on #605
I assume since this is closed these new descriptions should be showing now, but they're not for me.

The individual issue is closed yes. however the milestone that this issue is associated with, 0.17.0, is still open, and therefore not shipped.  If you want to take it for a spin, see the installation instructions on the readme for details of how to install the pre-release version.

[2020-02-03 07:16] gep13 commented on #595
@vertigo220  Can you confirm exactly what version you are using?  Based on your other comments, I suspect you are still using 0.16.0.

[2020-02-03 21:57] vertigo220 commented on #595
You're right. I was wondering why it hadn't been updated in so long, didn't realize you had a separate development version. Just tried upgrading but it failed. Typed the following into an admin PowerShell console:

choco upgrade chocolateygui --source https://www.myget.org/F/chocolateygui/ --pre

and got this:

[code]

I have ver 4.8.03752 of dotNET installed.

[2020-02-03 22:02] mkevenaar commented on #595
@vertigo220 add `;chocolatey` to the end of your sources. Assuming you have the default sources available

[2020-02-03 22:02] vertigo220 commented on #730
Ah, ok. Should've known that based on #1607. Guess I just didn't connect the two, though now that you mention it, it's pretty obvious, though only based on that. In other words, I should have known that due to my participation in that issue, but otherwise, for a "normal" user, it wouldn't be at all obvious, so maybe that would be worth a GUI change, to change the context menu entry from "Pin" to "

[2020-02-03 22:04] vertigo220 commented on #730
Apparently I did the code tag wrong, and I don't know what it is nor can I edit my posts. I hate that GitHub changed so it no longer works on ESR. Anyway, that should say "make something like a *choco pintemp* or *choco pinver* command"

[2020-02-03 22:06] vertigo220 commented on #595
So just go to Settings > Sources and put that in the ID box and save?

[2020-02-04 07:22] gep13 commented on #730
Apparently I did the code tag wrong, and I don't know what it is nor can I edit my posts. I hate that GitHub changed so it no longer works on ESR. Anyway, that should say "make something like a choco pintemp or choco pinver command"

I am not sure if I completely follow this.  Can you elaborate?  Chocolatey GUI is simply a wrapper around the underlying Chocolatey commands.  If you are asking for a

[2020-02-04 07:23] gep13 commented on #730
so maybe that would be worth a GUI change, to change the context menu entry from "Pin" to "Pin (Ignore Updates)"

I think that this is a good suggestion.

[2020-02-04 07:24] gep13 commented on #730
@vertigo220 I have updated the title of this issue to reflect what is actually being requested.  Let me know if you have any additional comments.

[2020-02-04 07:25] gep13 commented on #595
@vertigo220 no, @mkevenaar is suggesting that you try the following:

[code]

[2020-02-04 07:28] gep13 commented on #713
@Zaknafeyn Chocolatey GUI is a wrapper around Chocolatey.  What you are requesting would be a Chocolatey feature, which could then be supported in Chocolatey GUI.  Can I ask that you raise this issue over here: https://github.com/chocolatey/choco

[2020-02-04 07:28] #713 closed

[2020-02-04 07:34] gep13 commented on #728
@LordMike I think that this is a great idea!

[2020-02-04 07:35] gep13 commented on #728
The only "slight" problem with this is that not all packages come from chocolatey.org, they could be from an internal feed, where the link to the package details is different.

I will have a think about how best to handle this.

[2020-02-04 07:36] gep13 commented on #726
@dancingdoorman this seems like a good suggestion to me, thank for raising the issue.

[2020-02-04 07:37] gep13 commented on #725
@PowerPCx86 I am not sure that I follow what you are asking for here...

What does Affinity Designer have to do with the current design for Chocolatey GUI?

[2020-02-04 07:38] gep13 commented on #719
I think this could be related to this issue: https://github.com/chocolatey/ChocolateyGUI/issues/706

[2020-02-04 18:27] LordMike commented on #728
Would it be possible to identify the feed a given package comes from, and then if that feed supports "web viewing": add the link?

[2020-02-04 18:33] LordMike commented on #595
@gep13 which means

[code]

(quotes around the source)

[2020-02-04 18:45] gep13 commented on #595
@LordMike  Ah, that is a great catch! Thank you!

[2020-02-04 18:46] gep13 commented on #728
We could possibly do something here. In the first instance, I think we would only enable it on the chocolatey feed, and have another issue to support identifying other feed types.

[2020-02-04 18:49] LordMike commented on #595
Also .. Updating to `0.17.0-unstable0318` reduces initial load time for the feed (chocolatey) immensely for me. I'm down to ~2 seconds where I was at 8-10s+.

[2020-02-04 20:54] vertigo220 commented on #730
"I am not sure if I completely follow this. Can you elaborate? Chocolatey GUI is simply a wrapper around the underlying Chocolatey commands. If you are asking for a new Chocolatey command, which I think you might be, then the correct place to make that request would be on the Chocolatey Repository. Once implemented there, that functionality could be exposed within Chocolatey GUI."

Yes, that's wha

[2020-02-04 21:04] vertigo220 commented on #730
Issue reference didn't work properly, referenced this issue number in that repo, so here it is: https://github.com/chocolatey/choco/issues/1997

[2020-02-04 21:26] vertigo220 commented on #595
Ok, now updated, and I realize I should have done some timed tests beforehand for comparison, but so far what I've noticed is that initial startup actually seems a tad slower (first time took ~10-20 seconds, don't remember exactly, but that's to be expected; subsequent startups take ~8 seconds, whereas before it was only probably 2-3, but still not a big deal) and, more importantly, switching to t

[2020-02-05 05:01] vertigo220 commented on #545
To add to this, as mentioned in #526 the GUI should allow rolling back (rollback, downgrading, versioning) to a previous version. This can be done via the CLI with "choco list packagename --all" then an uninstall and an install of the desired version, but if the GUI provided a list of all versions and allowed you to click on one to install that version (uninstalling the current one as well, obviou

[2020-02-07 17:54] PowerPCx86 commented on #725
I'm just (and only just) suggesting a graphical user interface for your program

Affinity Designer is just (and only just) a vector graphics editor (like adobe illustrator) it has nothing to do with your app or GUI design, Affinity Designer is just a tool I used to "sketch" a GUI (in brief you have nothing to do with Affinity Designer)
u can create the same GUI above using HTML+CSS for example
or

[2020-02-07 21:08] VideoPlayerCode commented on #595
Dear God @vertigo220 @gep13 please release a new version of Chocolatey GUI. The last one was two years ago in february 2018 and is unusably slow. :-O

[2020-02-07 21:37] Arcitec opened #731 "Add support for uninstalling metapackages"
I used the GUI (0.17.0.0) to uninstall cmake, which is a metapackage for cmake.install. This was the console log:

[code]

Then it sat there for 20 seconds until it said `Timeout or your choice of '' is not a valid selection.` and just uninstalled cmake.

Support can be done in two ways:

1. Ask the user via a messagebox if they wanna uninstall the other package too. With the same timeout as the c

[2020-02-07 21:38] VideoPlayerCode commented on #731
The weirdest thing is that it seems to have uninstalled cmake.install too, by default. When the timeout happened, I no longer see cmake.install either. I guess chocolatey's own default behavior is Yes...

[2020-02-07 21:43] VideoPlayerCode commented on #731
Just uninstalled NodeJS which is a metapackage for NodeJS.Install. Same thing happened. But this one did not uninstall the NodeJS.install package. So the default choice is package-dependent or perhaps implemented (choco uninstall cmake.install) in the uninstall script of the cmake metapackage I guess.

[2020-02-08 00:33] vertigo220 opened #732 "Searching while on page x opens page x instead of page 1 of results"
If you perform a search, then navigate to another page, then do another search, it will load the results page for the new search that you were on before the search. For example, if you search for "browser" and go to page 2, then search for "firefox," you'll get page 2 of the results for the firefox search. If there are no results on page x (2 in this example), it will then automatically load page

[2020-02-08 01:41] JesFEREM commented on #685
bump.
Yeah dark mode should be as easy as turning the background black and the text white. That's what i recommend because MS literally does that

[2020-02-08 18:12] opusforlife2 commented on #595
@gep13 I have to agree with this comment. The difference between 0.16 and 0.17 is like night and day. The entire process of opening it, waiting for it to refresh, then updating software never took less than 15 minutes earlier. Now it is done under 5 minutes.

[2020-02-11 00:19] AdmiringWorm commented on #685
@JesFEREM unfortunately it is almost never as easy as that.

Creating a dark theme (even just changing the background to black and the text to white) requires implementing a completely new style, updating the already used colors for different controls (background, foreground, border, etc) and make sure they don't clash with anything else.

Implementing the ability to actually select the wanted sty

[2020-02-12 10:08] gustavohenac opened #733 "chocolateygui does not present all updates seen in "choco outdated""
When I type 'choco outdated' on cmd, the console has more updates than chocolateygui. In the past occurr sometimes. Example: today when running choco outdated it presented an update for atom and firefox. For chocolateygui only warned that the firefox needs to be updated.

Thanks.

[2020-02-14 05:53] xmha97 opened #734 "ChocolateyGUI Icon"
Hello,
ChocolateyGUI icon can't be loaded because of the icon file removed:
https://cdn.rawgit.com/chocolatey/choco/8b6217061a4efe6543622e903996bb8eac012db2/docs/images/Choco_Icon.png
![image](https://user-images.githubusercontent.com/23485114/74505067-5e16ab80-4f0b-11ea-8916-2ce4f5a638a7.png)

[2020-02-14 07:37] gep13 commented on #734
@xmha97 thank you for raising this issue.  This has actually been addressed here:

https://github.com/chocolatey/ChocolateyGUI/issues/558

And it will ship in the next release of Chocolatey GUI.

[2020-02-14 07:37] #734 closed

[2020-02-23 07:02] opusforlife2 commented on #706
@iammael Have you taken a look at this again?

[2020-02-23 07:07] opusforlife2 commented on #720
Hey, since the 0.17 pre-release got the option to execute a search only upon pressing Enter, it has saved me a lot of headache. This partially addresses the issue, and should be the default setting for users, in my opinion.

[2020-02-23 07:09] opusforlife2 commented on #595
A heads up for people in this thread: I found that the 0.17 pre-release has a toggle to prevent a search from executing until you press Enter. Enjoy!

[2020-02-23 20:37] vertigo220 commented on #595
@opusforlife2 I assume you're talking about the delayed search option, which isn't new; it just has a description now to explain what it does, so that may be why you didn't notice it before.

[2020-02-23 21:29] opusforlife2 commented on #595
Blast! Foiled again.

[2020-03-02 09:41] m-rm commented on #733
I have the same problem. `choco outdated` shows:
[code]

but ChocolateyGUI 0.16.0 shows nothing.

[2020-03-17 05:37] gregkolodny commented on #685
@punker76 is this triaged?

[2020-03-17 06:16] punker76 commented on #685
@gregkolodny

it’s on my todo list and will come soon

[2020-03-17 23:27] vertigo220 commented on #595
So I just used chocolatey to set up a new computer--something I'm hoping I don't regret due to the problems mentioned in the pinning issue--and this slowness made it a major PITA. After spending an entire day installing programs and being very frustrated at how long everything was taking, I finally thought to switch to the command line and that was much, much faster. When installing programs throu

[2020-03-22 04:05] durhambell opened #735 "Chocolatey GUI started installing (seemingly) random packages upon clicking "Next Page" button"
I've never seen it do anything like this. I installed `LinkShellExtension` then clicked the "Next" button to browse the next page, and it started to install a ton of random packages. Looking at the log, they seem to be grouped somewhat. By that I mean there are .install and .portable versions of the same packages installed back to back, but they aren't alphabetical or anything like that. Here's th

[2020-03-23 14:22] f-tischler opened #737 "GUI crashing on startup - missing config"
I am on business trial and just tried to start Chocolatey GUI (0.16.0) but without success:

![image](https://user-images.githubusercontent.com/2072678/77325671-fbd67500-6d18-11ea-85ec-3ec1b79dcfc8.png)

The german part reads: A part of path "...." could not be found.

Checking the path I can confirm that the "config" directory is indeed missing. Reinstalling does not fix the problem.

**Update 26

[2020-03-27 01:29] superbonaci commented on #589
Thank you, tested and works.

[2020-03-27 10:38] silverqx commented on #431
out of date tag looks good, thx

[2020-03-27 13:02] gep13 commented on #431
@silverqx thanks for confirming!

[2020-03-27 13:02] gep13 commented on #589
@superbonaci that is great, thank you for confirming!

[2020-03-27 13:06] gep13 commented on #737
@f-tischler sorry to hear that you are having issues.

Can I ask how you have installed the Chocolatey GUI application?  The error message suggests that the application is looking in the wrong place for the chocolatey configuration file.

If you are on a Business Trial, the best advice would be to raise a support ticket directly, as that is your best option for getting an immediate response.

[2020-03-27 15:40] superbonaci commented on #589
After running `choco upgrade all` the icon is missing again. Download link:

[ChocolateyGui.exe | 991 KB](https://mega.nz/#!8B1HkYRK!iwgXXibn5uPjud5_5YB20oFwd57efGljq1MV5OBENdA)

MD5:
```CF0ACB3B80349D6E3C6F74B2EEE2F31C  .\ChocolateyGui.exe```

[2020-03-27 15:43] superbonaci commented on #589
I also ran this command:
```choco install .\qbittorrent.4.2.2.nupkg```

[2020-03-27 15:45] superbonaci opened #738 "Chocolatey GUI icon is a blank image"
Details: https://github.com/chocolatey/ChocolateyGUI/issues/589

[2020-03-27 16:01] gep13 commented on #589
@superbonaci I am not sure how the qbittorrent command is relevant here.

[2020-03-27 16:02] gep13 commented on #738
@superbonaci can you please provide a screenshot of what you are seeing?  As I am not seeing any problems with the latest release currently.

[2020-03-27 16:21] superbonaci commented on #738
Yes

![ChocolateyGUI.exe has no icon](https://i.imgur.com/WK7f5mX.png)

[2020-03-27 16:25] superbonaci commented on #589
@gep13 in case the install modifies something in the system.

[2020-03-27 16:26] superbonaci commented on #738
However ChocolateyGUI.exe Properties do display the icon:

![ChocolateyGUI.exe Properties](https://i.imgur.com/GSniMsp.png)

[2020-03-27 16:48] superbonaci commented on #738
Ok solved it looking for similar issues on Google.

Had to boot into linux livecd and delete all `thumbcache_*.db` inside Explorer folder. Tried do to it from Windows with Explorer.exe closed but for some files said Access denied even as admin:
```DEL /F /S /Q /A %LocalAppData%\Microsoft\Windows\Explorer\thumbcache_*.db```

After booting again into Windows displayed an error then rebooted again an

[2020-03-27 20:38] gep13 commented on #589
in case the install modifies something in the system.

No, this is unlikely to have caused any issues.

[2020-03-27 20:38] gep13 commented on #738
@superbonaci ok, glad to hear that you got this working.  I am going to go ahead and close this issue.

[2020-03-27 20:38] #738 closed

[2020-03-28 19:22] durhambell commented on #735
Okay, the plot thickens. Upon attempting to uninstall the apps in question, many of them return the following error:
`WARNING: brutaldoom-scythe2 has already been uninstalled by other means.`

...the the uninstall (obviously) doesn't complete. I'll keep trying to troubleshoot this since it obviously isn't getting any views. Understandable, since I've never even heard of this happening, so it must

[2020-03-29 06:18] gep13 commented on #735
@durhambell providing the log files would definitely help to try to troubleshoot what is going on here.

To be clear, clicking the `next` button doesn't perform any operation other than moving to the next page of the source that is currently being viewed.

Due to the dependencies in place for the `LinkShellExtension` package, a number of other packages will get installed, but not any of the packag

[2020-03-29 12:04] batzen opened #739 "Improve how application icons are rendered within Chocolatey GUI"
Hi there,

i just noticed that "ico" files aren't displayed anymore.

This can be fixed by telling `MagickImage`, via `MagickReadSettings`, that it's an "Ico".
When doing so the image quality is very bad.
In case of "ico" the current image loading loads the first frame present in the "ico" which means it's almost always 16x16.

I made some changes to improve the image quality on my machine.

Befor

[2020-03-29 17:09] iammael commented on #706
Hi!

I'm really sorry, I didn't have time to log on Github for a while.

Is this still something you're interested in ?

[2020-03-29 19:06] opusforlife2 commented on #706
I definitely am.

@gep13 Could you confirm that this isn't already done/being done so that the effort doesn't get duplicated?

[2020-03-29 20:05] gep13 commented on #706
@opusforlife2 no work has/is currently been done on implementing this issue.

[2020-03-29 20:06] gep13 commented on #739
@batzen I would definitely be interested in a PR to fix these issues, yes.

[2020-03-29 20:06] gep13 commented on #739
@punker76 can you offer anything with regard to how SVG's are being handled?

[2020-03-30 10:12] f-tischler commented on #737
I have installed Chocolatey GUI via chocolatey. The directory "C:/Program Files (x86)/Chocolatey GUI" exists, just "config/chocolatey.config" is missing.

[2020-03-30 19:28] gep13 opened #741 "Ensure that all features/config can be set via Package Parameters"
In the 0.17.0 release of Chocolatey GUI, we added the ability to set/configure Chocolatey GUI Features via Package Parameters.  These are documented in the nuspec, however, there are some features missing that need to get added in:

* ShowAdditionalPackageInformation
* AllowNonAdminAccessToSettings
* UseKeyboardBindings
* HidePackageDownloadCount

Also, if [this](https://github.com/chocolatey/Choc

[2020-03-30 21:12] #706 closed

[2020-03-30 21:14] gep13 opened #742 "Explain why there are no packages in remote views"
As a follow up to this [issue](https://github.com/chocolatey/ChocolateyGUI/issues/706) it would be good to provide some text when

- [x] first going to a remote source, to explain why there are no packages displayed
- [x] when searching a remote source and no packages are found
- [x] when searching a local source and no packages are found

[2020-03-30 21:28] opusforlife2 commented on #706
Wow! That was fast! Thanks!

[2020-03-30 21:32] opusforlife2 commented on #706
@gep13 What's the reason behind the slow release cadence? Is there a reason why there aren't smaller releases with more frequent bug fixes and feature additions?

[2020-04-01 05:39] batzen commented on #739
Ok. Will create a PR during the weekend.

[2020-04-01 12:50] gep13 commented on #706
There are lots of reason why the 0.17.0 release took so long, but going forward, we are not planning on making the next release wait so long.  Having said that, I don't know when the next release will be.

If you want to take the pre-release of Chocolatey GUI for a spin, you can definitely do that.  The instructions are on the readme of this repository.

[2020-04-01 12:52] gep13 commented on #737
@f-tischler can you confirm what version of Chocolatey GUI you are using?

There doesn't need to be a `config/chocolatey.config` file at that location, and this is why I am confused.  Chocolatey GUI should be using the system level config file located at `C:/programdata/chocolatey/config/chocolatey.config`.

[2020-04-01 17:33] f-tischler commented on #737
Alright, I think I have found the problem, your comment pointed me in the right direction. I figured that the GUI depends on some environment variable to detect where Chocolatey is installed and that it may fall back to its own installation directory if ít can not retrieve that info.

Seems like I have a corrupted Chocolatey install as $env:ChocolateyInstall is missing. I did a quick test by defin

[2020-04-02 15:08] gep13 commented on #737
@f-tischler on that, I am not sure.

Just to give you a heads up, if you are on a business trial, the best course of action would be to reach out directly to the support team, rather than creating an issue here.  Over there you have a better chance of getting a timely response, compared to over here in the OSS issues.

For now, I am going to go ahead and close this out, as I think we have this fig

[2020-04-02 15:08] #737 closed

[2020-04-02 15:58] gep13 opened #744 "Invalid code block in description in nuspec"
This isn't rendering correctly:

![image](https://user-images.githubusercontent.com/1271146/78270767-2c7d9200-7503-11ea-861d-252952590191.png)

[2020-04-02 16:52] punker76 opened #745 "Suggestion for local source view context menu"
I have this suggestion for the context menu at the local source view, because of miss clicking the uninstall menu... 🙅‍♂

Currently we have

![2020-04-02_18h36_55](https://user-images.githubusercontent.com/658431/78276106-dd3f5d80-7512-11ea-8ea5-aec4debeb49e.png)

My suggestion is to re-sort this to this

![2020-04-02_18h36_551](https://user-images.githubusercontent.com/658431/78276137-e8928900-75

[2020-04-02 16:54] mwallner commented on #745
Lgtm!

[2020-04-03 06:55] gep13 commented on #745
@punker76 this seems like a good improvement to me!

[2020-04-03 19:34] #744 closed

[2020-04-04 08:59] gep13 commented on #742
Part of this has been completed, and merged into the develop branch.  Now, when initially opening a remote source and the Prevent Preload feature is enabled, a user will see the following:

![image](https://user-images.githubusercontent.com/1271146/78422962-f8b58000-765a-11ea-8212-85d7da620a0b.png)

[2020-04-05 08:34] gep13 commented on #742
@punker76 has now added a message when there are no packages found when searching:

https://user-images.githubusercontent.com/658431/78460887-10c1e980-76c5-11ea-8fd7-9d6a9a1ea5ec.gif

[2020-04-05 08:38] gep13 commented on #742
@punker76 I have re-opened this issue, as I believe we will need to add the same empty item data template to the local source, when searching for packages there.  I would like to take a stab at this, as I "think" I should be able to use what you have implemented in the remote source as a guide for what to do in the remote source.

[2020-04-05 08:49] gep13 commented on #595
@vertigo220 I am sorry to hear that you have had a back experience with Chocolatey GUI.  This:

Another major annoyance with the slowness of the GUI is that it takes a few minutes once launching chocolatey to even be able to view the installed programs.

Is certainly not my experience.  And it certainly shouldn't be taking this long.  Are you in a position to provide more information about your ma

[2020-04-05 09:15] mkevenaar opened #747 "Chocolatey package license file extension"
The Chocolatey package currently has no extension on the LICENSE file. Without an extension the file is not viewable on the website.

![image](https://user-images.githubusercontent.com/834643/78471103-e1e05d80-772e-11ea-9fb8-a4ec5649e128.png)

[2020-04-05 09:45] mkevenaar opened #749 "UseDelayedSearch package parameter not working"
Currently the `/UseDelayedSearch` package parameter adds the value of `/DefaultToTileViewForRemoteSource` to the parameter.

[2020-04-05 09:46] mkevenaar commented on #749
See
https://github.com/chocolatey/ChocolateyGUI/blob/develop/nuspec/chocolatey/chocolateyInstall.ps1#L59-L61

[2020-04-05 10:34] opusforlife2 commented on #720
Is this part complicated to fix? It's a giant terminal that blocks you from doing anything, but just has a useless "loading results" kind of message. The user should be free to interact with the UI while it loads the next page.

[2020-04-05 10:36] opusforlife2 commented on #719
Fixed by #706.

[2020-04-05 10:36] #719 closed

[2020-04-05 10:39] opusforlife2 commented on #595
With the latest release, I have no more issue regarding slowness of fetching results or checking for updates. All that's left for me is the GUI blocking windows that I have talked about in #720.

[2020-04-05 11:47] gep13 commented on #595
With the latest release, I have no more issue regarding slowness of fetching results or checking for updates. All that's left for me is the GUI blocking windows that I have talked about in #720.

Glad to hear.  That issue is on my list to get completed, so hopefully that will be soon.

[2020-04-05 11:50] gep13 commented on #720
The user should be free to interact with the UI while it loads the next page.

Just so we are on the same page... What other interaction would you want to be taking while the results are being loaded?

[2020-04-05 11:54] #741 closed

[2020-04-05 11:56] gep13 commented on #739
@batzen just wanted to touch base to see if this is still something that you are interested in tackling.  Thanks

[2020-04-05 12:15] mkevenaar commented on #749
Fixed here https://github.com/chocolatey/ChocolateyGUI/commit/e7c67febecc99f9b658f4ad37820168c37002395

[2020-04-05 12:15] #749 closed

[2020-04-05 12:47] batzen commented on #739
Sure. Will create the PR later today. Wasted some time trying to figure out the svg issue, but couldn't find a solution.

[2020-04-05 18:45] opusforlife2 commented on #720
- Scrolling the page.
- Opening Settings or About.
- Changing the item view from list/grid to the other.
- Going back to the installed list of apps.
- Opening a different remote view (though I have only chocolatey right now).
- Searching for a different term (which should automatically cancel the current loading process).
- Loading the previous/next page without waiting for the current load to fin

[2020-04-05 19:26] BananaAcid commented on #595
with 0.17.0 it still gets stuck a long time on the 'chocolatey' tab with 'Fetching packages...
'  ... no chance to use the search ...

still SUPER frustrating. Why do I need a list of "Popularity" ordered Items? Would be nice to configure  it to NONE if that would help to boot it up.

[2020-04-05 20:36] #747 closed

[2020-04-06 12:56] gep13 commented on #595
@BananaAcid see the comment above...

I believe this is what you are looking for.

[2020-04-07 20:52] gep13 commented on #742
I am happy to say that @punker76 was able to complete the remaining work, which added a similar empty item template to the local source view, which you can see here:

![choco_search_result_local2](https://user-images.githubusercontent.com/658431/78645241-81c8f300-78b7-11ea-9dc6-735b77df1bdb.gif)

Which means that this can now be closed out.

[2020-04-07 20:52] #742 closed

[2020-04-07 22:18] mkevenaar opened #754 "helper.ps1 not added to chocolatey package"

[2020-04-08 08:23] #745 closed

[2020-04-08 08:34] #754 closed

[2020-04-08 12:40] vertigo220 commented on #595
@gep13

I just launched it on my computer, and it was pretty quick. My computer is well-spec'd, with an i7-7820, 64GB of RAM, and a 1TB 960 EVO. The computer it's slow on, one that I was setting up for my parents, is much slower, with an AMD 5350, 8GB of RAM, and a slower SSD. As for anti-malware, it does have a few different things running, but the only one that's "active" is Win Defender. The co

[2020-04-08 18:58] #739 closed

[2020-04-08 19:01] gep13 opened #756 "Improve how icons with an svg extension are rendered within Chocolatey GUI"
This is related to this issue: https://github.com/chocolatey/ChocolateyGUI/issues/739

Currently, within Chocolatey GUI, svg icons are not rendering correctly.  Take for example the Firefox icon:

![image](https://user-images.githubusercontent.com/1271146/78822848-a9ad7900-79d3-11ea-9781-2b767cc4da93.png)

[2020-04-08 19:17] gep13 commented on #688
@bcurran3 the first part of this request has been completed by the work that @daveMueller has done, and it will ship as part of the 0.18.0 release of Chocolatey GUI.  The latter part, with regard to inline searching via the author has not been implemented.  If you wanted to raise this as a separate issue, we can perhaps look at doing that later.

[2020-04-08 19:21] #688 closed

[2020-04-08 19:35] #730 closed

[2020-04-08 19:36] gep13 commented on #659
@Kobus-Smit would you be in a position to test again to see if you are still seeing this issue?  Thanks

[2020-04-08 19:45] gep13 opened #757 "Provide ability to control which Chocolatey operations are allowed"
At the minute, all Chocolatey operations (install, upgrade, pin, uninstall, etc) within Chocolatey GUI are always allowed to be executed.  However, it would be good to control which of these operations can be executed.

By default, this feature should have all operations accessible, but over time, different conditions may be added that allow turning off certain operations.

[2020-04-09 00:37] Kobus-Smit commented on #659
I got a new PC, I'm on the latest v0.17 GUI and do not have this problem anymore.

[2020-04-09 00:37] #659 closed

[2020-04-10 19:18] #757 closed

[2020-04-11 11:00] #756 closed

[2020-04-11 11:02] gep13 opened #761 "Update Credits with libraries being used"
This file:

https://github.com/chocolatey/ChocolateyGUI/blob/develop/docs/input/credits.md

Needs to be updated based on the changes that were made in this PR:

https://github.com/chocolatey/ChocolateyGUI/pull/759

As ImageMagick has been removed in favour of SkiaSharp.

This would be a good opportunity to ensure that this list of credits is up to date with the current code base.

[2020-04-11 21:59] punker76 opened #764 "Replace Log4Net with something else (NLog, Serilog)"
We should maybe replace Log4Net with another logging library, because of this

[2020-04-11 22:15] AdmiringWorm commented on #764
@punker76 ChocolateyGUI don't use `Log4Net`, but rather `Serilog`.
The dependency on `Log4Net` comes from chocolatey itself, which uses that logging framework.

[2020-04-12 06:38] #761 closed

[2020-04-12 06:46] gep13 commented on #764
Yes, this is as @AdmiringWorm said.  Chocolatey, and as a result, the Chocolatey.Lib (which we take a dependency on) uses log4net, and as a result, the dependency is brought in.  I don't think this is going to change in the near future.

[2020-04-12 06:46] gep13 commented on #764
@punker76 I am going to go ahead and close this out.  Feel free to open again if you want to discuss further.

[2020-04-12 06:46] #764 closed

[2020-04-14 20:31] vertigo220 opened #765 "Chocolatey won't start"
Was working fine last time I used it a couple weeks or so ago, but now it won't launch. I tried, twice, both times got the following error:

[code]
Log attached.
[ChocolateyGui.20200414.log](https://github.com/chocolatey/ChocolateyGUI/files/4477602/ChocolateyGui.20200414.log)

[2020-04-14 20:40] vertigo220 commented on #765
Just ran `choco list -l` and it looks like every single installed program has the message "A corrupt .registry file exists at... .registry.bad..."

[2020-04-15 23:40] two9seven opened #766 "running Start-ChocolateyProcessAsAdmin works differently in ChocolateyGUI"
I have created a chocolatey package that includes a portion to run a .bat file.
I am using Start-ChocolateyProcessAsAdmin to run the .bat file
It works fine when I run choco install from the cli but it does not work correctly when the package is installed with chocolateyGUI. Any ideas why I would get different results?

I'm running a bunch of command like this:

REM On 64-bit systems, eXtreme regi

[2020-04-16 02:54] two9seven commented on #766
Here are two lines showing the same command in chocolatey cli and ChocolateyGUI. They are running from two different locations.

the batch files are using variables. Are variables an issue?

`2020-03-20 12:43:00.203 -07:00 [Information] C:\Program Files (x86)\Chocolatey GUI>SET GUID={4BB92938-EBC4-45F1-A3AE-E1EB80574DA9}
2020-04-15 16:46:12,632 8996 [INFO ] - VERBOSE: C:\Windows\system32>SET GUID=

[2020-04-20 18:18] gep13 commented on #766
@two9seven are you able to provide a small package, that has a minimal reproduction of the issue that you are seeing?  I think that this will help to try to figure out what is going on.

[2020-04-21 20:34] two9seven commented on #766
Here is something. Not sure if it helps. I've assumed the issue is realated to environment varables like %ERRORLEVEL%. I've attached the .nuspec package here. I've renamed the extension to zip.
[batchtest.0.0.1.zip](https://github.com/chocolatey/ChocolateyGUI/files/4512473/batchtest.0.0.1.zip)

[2020-04-21 21:21] two9seven commented on #766
I reuploaded the package here. I made a typo.

[2020-04-21 22:03] two9seven commented on #766
So after all that I found something else. The orginal batch script runs this command:

`REG QUERY HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall\{74A435D8-FE24-498A-9809-76541D74182A}`

I get to different results when running the command from C:\Windows\system32 and C:\Program Files (x86)\Chocolatey GUI.

This is the real issue. Why is this happening?

[2020-04-21 22:29] two9seven commented on #766
I'm anwering all my own questions! Looks like

`REG QUERY HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall\{74A435D8-FE24-498A-9809-76541D74182A} `

cannot be run from an elevated console

[2020-04-21 22:38] two9seven commented on #766
it works when when I escape the {} symbols while in an elevated shell.

[2020-04-21 23:31] two9seven commented on #766
Here's an updated package. You will need to edit the uninstall path to test on your system.
[batchtest.0.0.1.zip](https://github.com/chocolatey/ChocolateyGUI/files/4513038/batchtest.0.0.1.zip)

[2020-04-22 00:03] vertigo220 commented on #765
I like the idea of chocolatey, and I don't mind dealing with some issues in order to both benefit from it and help in its development, but I can't afford to simply not be able to get anything done because it completely breaks and nobody responds. I'd like to continue using it and helping out, but should I just uninstall it and be done with it?

[2020-04-22 09:25] gep13 commented on #765
In order to best help, it would really help if you provide some additional information.  For example, what version of Chocolatey are you using?  What version of Chocolatey GUI?  What operating system?  When did this happen?  What commands were you trying to use at the time this occurred?

I know that there was an issue regarding the `.registry.bad` files, but I believe that this was addressed, so

[2020-04-22 11:38] vertigo220 commented on #765
Chocolatey version 0.10.15. GUI is latest version, though I can't provide a version number since it won't open. Win10x64. Not trying any commands, as I stated, I simply tried launching it. After multiple unsuccessful attempts to launch the GUI, I tried the commands mentioned above.

I did not try applying the fix recommended for a couple reasons. One, I didn't want to mess with anything until seek

[2020-04-22 12:03] gep13 commented on #765
@vertigo220 what you decide to do is ultimately up to you of course.

I have only known this to happen on one other machine, and the fix suggested in the error message was the approach that was used to resolve it.

[2020-04-22 12:29] vertigo220 commented on #765
Ok, so it's an uncommon issue, and of course I was unlucky enough to experience it, but the fact remains it is an issue, and a rather serious one, and it should be investigated to figure out and fix the cause, not just patched up and hope it doesn't happen again. And I'm willing to help figure it out, but I'm not willing to spend potentially hours "fixing" it only to possibly have it recur, not to

[2020-04-22 21:10] gep13 commented on #545
Work has started on implementing this feature.  I will update this issue as I have more information.

![image](https://user-images.githubusercontent.com/1271146/80034201-f752d700-84e5-11ea-9044-45b5a47ab863.png)

[2020-04-23 12:25] gep13 commented on #545
@AdmiringWorm @mkevenaar @mwallner @punker76 not sure if you will get a notification for the edit that I made to the first post in this issue, so thought I would follow up here.

I have updated the original post to include what was discussed on the twitch stream.  Let me know if I have missed anything.

[2020-04-23 20:20] gep13 commented on #545
Adding in all the properties that I believe are required into the dialog results in the following:

![image](https://user-images.githubusercontent.com/1271146/80145348-f3878900-85a7-11ea-9c1f-f277daf530f3.png)

Obviously, there are changes that can be made to optimize this layout, but just wanted to put this out, to get some feedback on how it should look.

@AdmiringWorm @mkevenaar @mwallner @punk

[2020-04-23 21:10] mwallner commented on #545
:scream:

I think it's nice to have all options there, yet I'd prefer to have them grouped and maybe "collapsed" by default...
I've got no clue how this could be done in WPF, but I think something like this "accordion" would be a good option: https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example :sweat_smile:

Groups titles/types could be:
* **checksum** - Ignore Checksum / Allo

[2020-04-24 07:14] gep13 commented on #545
What options, if any, should be shown by default?

[2020-04-24 07:20] mkevenaar commented on #545
I think `--version` and `--params` are the ones I use mostly. `-ia` is one that could be added by default as well. Rest could be collapsed like @mwallner suggested.

[2020-04-24 07:31] AdmiringWorm commented on #545
I agree with @mkevenaar on this, the Version, Package Parameters and Install Arguments are the ones that should be shown by default.

The rest could be either grouped in a single `Expander` or several expanders.

Some of the arguments should probably only be available in some instances, like Allow multiple versions only being useful if a package is installed.

PreRelease and allow downgrade should

[2020-04-24 09:40] gep13 commented on #545
Btw, what are the Apply Install Arguments to and Apply Package Parameters for?
Can't say I have seen any arguments on choco.exe that those options would map to.

![image](https://user-images.githubusercontent.com/1271146/80198387-e904d800-8617-11ea-8936-e227c030fec8.png)

This is these options.  I used the full name for them.

[2020-04-24 09:41] gep13 commented on #545
Regarding the UI, maybe changing the checkboxes to a ToggleSwitch would look a little better?

I had the same thought, as it would be more consistent with what is in the current Settings screen.  I will have a stab at this, and post an image at some point.

[2020-04-24 09:41] gep13 commented on #545
I think --version and --params are the ones I use mostly. -ia is one that could be added by default as well. Rest could be collapsed like @mwallner suggested.

Okay, cool.  I will have a play, and let you know how I get on.

[2020-04-24 16:44] two9seven commented on #766
@gep13 Any ideas here?

[2020-04-25 07:44] gep13 commented on #545
After some (and by that I mean, a lot) of help from @punker76, here is a first draft of all the options...

![for_issue](https://user-images.githubusercontent.com/1271146/80274214-b965d680-86d0-11ea-90e0-35da24e51eed.gif)

@AdmiringWorm @mwallner @mkevenaar @ferventcoder what are your thoughts?  Anything that should get moved around, changed?

I am thinking that we can make the ChecksumTypes into

[2020-04-25 10:17] mwallner commented on #545
love it!
imo a slight improvement MAY be to vertically expand if necessary, so that no scrollbar will be shown when expanding the options.
also, bonus points if always only one options drop-down can be expanded at the same time.

this is looking GREAT!

[2020-04-25 10:34] mkevenaar commented on #545
I only got :shipit:

Perhaps "Advanced options" could be different as we are currently in "Install advanced" mode... It seems a bit to much "advanced".

[2020-04-25 10:58] AdmiringWorm commented on #545
"Additional Options" would perhaps be better?
But that could probably cover too much.

In all, everything looks great to me. Although I feel there perhaps is a little too much space after the toggle switches, but that may just be me.

[2020-04-25 11:12] paul-michalik commented on #545
Looks good! Please make sure that the settings persist! Also in that case, we will need some sort of "reset" option and an indication whether advanced settings were used for a package.

[2020-04-25 12:39] gep13 commented on #545
also, bonus points if always only one options drop-down can be expanded at the same time.

That would be a question for @punker76 😄

[2020-04-25 12:40] gep13 commented on #545
Perhaps "Advanced options" could be different as we are currently in "Install advanced" mode... It seems a bit to much "advanced"

I had the same thought.  All strings need to be moved into the Resources.resx file, and at that point, I was going to review all of them.

[2020-04-25 12:41] gep13 commented on #545
Please make sure that the settings persist!

Can you elaborate on what you mean here?  I hadn't envisioned persisting any settings.

[2020-04-25 13:09] steviecoaster commented on #545
I'm wondering if this is in reference to enabling useRememberedArguments?

Such that the next time I go to upgrade a package I installed with additional parameters, when I upgrade via the GUI I would like to see the remembered arguments?

Or I'm missing something in the meaning here.

[2020-04-25 14:16] gep13 commented on #545
@AdmiringWorm what are your thoughts on the following...

![image](https://user-images.githubusercontent.com/1271146/80282138-a91d1e00-8707-11ea-8201-7f092a1cd848.png)

Put two toggle buttons per line.

[2020-04-25 14:16] gep13 commented on #545
@steviecoaster I was wondering the same, as this was the only thing that occurred to me as well.

[2020-04-25 14:29] gep13 commented on #545
@punker76 you had the idea of loading the available package versions within the Advanced Dialog, using a small loading icon to show that things were working.  Is this something that you might be able to provide via a PR into here?  Currently this work in done outside of the Dialog, and the available package versions are passed into the Dialog.

[2020-04-25 15:12] AdmiringWorm commented on #545
Yeah, IMO that looks much better. Still not a fan of the whitespace between the label and the switches (and text boxes) though, mostly because it looks like wasted space. But that isn't really a problem.

[2020-04-25 15:19] punker76 commented on #545
@gep13 Yes will do this

[2020-04-26 15:35] ferventcoder commented on #545
Just remember loading all available versions causes strain.

[2020-04-26 16:41] paul-michalik commented on #545
Exactly. Without such functionality the entire feature isn't going to be very useful - just think about the next upgrade of a package installed with package parameters, for example. This is the issue I keep bumping into for packages with badly chosen defaults such as git.install or cmake.install.

[2020-04-26 19:34] gep13 commented on #545
Exactly. Without such functionality the entire feature isn't going to be very useful - just think about the next upgrade of a package installed with package parameters, for example. This is the issue I keep bumping into for packages with badly chosen defaults such as git.install or cmake.install.

While I like the idea of hydrating the installation options during an upgrade in the UI, I would see

[2020-04-26 19:37] gep13 opened #767 "Hydrate remembered arguments into advanced upgrade UI"
As a follow up to [this issue](https://github.com/chocolatey/ChocolateyGUI/issues/545), when performing an upgrade to a package, it would be good to hydrate the persisted arguments, and populate them automatically into the UI.

[2020-04-26 19:46] punker76 commented on #545
Here is an update to the UI which was suggested by people here.

- "accordion" like Expander
- Right aligned Labels

So what are you think?

![chocogui_advanced_install2](https://user-images.githubusercontent.com/658431/80317989-51fe7280-8807-11ea-8a54-ab92683d2458.gif)

[2020-04-26 20:06] AdmiringWorm commented on #545
@punker76 that honestly looks awesome.

[2020-04-27 14:14] punker76 commented on #545
Next update... loading Packages inside dialog with the possibility to cancel this.

...waiting

![chocogui_advanced_install3](https://user-images.githubusercontent.com/658431/80381940-f59c6100-88a1-11ea-9a3f-d12f2988a921.gif)

...cancel it

![chocogui_advanced_install4](https://user-images.githubusercontent.com/658431/80382055-1a90d400-88a2-11ea-8b57-be9a0f129424.gif)

[2020-04-27 14:46] gep13 commented on #545
@punker76 this is really starting to look very good!

[2020-04-27 17:43] two9seven commented on #766
I think this issue has to do with accessing registry entries. not sure it is related to star-chocolateyProcessAsAdmin.

[2020-04-27 17:43] #766 closed

[2020-04-27 18:02] two9seven opened #768 "Chocolatey GUI cannot get registry entries for uninstalling software"
The following command works for choco cli but fails in chocolatey gui.

`Get-UninstallRegistryKey -SoftwareName "Bluebeam*" `

[2020-04-27 20:52] mkevenaar opened #769 "Add option to disable check for outdated packages"
It would be nice to be able to disable the check for outdated packages on local and remote views.

Changes required:

- [x] Setting, default disabled. We should check by default
- [x] CLI parameter
- [x] Package parameter
- [x] update button on local and remote view, this should force a check for outdated packages

[2020-04-27 21:09] gep13 opened #770 "Provide ability to "see" persisted arguments for installed package"
This is similar to this issue: https://github.com/chocolatey/ChocolateyGUI/issues/767 but would allow only viewing of the arguments that were used, and not in the context of doing an upgrade.

[2020-04-27 21:10] gep13 commented on #770
Perhaps related to this issue: https://github.com/chocolatey/choco/issues/1310

[2020-04-29 08:13] gep13 commented on #769
@mkevenaar I have been thinking about this, and I think a good name for the feature would be `PreventAutomatedOutdatedPackagesCheck`.  What do you think?

[2020-04-30 23:46] xmha97 opened #772 "The ChocolateyGUI crashes when I click on a link"
The ChocolateyGUI crashes when I click on a link:
![ChocolateyGUI](https://user-images.githubusercontent.com/23485114/80769434-68d3fa80-8b62-11ea-975d-f62617d30e21.gif)

[2020-05-01 07:49] GeertvanHorrik commented on #87
I am trying to use chocolatey everywhere in my environments now. I hope it will allow me to set up new machines (or basically reset my existing machines) real quick. One idea I had is to export the currently installed packages as a boxstarter script, which this ticket is about.

What if the export button would also allow to generate a boxstarter script? The exporters could be a plugin where you wo

[2020-05-08 15:20] Jammod commented on #772
I have been watching Gary's Monday stream for a few weeks now and I am a first time contributor which would like to get involved and help with this one. I've forked and cloned the project and done a bit of digging to see what causes the application to crash when a link is clicked.

The reason the application crashes is because some description's do not contain an absolute link but a relative link

[2020-05-14 21:12] Atue001 opened #773 "ChocolateyGUI crashes on start"
![Crash](https://user-images.githubusercontent.com/65370002/81986419-0ede3500-9638-11ea-8c06-27f1c6cd10e9.JPG)

Unhandled Exception on start of ChocolateyGUI. See attached file with Unhandled Exception Message from Windows.

[2020-05-18 19:21] #769 closed

[2020-05-18 19:22] AdmiringWorm opened #774 "Show a small notification banner/toast when not checked for outdated packages"
With the incoming ability to prevent automatic checks for outdated packages, there would be nice to have a small message that mentions this to the user when they haven't manually checked for updates yet.

This notification could potentially be implemented with a small banner somewhere in the application, or with just a small message at the bottom.

[2020-05-20 15:26] aminya commented on #728
Isn't this just the gallery? I think the gallery name should be replaced to be more visible.

[2020-05-20 21:30] punker76 opened #775 "Could not search on remote source after changed from GH-771"
This happens because of the wrong parameters now on LoadPackages. Better changing this to SearchForPackages and CanSearchForPackages to prevent such a mistake in the future.

![image](https://user-images.githubusercontent.com/658431/82499242-a4267100-9af1-11ea-9aae-c1e5a9e166bf.png)

[2020-05-21 19:58] #775 closed

[2020-05-24 19:00] gep13 commented on #728
Isn't this just the gallery? I think the gallery name should be replaced to be more visible.

I am not sure that I follow what you are saying here.  Can you elaborate?

[2020-05-24 19:31] aminya commented on #728
This gallery button. We just need to rename this button to something clearer like: `choco page`
![image](https://user-images.githubusercontent.com/16418197/82763157-3a48e880-9dcb-11ea-8238-e1181e0fb2e9.png)

[2020-05-28 04:15] aminya opened #777 "Improve performance"
I really love chocolateyGUI, however, when compared to the Chocolatey website itself or other stores like Microsoft Store, it is considered much slower. For example, even fetching the package names on each page takes a long time.

What are the plans for improving the performance?

I understand that checking for the outdated packages might take a long time, but I don't understand why this checking

[2020-06-04 10:26] pascalberger opened #778 "Localization missing in 0.17.0"
Localizations seem to be missing with 0.17.0 installer.

While installing 0.16.0 localizations are correctly included (e.g. `\de\ChocolateyGui.resources.dll`). Installing 0.17.0 only comes with `Microsoft.VisualStudio.Threading.resources.dll` and `Microsoft.VisualStudio.Validation.resources.dll`, but misses `ChocolateyGui.resources.dll`. This seems to affect all languages.

[2020-06-05 22:21] joshieecs commented on #728
You can click "Report Abuse" and it will take you to the Chocolatey Gallery. Then just click the name of the package from the report page, instead of reporting anything.

But the "Report Abuse" link is gone in 0.18.

[2020-06-05 22:25] joshieecs commented on #728
The Gallery link doesn't show on the Details page for packages you have installed. (Neither does Report Abuse.)

[2020-06-10 13:22] gep13 opened #779 "Chocolatey GUI runs as a 32 bit process when running on a 64 bit machine"
As a result, when installing packages like Blender (which only has a 64 bit installer), the installation of the package fails since it believes it is attempting to be installed on a 32bit OS.

This is verified here:

![image](https://user-images.githubusercontent.com/1271146/84272709-afcfeb00-ab25-11ea-98e8-205284564c73.png)

Where Chocolatey GUI is showing as a 32bit process, where as Chocolatey

[2020-06-10 14:28] #779 closed, assigned to gep13

[2020-06-11 12:15] gep13 commented on #778
@AdmiringWorm no, it wasn't anything to do with Wix.  The builds from AppVeyor will always contain the localized files, but the version pushed version of Chocolatey GUI doesn't come from AppVeyor, it comes from another machine, that hadn't exported from Transifex, and therefore hadn't been included in the released artifacts.  I am taking care of that today, and will be pushing a new version.

[2020-06-11 12:18] AdmiringWorm commented on #778
Ah, I see. That makes sense of why they weren't included.

[2020-06-11 12:57] gep13 commented on #779
:tada: This issue has been resolved in version 0.17.1 :tada:

The release is available on:

- [GitHub Release](https://github.com/chocolatey/chocolateygui/releases/tag/0.17.1)
- [Chocolatey Package](https://chocolatey.org/packages/chocolateygui/0.17.1)

Your **[GitReleaseManager](https://github.com/GitTools/GitReleaseManager)** bot :package::rocket:

[2020-06-11 12:57] gep13 commented on #778
:tada: This issue has been resolved in version 0.17.1 :tada:

The release is available on:

- [GitHub Release](https://github.com/chocolatey/chocolateygui/releases/tag/0.17.1)
- [Chocolatey Package](https://chocolatey.org/packages/chocolateygui/0.17.1)

Your **[GitReleaseManager](https://github.com/GitTools/GitReleaseManager)** bot :package::rocket:

[2020-06-14 05:52] joshieecs commented on #545
Just from a user's perspective, it would be convenient if the Package Parameters section in the description wasn't obscured. The modal dialog looks great, but it's going to be frustrating trying to set your scrollbar set just right to see the parameters. It also prevents easily copy-and-pasting if you need several.

[2020-06-15 19:09] steviecoaster opened #780 "Add feature toggle to all read only view for installed packages"
NOTE: While this feature toggle will exist within the OSS version of Chocolatey GUI, it will not be used, and this feature will only be acted on by the Chocolatey GUI Licensed Extension.

Related issue was created here: https://github.com/chocolatey/chocolatey-licensed-issues/issues/201

[2020-06-17 20:04] gep13 opened #782 "DefaultToTileViewForRemoteSource isn't used properly"
When initially setting up the remote source view, it should be looking at the `DefaultToTileViewForRemoteSource` configuration property, however, it is  looking at the `DefaultToTileViewForLocalSource` instead.  It is using the `DefaultToTileViewForRemoteSource` property when a change has been initiated from the Settings screen, but not on initial configuration.

[2020-06-17 20:22] #782 closed

[2020-06-25 19:52] gep13 commented on #435
Came here to create this issue, but searched and saw that there already was one.

I think we need to be able to do more here, for example, when using `chocolateyguicli` it would be good to be able to set `-d` similar to what is done in Chocolatey.

[2020-07-06 18:47] #765 closed

[2020-07-10 12:24] gep13 opened #785 "Add assembly resolver for Chocolatey GUI assemblies"
Once loaded into memory, the Chocolatey GUI extension, like the Chocolatey extension, needs to load some Chocolatey GUI assemblies in order to function.  Since it is possible that the Chocolatey GUI extension is compiled against a slightly different version of Chocolatey GUI, we want to be able to provide which ever version is available.  Dependencies will be controlled through the nuspec file, wh

[2020-07-13 14:43] #785 closed

[2020-07-13 15:29] gep13 commented on #785
:tada: This issue has been resolved in version 0.17.2 :tada:

The release is available on:

- [GitHub Release](https://github.com/chocolatey/chocolateygui/releases/tag/0.17.2)
- [Chocolatey Package](https://chocolatey.org/packages/chocolateygui/0.17.2)

Your **[GitReleaseManager](https://github.com/GitTools/GitReleaseManager)** bot :package::rocket:

[2020-07-30 14:01] ssnyder commented on #423
This would be great to have!!!  +1 for this request

[2020-08-08 15:24] opusforlife2 opened #786 "Ask to confirm Uninstall/Reinstall from Right-Click Menu"
When you open the right-click menu for any installed application, you should get a confirmation prompt if you click on Uninstall or Reinstall. If they are clicked accidentally when the user actually wanted to click on Pin or Details, the user might lose important data.

[2020-08-13 20:54] ryanrichter94 opened #787 "Chocolatey GUI Not Starting Install Process"
Application fails to install when running Chocolatey GUI. But succeeds when running Choco CLI.

[Internal Issue]()

[2020-08-15 13:52] user8446 opened #788 "[FEATURE REQUEST] Display "Last Update" on "This PC" packages"
It would be great to have a column with the date that packages we're last updated on the PC.
Thank you

[2020-08-23 17:22] hltdev8642 commented on #458
Thank you!! this works perfectly. I just edited the ChocolateyGUI.exe.config file and added that and it works now.

[2020-08-24 22:33] drfrpjr commented on #458
Hi,

Thanks for the update. Actually, Chocolatey GUI has been fixed for some time now. I am not sure what changed it, but it has been working for at least a year now.

Thanks,

--Fred
________________________________
Frederick R. Phelan Jr., Ph.D.
________________________________
NIST
100 Bureau Dr., STOP 8542
Gaithersburg, MD 20899-8542
301.975.6761
301.975.4924 (FAX)

frederick.phelan@nist.gov<m

[2020-08-27 12:32] gep13 opened #1086 "Chocolatey GUI - Unable to locate config file"
When starting Chocolatey GUI, it is possible to be met with the following error message:

![image](https://user-images.githubusercontent.com/1271146/91441990-133a0100-e869-11ea-8a45-a171a33c08e0.png)

Could not find a part of the path 'C:\Program Files (x86)\Chocolatey GUI\config\chocolatey.config'
More details available in application logs.

This problem is reproducible on any machine by:

* Clos

[2020-08-31 05:21] nutterthanos commented on #722
why is this not getting replies?

[2020-09-03 09:03] felix-kolbe commented on #780
Would it be enough to start Chocolatey GUI _without_ administrator rights?  -- Although I'm not sure how to do that currently. I think it was possible some time ago, but nowadays the GUI itself requests rights elevation.

[2020-09-03 09:06] felix-kolbe commented on #93
In addition: the search should consider the package's IDs. E.g. when search for 'adb' I did not find the (installed) package 'Android Debug Bridge', although its package id is 'adb'. Reading RichiCoder1's comment above, I tried with id:adb but that returned nothing.

[2020-09-10 20:22] aminya opened #789 "Improve performance of search page"
The search page now fetches all the name of trending packages and their icons every single time I want to search for a package. While this page changes hardly ever. From the time I remember, the list of these trending packages has not changed for months or years.

### Suggestions:

- It would be better to let the users search for a package rather than blocking them by loading the trending packages

[2020-09-11 09:07] gep13 commented on #789
@aminya can I please ask that you try the latest pre-release version of Chocolatey GUI 0.18.0.  The instructions are on the readme:

https://github.com/chocolatey/ChocolateyGUI#installation

This includes a couple of new options that I think will help in this regard, specifically:

https://github.com/chocolatey/ChocolateyGUI/issues/769
https://github.com/chocolatey/ChocolateyGUI/issues/706

[2020-09-11 16:13] aminya commented on #789
There is no 0.18.0
[code]

[2020-09-11 18:56] gep13 commented on #789
Ah, you will need to use the following:

[code]

[2020-09-11 19:01] aminya commented on #789
Why don't you just release this on chocolatey itself?

Same error?
[code]

[2020-09-11 19:21] gep13 commented on #789
The complete command, taken directly from the readme page, would be the following:

[code]

We don't push continuous integration builds of Chocolatey GUI onto the chocolatey.org feed.  They only go to the MyGet feed.

[2020-09-11 19:24] aminya commented on #789
Well, I tried this command. It gives the error in https://github.com/chocolatey/ChocolateyGUI/issues/789#issuecomment-691261960

[2020-09-11 19:31] gep13 commented on #789
Yes, 100%.

I have just run this command, and it results in the following:

![image](https://user-images.githubusercontent.com/1271146/92965491-cc095e00-f46d-11ea-835f-e735ee33bf94.png)

[2020-09-11 19:42] aminya commented on #789
Ah, the error was because of the "Refined GitHub" browser extension. It shortened the link to `myget.org/F/chocolateygui` which was not working 🤦‍♂️

[2020-09-11 19:52] aminya commented on #789
I tried 0.18.0. There is no noticeable difference. My suggestions are still applicable.

[2020-09-11 19:58] gep13 commented on #789
Just to confirm, you enabled both of the new settings that are available in the new version?

[2020-09-11 20:01] gep13 commented on #789
Once enabled, when navigating to the chocolatey source, you should see the following:

![image](https://user-images.githubusercontent.com/1271146/92967894-ef360c80-f471-11ea-8367-f4edf4f5ca68.png)

i.e. it openly immediately

[2020-09-11 20:06] aminya commented on #789
After doing that it finally works! Thanks!

I don't usually change my settings, and I think this should become the default behavior.

[2020-09-11 20:10] gep13 commented on #789
(or as I said just separate the search bar logic from the loading logic by running them on separate threads or making them async).

This is an open source project.  If you are interested in seeing this change made, we would welcome a contribution.

[2020-09-11 20:13] aminya commented on #789
For sure! That's why I opened this issue.

Unfortunately, I don't speak C# myself.

[2020-09-11 22:45] aminya opened #790 "Build stuck on InputDirectoryString: Source\packages\Splat*"
I am trying to build ChocolateyGUI by running .\build.ps1, but it stops on this part:
[code]

[2020-09-14 07:13] gep13 commented on #790
@aminya can you please confirm what command you are running to generate that output?

[2020-09-17 08:47] samhocevar opened #791 "Loading result page X actually performs X+2 queries, making each page slower and slower to load"
When showing page X of an online gallery and clicking “next”, instead of performing one HTTP query with *e.g.* `$skip=Z&$top=30` (with Z = 30×(X-1)), the GUI also does X more queries with `$skip=0`, `30`, `60`, etc. as well as apparently pre-loading the next 2 pages. It does nothing with the results of these additional queries.

For instance, showing page 2 will perform 4 queries on the website (`

[2020-09-17 12:58] samhocevar commented on #791
Another way to see the problem is that in order to browse the first 50 result pages, ChocolateyGUI makes 2500 server queries instead of the expected 50.

[2020-09-17 14:03] gep13 commented on #791
@samhocevar so that we can be sure that we are talking about the same thing, can you provide information on exactly how you have been capturing these requests?  I would like to be able to fully replicate the issue on my side.

[2020-09-17 14:42] samhocevar commented on #791
@gep13 I have set up an HTTP proxy and I monitor the requests. Here is what I see:

 - When launching Chocolatey GUI:

[code]

(This is Chocolatey GUI querying the server for each package I have installed; that step could be improved a lot by using [a query I provided here](https://github.com/chocolatey/choco/issues/2116#issuecomment-691111648))

 - When navigating from “This PC” to the “chocolate

[2020-09-18 09:51] aminya commented on #790
I just ran `./build.ps1`. The script seems to be waiting for the a token to sign the executable, while I don't have that.

[2020-09-18 10:20] gep13 commented on #790
@gep13 I have just built a clean machine, with nothing but Visual Studio, and .Net framework on it, cloned the Chocolatey GUI repository, and run the `.\build.ps1` file, and the build succeeded.  Keep in mind, we build Chocolatey GUI on AppVeyor each commit into the develop branch, so if there were a common error with the build script, I think it should have been found by now.

For example, here i

[2020-09-18 10:20] gep13 commented on #790
![image](https://user-images.githubusercontent.com/1271146/93586938-02c90200-f9a1-11ea-9b1d-2c9bd7d63574.png)

[2020-09-18 10:38] gep13 commented on #791
@samhocevar thank you for the information.  Can you confirm exactly which HTTP Proxy you are using?  I am trying to replicate the issue that you are seeing with Fiddler, but I am not able to reproduce.

To provide some context about how Chocolatey GUI works, it is essentially a wrapper around choco.exe, via the [Chocolatey.Lib NuGet Package](https://www.nuget.org/packages/chocolatey.lib/).  What I

[2020-09-18 11:19] samhocevar commented on #791
I am using Apache as a proxy, with the following simple configuration:

[code]

Then in Chocolatey I set up my source URL to `http://mydomain/api/v2/` instead of `https://www.chocolatey.org/api/v2/`.

I can confirm that `choco outdated` performs exactly the same number of requests as the GUI. Adding `--trace` let me confirm this explicitly.

[2020-09-18 11:55] gep13 commented on #791
@samhocevar thanks for confirming.

Given that `choco outdated` is performing the same number of requests, any optimisations that can be made here would need to be made in Chocolatey itself.  In the pre-release version of Chocolatey GUI, there is a new option:

![image](https://user-images.githubusercontent.com/1271146/93594608-1890f400-f9ae-11ea-8709-da26ae40a56f.png)

Which can be enabled to pre

[2020-09-19 15:11] ferventcoder commented on #791
I've created https://github.com/chocolatey/choco/issues/2120, which we are considering a high priority issue. The culprit for this appears to be NuGet.Core, which is ignoring the requests we are passing to it to limit the result sets. It's also possible we are asking for those results to be limited incorrectly.

[2020-09-25 13:16] abc516 commented on #423
Hi @ssnyder @CollinChaffin is this feature still open to take on? I'm up for it :)

[2020-09-25 21:32] ferventcoder commented on #697
https://github.com/chocolatey/choco/issues/2122

[2020-09-29 15:18] umarabdullahmansoori commented on #677
is anyone working on it? its a great idea

[2020-09-29 15:31] umarabdullahmansoori commented on #12
why every idea just remains an idea on chocolatey? why not its been implemented...its a 7 years old idea

[2020-09-29 15:39] umarabdullahmansoori commented on #12
There is an extension which works for multiple packages installation at same time, but it has also queuing problems, so why not just fix this small queuing issue

**Extension Link:**
https://chrome.google.com/webstore/detail/chocolatey-appstore/gkehnkphfligaeniienfamgdfocegffl?hl=en

**Extension Issues Link:**

[2020-09-29 15:43] umarabdullahmansoori commented on #694
There is an extension which works for multiple packages installation at same time, but it has also queuing problems, so why not just fix this small queuing issue

Extension Link:
https://chrome.google.com/webstore/detail/chocolatey-appstore/gkehnkphfligaeniienfamgdfocegffl?hl=en

Extension Issues Link:
https://github.com/BananaAcid/chocolatey-appstore/issues

[2020-10-05 09:22] Sam13 commented on #733
Same problem here, noticed that on different machines.
_choco outdated_ lists more packages which are out of date than visible as outdated in the GUI.
Using ChocolateyGUI v0.17.2 and Chocolatey v0.10.15

[2020-10-08 17:38] Sam13 commented on #733
Found out while debugging that choco console shows updates for side by side packages - choco GUI doesn't

[2020-10-08 17:54] gep13 commented on #733
@Sam13 it would help if you can provide a full set of steps to reproduce for the issue that you are seeing. Exactly what steps have you taken to get to where you are?

[2020-10-12 08:49] Sam13 commented on #733
@gep13 I just launched the debugger when the output of _choco outdated_ and list of upgradable packages in choco GUI differs.
A current example is the package _vscode_ which was installed with the command _choco install -y vscode_ some time ago.
![image](https://user-images.githubusercontent.com/2196081/95725412-ea829500-0c77-11eb-9986-4a7f036753d5.png)

In the class _PackageViewModel_ I created a

[2020-10-26 14:30] t3t3 opened #793 "The window position is not stored correctly in the user.xml"
from the <WINDOWPLACEMENT> >normalPosition> parameter in the "user.xml" file;

The stored x(left) / y(top) coords are (apparently) relative to the _full_ Screen area, but when the GUI opens it applies them relative to the Screen area _without the Taskbar_

So, if you have the Taskbar on the left or top of the screen, the GUI window opens not where it was but with an according offset.

[2020-10-26 18:24] juventus18 opened #794 "Results broken when searching for term "git""
When I search packages for the term "git" the GUI says there are 4 pages of results, but does not display the results in the pane.

I'm on a macbook pro bootcamped into windows 10

![image](https://user-images.githubusercontent.com/1124513/97212499-bb8f1780-177d-11eb-8be3-4b1856ef009e.png)

[2020-10-27 12:04] mwallner commented on #794
can you still reproduce the behavior? - might have been a temporary issue with the community repository.

[2020-10-27 23:37] juventus18 commented on #794
@mwallner checked again today, still same behavior.

[2020-10-30 03:28] juventus18 commented on #794
its working today - maybe two issues with the community repository  :)

[2020-10-30 03:28] #794 closed

[2020-11-14 10:21] tmbsis opened #795 "Globalisation - Spanish"
Can i help? mexican here

[2020-11-14 12:21] gep13 commented on #795
@tmbsis thanks for your offer to help out, it would be great to have you helping out.

We use a system called Transifex to help with the localisation of the application.  You can find the project here:

https://www.transifex.com/chocolatey/public/

You should be able to request to be added to the team, and from there, you can help out with getting the strings translated.

Let me know if you have a

[2020-11-15 03:48] stavoxnetworks commented on #787
I can work on this if you like

[2020-11-17 22:55] 00face opened #796 "MOre"
Currently only sorting options include "Popularity and A-Z", please add the following:
1. Recent
2. Last Update
3. Most Subscribed
![sorting options](https://user-images.githubusercontent.com/6982229/99460457-834ea500-28f5-11eb-97f4-54bfd4831df1.PNG)

[2020-11-27 10:23] gep13 opened #797 "Move documentation to docs.chocolatey.org"
Now that the re-design of the docs site for the main Chocolatey website is nearing completion, we should move all the docs that are currently here:

https://chocolatey.github.io/ChocolateyGUI/docs/

Over to the new repository.

[2020-11-27 10:24] gep13 commented on #795
I am going to close this off, let me know if you have any questions.

[2020-11-27 10:24] #795 closed

[2020-11-27 13:35] gep13 commented on #797
Related issue here: https://github.com/chocolatey/docs/issues/75

[2020-12-03 11:54] simonhollingshead commented on #786
Agreed.  My brain just looks for a menu item beginning with 'U' when doing updates, and since for some reason the right click menu has 'uninstall' further up than 'update,' I've uninstalled packages I meant to update in excess of ten times this year so far.

[2020-12-03 14:41] punker76 commented on #786
@opusforlife2 @simonhollingshead Which version are you using? Because we made already some changes to the menu, because of the same reason (pre-release 0.18.x).

![image](https://user-images.githubusercontent.com/658431/101042593-a62bbb00-357d-11eb-8b5d-9b8b10599482.png)

Related to #745 #753

/cc @gep13

[2020-12-03 15:10] simonhollingshead commented on #786
Oh, awesome.  I'm using the latest one the chocolatey package installed, which appears to be 0.17.2.0.  That change in 0.18 looks nice.

[2020-12-03 18:37] opusforlife2 commented on #786
Same. 0.17.2.

[2020-12-03 18:47] gep13 commented on #786
There are details on the readme of this repository for how you can try out the latest pre-release version.

Would be good to get some feedback on it.

[2020-12-03 20:20] simonhollingshead commented on #786
I've updated to version 0.18.0-alpha.426.  I do like the new order.  I'm not sure if it's quite as safe (not that I've tested) as an actual confirmation dialog would be, but I expect I'll make less misclicks now regardless.

[2020-12-04 09:07] opusforlife2 commented on #786
I think it would be better to have a confirmation dialogue at least in the case of Uninstall, but preferably for Reinstall as well. Isn't it common practice in OS's and other software that a change which can cause data loss is always accompanied by a confirmation?

[2020-12-07 16:28] Bruno21 commented on #773
Crash on start too.

![chocolateyguy](https://user-images.githubusercontent.com/4353024/101377052-a693c100-38b1-11eb-8323-173c9dde3d91.png)

[2020-12-09 09:20] xmedeko commented on #533
I see the work on this improvement has stopped. IMO dynamic change is not necessary, I would be happy with change locale and restart the app.

[2020-12-11 08:30] manuc66 opened #798 "Unhandled Exception - System.InvalidOperationException - annot read keys when either application does not have a console or when console input has been redirected from a file"
Hi,

I'm launching the GUI and it keep crashing with this message:
[code]

It is probably due to the fact that the nuget server user is requiring a password:
![image](https://user-images.githubusercontent.com/5827164/101880593-79862d80-3b93-11eb-82ea-e105132d8d7d.png)

[2020-12-11 13:28] manuc66 commented on #798
Disabling the package source with the command line was a workaround, but I wouldn't have expected the GUI to crash

[2021-01-03 12:23] scls19fr opened #799 "Unhandled exception"
Hello,

Chocolatey GUI is raising an unhandled exception when listing packages from chocolatey.

[code]

I don't know exactly what is wrong with my install ...

Any idea?

Kind regards

[2021-01-03 12:49] scls19fr commented on #799
I think it's related to https://github.com/chocolatey/choco/issues/717

I found empty file using

    ChildItem C:\ProgramData\chocolatey\lib\*\*.nu* | where Length -lt 1kb | Sort-Object Length -Descending

After deleting it... it works fine.

[2021-01-03 12:49] #799 closed

[2021-01-09 15:14] jrfnl opened #800 "Provide installation examples that work from command prompt as well as PowerShell"
When installing ChocolateyGui and passing package parameters on install as per the example on [the package page](https://chocolatey.org/packages/ChocolateyGUI), the parameters are not actually set for the package.

**CLI used**: `cmd` / run as admin
**Choco**: 0.10.15
**ChocolateyGUI**: 0.17.20

Command passed:
[code]

When opening the GUI once the command has finished and going to `settings`, the

[2021-01-10 04:46] AdmiringWorm commented on #800
Since you are installing through `cmd`, you can not use `$true` (this is used in PowerShell to expand to `True`).
The lines you link to shows that the parameters are incorrect.

Try installing with:
[code]

[2021-01-13 11:55] sneuweger opened #801 "Crash on Application start - kernelbase.dll error"
When i start the app i get a massive long error message which unfortunately i am not able to copy.
I checked the application log in the event viewer and found the following errors:

- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Application Error" />
  <EventID Qualifiers="0">1000</EventID>
  <Version>0</Version>
  <Level>2</Level>
  <Task>100<

[2021-01-18 12:14] ezxpro opened #802 "Show trustworthiness and virusscan status in the GUI"
AS of now, there's no way of knowing if a package is trusted or check it's virus scan via the GUI.

Also would be useful to be able to review the install script from the GUI

[2021-01-19 11:26] aminya opened #803 "Extremely slow load time"
It loads almost a minute for chocolatey GUI to load. This is while my whole Edge browser loads in under a second.

[2021-01-24 16:48] eyalroz opened #804 "When package update fails, message should link to the log"
I'm using the latest released ChocolateyGUI, and am trying update the CUDA package. The update fails - which is not your problem in itself - but the failure dialog does not make it easy enough for me to access the log and examine the failure.

We should be able to:

1. Copy the log's full path.
2. Better yet, have a link to the log which opens it in a text editor or some other application.
3. Poss

[2021-01-24 16:50] eyalroz opened #805 "Should be able to copy the text of failure messages"
Currently, when you get a failure message - e.g. a package update failure message - you cannot select and copy the text in the dialog. That is inconvenient, and particularly troublesome for getting support: Both in order to search for relevant substrings, and to provide the error message text to a supporting person.

[2021-01-25 11:22] gep13 commented on #602
This has now been implemented, and is available in the latest package from the Chocolatey MyGet feed (see the readme for more information) and it will ship as part of the 0.18.0 release of Chocolatey GUI.

Chocolatey GUI has always had a data.db file in the users appdata folder:

![image](https://user-images.githubusercontent.com/1271146/105696197-e57de480-5efa-11eb-8006-2b5046f90e07.png)

which h

[2021-01-25 11:22] #602 closed

[2021-01-31 13:38] timon89 opened #806 "Crash everytime on loading details"
This is a bug:

Chocolatey GUI crash everytime on loading details of any package!

I use: Win10 Pro Build 19042 (Version 20H2)

![ChocolateyGUI](https://user-images.githubusercontent.com/59319696/106385262-b6221880-63cf-11eb-809a-e2c6e9804225.gif)

![image](https://user-images.githubusercontent.com/59319696/106385409-7e67a080-63d0-11eb-9c05-997d0eb042d9.png)

Error on Windows Eventlog:
![image](ht

[2021-02-01 07:18] gep13 commented on #806
@timon89 sorry to hear that you are having issues!

Can you please confirm what graphics card is being used on the machine where Chocolatey GUI is installed?

We have seen an issue similar to this where an integrated Intel Graphics card was being used.  The solution here was to update the driver for the card.

This may not be the same driver that you require, but it is the one that solved the prob

[2021-02-01 07:21] gep13 commented on #801
@sneuweger can you please try the following...

* Close Chocolatey GUI
* Open the following folder in Windows Explorer `C:\Users\<your username>\AppData\Local\Chocolatey GUI`
* Delete all files that are contained within there
* Try opening Chocolatey GUI

Does this help?

[2021-02-01 07:22] gep13 commented on #797
This has been completed.

[2021-02-01 07:22] #797 closed

[2021-02-01 07:23] gep13 commented on #798
A crash in the Chocolatey GUI is certainly not ideal, no.

Is there any reason that you haven't stored the username/password for the source via the `choco source add` command?

That should then allow the source to be viewed in Chocolatey GUI.

[2021-02-01 07:24] gep13 commented on #793
@t3t3 can you please confirm what version of Chocolatey GUI is being used here?

@punker76 are there any known issues with regard to MahApps in this area?  Thanks

[2021-02-01 07:27] gep13 commented on #803
@aminya there are a number of things happening with Chocolatey GUI loads up, for example, calculating which packages are outdated, which packages are installed, etc.

Can you please provide some more information about your setup?

For example, what version of Chocolatey GUI are you using?
How many packages do you have installed?
How many of those packages are outdated?
How many sources do you have

[2021-02-01 07:37] punker76 commented on #793
@gep13 It seems like that there is something wrong if the taskbar is on the left or top of the screen. Idk what it is, it could also a change from windows 10 itself (tested on 1909 18363.1316). So this issue can be transfer to MahApps.

[2021-02-01 07:45] gep13 opened #807 "Chocolatey GUI doesn't always shows the right list of software"
There seems to be an issue, where it is possible for Chocolatey GUI to display the incorrect list of packages, when clicking on a remote source.

## Steps to reproduce

* Open Chocolatey GUI
* Before the list of local packages is fully populated click on one of the remote sources
* Once this is loaded, rather than showing the first 50 packages from the remote source, you will see the packages from

[2021-02-01 07:59] gep13 commented on #793
@punker76 would you like to be create an issue, or are you already doing that?

[2021-02-01 08:01] punker76 commented on #793
@punker76 not yet

[2021-02-01 08:55] #807 closed

[2021-02-01 09:30] gep13 commented on #807
:tada: This issue has been resolved in version 0.17.3 :tada:

The release is available on:

- [GitHub Release](https://github.com/chocolatey/chocolateygui/releases/tag/0.17.3)
- [Chocolatey Package](https://chocolatey.org/packages/chocolateygui/0.17.3)

Your **[GitReleaseManager](https://github.com/GitTools/GitReleaseManager)** bot :package::rocket:

[2021-02-01 19:00] manuc66 commented on #798
I may have configured the feed from the GUI

[2021-02-05 17:11] adilio opened #808 "Add configuration parameter to specify which source should be defaulted to when application loads"
Hi @gep13! Firstly, let me say the work you're doing here is great, and I LOVE using ChocolateyGUI 😁 . I may be biased.

It would be _very_ useful for admins to be able to control which source gets defaulted to when ChocolateyGUI first opens. Something like a "preferredsource" parameter?

Whether this is a C4B-only feature or OSS one, is entirely up to you. Admins have told us numerous times that

[2021-02-05 22:41] aminya commented on #803
All of the things you are describing can be written so they are async background services and that should run other threads. The number of packages does not justify the slow load time. I have many extensions in my browser, but the browser loads instantly.

I have only one source which is the default choco server, and this is the version:

![image](https://user-images.githubusercontent.com/16418197

[2021-02-05 22:52] aminya commented on #790
[code]

[2021-02-06 22:40] mwallner commented on #803
hey @aminya, there are some issues in the current nuget/ODATA provider that Chocolatey uses to communicate with repositories.

If you could answer @gep13 's quesions
* how many packages do you have installed
* how many of them are outdated
* how many source do you've got configured

.. that may give us some idea on why the load performance is so bad at your machine.
how long does a plain `choco ou

[2021-02-06 22:56] aminya commented on #803
I understand that checking for the outdated packages might take a long time, but I don't understand why this checking should happen during the startup in a blocking manner. Usually, the programs do their best to not block the UI by making everything run asynchronously and on other threads.

Here is more info in case it helps:

[code]

[code]

[2021-02-09 08:19] hkeibel commented on #639
This issue still seems to be present.
It consistently occurs on my PC which I just set up with a clean install of Windows 10 and Chocolatey.

[code]

In the Windows event logs, the issue occurs in combination with an error event in .NET Runtime:
[code]

The second error event then happens at the very same timestamp:
[code]

Would you rather like me to open a new ticket for this?

[2021-02-09 08:28] punker76 commented on #639
@hkeibel I think this will be fixed with the next 0.18 release, because we dropped the ImageMagick lib. You can try the pre-release until 0.18 come out https://github.com/chocolatey/ChocolateyGUI#installation

/cc @gep13

[2021-02-09 08:59] hkeibel commented on #639
@punker76
Thanks a lot, that's good news.
The pre-release for 0.18 does not seem to be available yet. Can you give me a rough estimate as to when it will be available.

[2021-02-09 09:03] gep13 commented on #639
@hkeibel the pre-release is available. The instructions for getting it are in the link the @punker76 provided.

[2021-02-09 09:13] hkeibel commented on #639
@gep13
Yes, I followed those instructions and executed this:
[code]

But I got a failure message
[code]

To me it looks like the cause is that https://www.myget.org/F/chocolateygui/ currently does not list any packages:
[code]

That's why I concluded the pre-release is not yet available...

[2021-02-09 09:56] hkeibel commented on #639
@gep13
Update:
I managed to install the most recent pre-release version by specifying it explicitly:
[code]

This is also documented at:
https://www.myget.org/feed/chocolateygui/package/nuget/chocolateygui/0.18.0-alpha0432

[2021-02-09 17:35] ryanrichter94 opened #810 "ChocolateyGUI - Bug When Setting Chocolatey.licensed Source to Admin Only"
## Description
Chocolatey GUI as well as CLI experience errors when setting the chocolatey.licensed source to admin only.

## Issue Repro
Run `choco source add -n=chocolatey.licensed -s=https://licensedpackages.chocolatey.org\api\v2\ --adminonly`
The run `choco source list`

## Explanation
When running this command no error immediately shows within Chocolatey however if you run `choco source list`

[2021-02-10 17:41] BPDunbar commented on #806
I have been having the same issue.

I have tried uninstalling and reinstalling. which hasn't helped.

My graphics card is an NVIDIA GeForce GTX 750 Ti. so it is affecting computers with entirely different graphics drivers.

My windows event log:

Log Name:      Application
Source:        Application Error
Date:          10/02/2021 05:28:07 PM
Event ID:      1000
Task Category: (100)
Level:

[2021-02-11 15:15] ferventcoder commented on #810
## Workaround

`choco source add -n=chocolatey.licensed -s=https://licensedpackages.chocolatey.org\api\v2\ --adminonly --user customer --password licenseguid --priority 10` (grab the guid from your license file)

When you update a source, you need to ensure you are passing all things to it again. The actual bug appears to be something in Chocolatey open source expecting user/password when the sour

[2021-02-11 15:16] ferventcoder commented on #810
I'm going to transfer this over to Chocolatey FOSS.

[2021-02-11 15:17] ferventcoder commented on #810
Nevermind on that last comment - would like to get confirmation and then transfer over.

[2021-02-11 19:06] BPDunbar commented on #806
Tried a clean install of the graphics driver. It is now working.

[2021-02-12 10:52] gep13 commented on #808
@adilio thank you for raising this.  I had a chat with @ferventcoder and we decided that this would be a Business Customer feature, which would require an update to the Chocolatey GUI Licensed Extension in order to light up this feature.

Related issue was created here: https://github.com/chocolatey/chocolatey-licensed-issues/issues/198

[2021-02-12 10:54] gep13 commented on #808
**NOTE:** While this feature toggle will exist within the OSS version of Chocolatey GUI, it will not be used, and this feature will only be acted on by the Chocolatey GUI Licensed Extension.

[2021-02-12 10:56] gep13 opened #811 "Add feature toggle to prevent attempting to download icons for packages"
NOTE: While this feature toggle will exist within the OSS version of Chocolatey GUI, it will not be used, and this feature will only be acted on by the Chocolatey GUI Licensed Extension.

Related issue was created here: https://github.com/chocolatey/chocolatey-licensed-issues/issues/199

[2021-02-12 15:08] gep13 commented on #808
Re-opening this, as there will be some work to make it possible to override this functionality in the Chocolatey GUI Licensed Extension.

[2021-02-12 19:46] #808 closed

[2021-02-12 19:46] gep13 commented on #811
Re-opening this, as there will be some work to make it possible to override this functionality in the Chocolatey GUI Licensed Extension.

[2021-02-12 20:24] gep13 commented on #811
The core logic within the InternetImage control has been extracted into a PackageIconService, which will mean that this can be overridden when required.

[2021-02-12 20:24] #811 closed

[2021-02-12 20:27] gep13 opened #813 "Modify DataGrid column to wrap text within cell"
Currently, within the settings screen, a lengthy description will not be fully visible

![image](https://user-images.githubusercontent.com/1271146/107819078-7d3f5780-6d70-11eb-9d02-14cd53f3cb9b.png)

It should wrap the text so that it is always visible:

![image](https://user-images.githubusercontent.com/1271146/107819157-9d6f1680-6d70-11eb-8740-77ccc42478d6.png)

[2021-02-12 20:33] #813 closed

[2021-02-12 20:50] gep13 opened #814 "Switch build to use Visual Studio 2019"
## Benefits

* Using the latest VS means that the build errors are tested and diagnosed for the latest VS version.
* It is already 2021, and Microsoft may release Visual Studio 2021 soon.
* New Visual Studio usually means better runtime performance.

[2021-02-12 21:15] #814 closed

[2021-02-14 12:35] gep13 commented on #657
Seems like this was actually duplicated by this issue:

https://github.com/chocolatey/ChocolateyGUI/issues/808

Which has been implemented as part of the Chocolatey GUI Licensed Extension, so this issue can be closed.

[2021-02-14 12:35] #657 closed

[2021-02-14 12:42] gep13 commented on #519
This was actually duplicated by the creation of this issue: https://github.com/chocolatey/ChocolateyGUI/issues/807 and was addressed as part of the Chocolatey GUI 0.17.3 release.

As such, I am going to close out this issue.

[2021-02-14 12:42] #519 closed

[2021-02-16 09:52] #780 closed

[2021-02-17 00:24] Windos opened #815 "UX Feedback: Out of Date label feels like a button"
While checking out Choco GUI it picked up that I had two out of date packages and labelled them as such the Latest Version column.

My initial instinct was to click the label and I was expecting to be prompted to confirm my desire to update the packages.

It actually took me a little longer than I'd like to admit to to realise I had to right click on the package(s) to get at the update option (I h

[2021-02-24 12:37] nascentt opened #816 "Refresh button and Update all button use the same icon"
For some reason the refresh button and the update all buttons in chocolateygui 0.17.3 are the exact same rounded arrows (only differentiated with an asterisk).

This immediately looks like update and update all buttons.
The update button should be much more visually different from the update buttons.

[2021-03-05 11:48] #685 closed

[2021-03-05 13:26] gep13 opened #818 "Unable to correctly see some package icons when using dark theme"
With the release of 0.18.0 of Chocolatey GUI, we included the ability to toggle between a light/dark mode for the application.

Some package icons appear difficult to see when you switch to the dark mode, as shown in this Tweet:

https://twitter.com/Tim18784240/status/1365655911432355846

This is similar to what happens on the Chocolatey website as well:

![image](https://user-images.githubusercon

[2021-03-05 13:28] gep13 commented on #816
@nascentt do you have any suggestions on what icons should be used here?

[2021-03-05 13:37] gep13 commented on #815
Just to provide some context around this issue, I am assuming that you are talking about the `Out of date` banner which is shown in this mock up of Chocolatey GUI:

![image](https://user-images.githubusercontent.com/1271146/110122181-2fd66900-7db7-11eb-9c50-ec67144879da.png)

This is shown as the following when using the tile view:

![image](https://user-images.githubusercontent.com/1271146/110122

[2021-03-05 14:43] nascentt commented on #816
Hi @gep13
no personal preference, the fastest fix would probably be to change the update button to look less rounded
if i google image search an example, maybe something like [this](https://www.pngkit.com/png/full/84-845323_update-icon-update-icon.png) ?
I'm not a graphics artist but concept
![refresh concept](https://user-images.githubusercontent.com/1145722/110130636-218d4a80-7dc1-11eb-80bd-1bf7